Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

Stage 4: Remove Legacy Services Directory
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/services/dehumidify_services.py
  custom_components/ramses_extras/services/fan_services.py
Due: debugs

cleanup stage 9 complete, still testing needed
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/common/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/helpers/__init__.py
  custom_components/ramses_extras/helpers/automation.py
  custom_components/ramses_extras/helpers/automation/__init__.py
  custom_components/ramses_extras/helpers/automation/base.py
  custom_components/ramses_extras/helpers/broker.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/helpers/entities.py
  custom_components/ramses_extras/helpers/entity.py
  custom_components/ramses_extras/helpers/platform.py
  custom_components/ramses_extras/managers/__init__.py
  custom_components/ramses_extras/managers/automation_manager.py
  custom_components/ramses_extras/managers/card_manager.py
  custom_components/ramses_extras/managers/device_monitor.py
  custom_components/ramses_extras/managers/entity_manager.py
  custom_components/ramses_extras/managers/platform_reloader.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  custom_components/ramses_extras/websocket_api.py
  docs/CLEANUP_COMPLETE.md
  setup.py
  test_helpers.py
  tests/helpers/test_entity_naming.py
  tests/managers/test_device_monitor.py
Due: prettier, debugs

new structure: fix some import errors
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/entities.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/platform.py
  docs/FILES_NO_LONGER_NEEDED.md
Due: prettier, debugs

fix unique id issue
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
Due: debugs

some entity fixes
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/switch.py
Due: debugs

fix base_entity
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/framework/base_classes/__init__.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
Due: debugs

fix entity template system nicer entity names (with templates)
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  test_switch_debug.py
Due: debugs

fix toggle dehumidfy switch (manager not found) refactor imports to be explicit
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity_core.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/managers/feature_manager.py
  custom_components/ramses_extras/switch.py
  test_switch_debug.py
Due: debugs

fix entity trailing s
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity_core.py
Due: debugs

fix invalid state for switch
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
Due: debugs

fix entities not getting values
  custom_components/ramses_extras/framework/helpers/entity/core.py
Due: debugs

fix abs humid entities not being updated
  custom_components/ramses_extras/framework/helpers/entities.py
  custom_components/ramses_extras/sensor.py
Due: debugs

dehumidify not triggered and working move feature specific code from binary_sensor to feature
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/switch.py
Due: debugs

humid control fix: only active when switch is on fix speed settings move docs to feature folder
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/docs/DEHUMIDIFY_PLAN.md
  custom_components/ramses_extras/features/humidity_control/docs/DEHUMIDIFY_TODOS.md
  custom_components/ramses_extras/features/humidity_control/docs/HUMIDITY_AUTOMATION_ENTITY_NAMING_FIX.md
  custom_components/ramses_extras/features/humidity_control/docs/humidity_automation_flow.md
  custom_components/ramses_extras/features/humidity_control/services.py
Due: prettier, debugs

refactor const definiition to features
  ENTITY_ORGANIZATION_STRATEGY.md
Due: prettier, debugs

refactor const definitions
  complete_verification.py
  custom_components/ramses_extras/features/default/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_sensors/__init__.py
  custom_components/ramses_extras/features/humidity_sensors/const.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/registry.py
  test_const_files_only.py
  test_entity_aggregation.py
  test_entity_aggregation_direct.py
  test_entity_aggregation_simple.py
  test_implementation_success.py
  test_simple_aggregation.py
  verify_implementation.py
Due: debugs

fix test
  test_entity_aggregation_simple.py
Due: debugs

remove definitions from root const.py fix all the old imports to the new registry
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/framework/helpers/entity_core.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  test_switch_debug.py
Due: debugs

fix blocking async: make registry global
  complete_verification.py
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/default/__init__.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/framework/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/registry.py
  custom_components/ramses_extras/framework/helpers/entity_core.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  test_const_files_only.py
  test_entity_aggregation.py
  test_entity_aggregation_direct.py
  test_entity_aggregation_simple.py
  test_helpers.py
  test_implementation_success.py
  test_simple_aggregation.py
  test_switch_debug.py
  tests/test_const_consolidation_verification.py
  tests/test_registry.py
Due: debugs

rm old test_name_templates test
  tests/helpers/test_entity_naming.py
Due: none

rm old test_platform.py
  tests/helpers/test_platform.py
Due: none

fix old const references to new registry added default feature to const merge regs instead of overwrite when adding features fix mypy issues
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/sensor.py
Due: debugs

fix humid control: get right entity values
  custom_components/ramses_extras/const.py
  test_automation.py
  test_fix.py
Due: debugs

bump to 0.7.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

clean-up: features folder clean-up some tests
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/fan_control/__init__.py
  custom_components/ramses_extras/features/humidity_sensors/__init__.py
  custom_components/ramses_extras/features/humidity_sensors/const.py
  custom_components/ramses_extras/features/sensor_management/__init__.py
  custom_components/ramses_extras/features/websocket_handler/__init__.py
  test_automation.py
  test_fix.py
Due: debugs

move doc files for now
  docs/ARCHITECTURE_MIGRATION_PLAN.md
  docs/AUTOMATION_REFACTORING_PLAN.md
  docs/CLEANUP_FINAL_STATUS.md
  docs/ENTITY_ORGANIZATION_STRATEGY.md
  docs/FEATURE_CENTRIC_ARCHITECTURE.md
  docs/FRAMewORK_MIGRATION_BENEFITS.md
Due: prettier, debugs

refactoring feature specific code out of the root platform files
  ARCHITECTURAL_CLEANUP_PLAN.md
  FEATURE_PLATFORM_CLEANUP_FINAL_STATUS.md
  FEATURE_PLATFORM_CLEANUP_IMPLEMENTATION_PLAN.md
  custom_components/ramses
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platform
  custom_components/ramses_extras/features/humidity_control/platforms/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/number.py
Due: prettier, debugs

only calc abs humid when values changed->listeners, no more polling remove debouncing logic fix automation not found when switch on fix: add fan to low speed method
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  test_humidity_caching.py<
Due: debugs

fix test
  tests/managers/test_humidity_automation.py
Due: none

fix test workflow
  .github/workflows/check-test.yml
  .github/workflows/tests.yml
Due: debugs

Create LICENSE
  LICENSE
Due: debugs

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier, debugs

loads of doc clean up and updates fix: humidity calculation and decision
  ARCHITECTURAL_CLEANUP_PLAN.md
  CLEANUP_PLAN.md
  CONTRIBUTING.md
  FEATURE_PLATFORM_CLEANUP_FINAL_STATUS.md
  FEATURE_PLATFORM_CLEANUP_IMPLEMENTATION_PLAN.md
  README.md
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/docs/DEHUMIDIFY_PLAN.md
  custom_components/ramses_extras/features/humidity_control/docs/DEHUMIDIFY_TODOS.md
  custom_components/ramses_extras/features/humidity_control/docs/Humidity Control Decision Flow Diagram - original.md
  custom_components/ramses_extras/features/humidity_control/docs/humidity_automation_flow.md
  docs/ARCHITECTURE.md
  docs/ARCHITECTURE_MIGRATION_PLAN.md
  docs/AUTOMATION_REFACTORING_PLAN.md
  docs/CLEANUP_COMPLETE.md
  docs/CLEANUP_FINAL_STATUS.md
  docs/CLEANUP_PROGRESS.md
  docs/ENTITY_ORGANIZATION_STRATEGY.md
  docs/FEATURE_CENTRIC_ARCHITECTURE.md
  docs/FRAMewORK_MIGRATION_BENEFITS.md
  docs/LEGACY_FILES_AUDIT.md
  tests/managers/test_humidity_automation.py
Due: prettier, debugs

readme corrections fix humidty_automation pytest
  README.md
  tests/managers/test_humidity_automation.py
Due: prettier, debugs

bump to 0.7.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

refactor script files from root to script folder
  Makefile
  README_DEV.md
  scripts/activate_dev.sh
  scripts/device-detection-test.js
  scripts/mypy_clean.sh
  scripts/setup_eslint.sh
  scripts/test-lint.sh
  scripts/use_venv.sh
Due: eslint, prettier, debugs

more clean-up (root)
  .eslintrc.json
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  README_DEV.md
  config/.eslintrc.json
  config/.pre-commit-config.yaml
  config/.prettierignore
  config/.prettierrc
  config/eslint.config.js
  config/mypy.ini
  config/package-lock.json
  config/package.json
  custom
  custom_components/ramses_extras/translations/en.json
  eslint.config.js
  mypy.ini
  package-lock.json
  package.json
  scripts/local-ci.sh
  scripts/setup_eslint.sh
  scripts/setup_js.sh
  test_humidity_caching.py<
  tests/frontend/README.md
Due: eslint, prettier, debugs

restore translation files
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
Due: prettier, debugs

get rid of some rubbish in readme
  README.md
Due: prettier, debugs

const (root) reverted to minimal fix entities not found
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/humidity_control/automation.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
