Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

remove old deployed www versions register versioned www
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/setup/cards.py
  docs/mytodo.txt
  tests/framework/helpers/test_card_registry.py
  tests/test_card_deployment.py
Due: debugs

css use standard ha colors (theme support)
  custom_components/ramses_extras/features/hello_world/www/hello_world/card-styles.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/airflow-diagrams.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

update doccs
  README.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
Due: prettier, debugs

update hvac-fan screenshots
  docs/hvac_fan_card_1.png
  docs/hvac_fan_card_2.png
  wiki_page_on_cc.md
Due: prettier, debugs

prepare ramses debugger feature
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/mytodo.txt
Due: prettier, debugs

more details on the ramses_debugger todo
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/mytodo.txt
Due: prettier, debugs

ramses_debugger step 1
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/ramses_debugger/__init__.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/main.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

feat(ramses_debugger): traffic collector + websocket stats API
  custom_components/ramses_extras/features/ramses_debugger/__init__.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
Due: prettier, debugs

fix features.py linelenght bug
  custom_components/ramses_extras/framework/setup/features.py
Due: debugs

fix features.py linelength bug
  custom_components/ramses_extras/framework/setup/features.py
Due: debugs

feat(ramses_debugger): traffic analyser card MVP added translation files
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/translations/en.json
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/translations/nl.json
  custom_components/ramses_extras/framework/setup/devices.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
Due: eslint, prettier, debugs

feat(ramses_debugger): log explorer websocket API (tail/search/context)
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  tests/features/ramses_debugger/test_ramses_debugger_log.py
  tests/test_config_flow.py
Due: prettier, debugs

feat(ramses_debugger): log explorer card MVP
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/translations/en.json
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/translations/nl.json
Due: eslint, prettier, debugs

feat(ramses_debugger): cross-filter traffic to log explorer
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

refactor(ramses_debugger): harden log search + add limits
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  tests/features/ramses_debugger/test_ramses_debugger_log.py
Due: prettier, debugs

ramses_debugger tweaks
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

adjust bg colors traffic analyser
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

packet log explorer preparations
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

add message popup
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

feat(ramses_debugger): unified messages API (traffic/packet/ha log)
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: debugs

fix(tests): improve test reliability for messages API
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: none

fix tests
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: debugs

feat(ramses_debugger): packet log explorer (backend + card) fix traffic Analyzer columns
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/framework/www/main.js
  docs/mytodo.txt
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_ramses_debugger_log.py
  tests/test_config_flow.py
Due: eslint, prettier, debugs

update todo with adjustments to ramses debugger fix ha warning (encoding)
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/mytodo.txt
Due: prettier, debugs

traffix analyzer fixes
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

more traffic analyzer fixes
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

fix traffic - source: ha_log
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

log explorer fixes messages: toggle parsed/payload color highliging improvements
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

more fixes
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

add bound to Readme
  README.md
Due: prettier, debugs

Architecture.md update
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

readme fix
  README.md
Due: prettier, debugs

fix blocking call on load_all_features lots of tweaks on ramses_debugger
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/setup/features.py
Due: eslint, prettier, debugs

fix potential blocking calls
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/framework/helpers/test_config_flow_helper.py
Due: prettier, debugs

add ramses_debugger docs/png
  README.md
  docs/HALogExplorer.png
  docs/PacketLogExplorer.png
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/TrafficAnalyser.png
Due: prettier, debugs

increase pytest coverage
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/mytodo.txt
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_ramses_debugger_log.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: prettier, debugs

more tests
  tests/features/default/test_default_websocket_commands.py
  tests/features/ramses_debugger/test_messages_provider.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
Due: none

fix rerender problems fix text in result boxes to be selectable fix max width for cards: yaml option when adding a new card
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  tests/features/humidity_control/test_humidity_services.py
Due: eslint, prettier, debugs

bump to 0.13.0
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

update TOC
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
