Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

make desired speed editable from config step
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_const.py
Due: debugs

fix automation not using resolver entities
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/features/temp_control/test_temp_control_automation.py
Due: prettier, debugs

fix compatibility issue on PacketDTO format (addr1, ... vs src.id, ...
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/test_transport_monitor.py
Due: debugs

update progress
  docs/TEMP_CONTROL_FEATURE_PLAN.md
Due: prettier, debugs

add safety net for manual override (against pendeling the bypass) add logic for is_manual_override_active and _reconcile_startup_states
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/temp_control/automation.py
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/features/temp_control/test_temp_control_automation.py
Due: prettier, debugs

implement area/zone -temp control
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/features/temp_control/automation.py
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/features/temp_control/test_temp_control_automation.py
Due: prettier, debugs

update plan file
  docs/TEMP_CONTROL_FEATURE_PLAN.md
Due: prettier, debugs

add tests small bugfixes
  custom_components/ramses_extras/features/temp_control/automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
  tests/features/temp_control/test_temp_control_config_flow.py
  tests/features/temp_control/test_temp_control_platforms.py
Due: debugs

fix security issue: Transitive dependency js-yaml 3.14.1 is introduced via
  config/package-lock.json
  package.json
Due: prettier, debugs

fix security issue: Transitive dependency form-data 4.0.4 is introduced via
  config/package-lock.json
  package.json
Due: prettier, debugs

fix bug: fan config, internal sensors, entitySelector rejects None bugfix: card doesn't update after fan entities resolver are changed
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

bug fix: persist sensor_control_section
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/sensor_control/device_types/test_fan.py
Due: debugs

bump to 0.20.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix linter issues update README.md
  README.md
  config/.prettierignore
  config/package-lock.json
Due: prettier, debugs

fix issue 86
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  tests/framework/test_ramses_message_stream.py
Due: debugs

bump to 0.20.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix humidity not showing fix RamsesMessageStream never started (without debugger or simulator enabled)
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/websocket_commands.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  tests/features/default/test_default_websocket_commands.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
Due: eslint, prettier, debugs

fix humidity not showing
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
Due: eslint, prettier, debugs

add fallbacks for older versions of RF for both humidity and remaining filter time
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
Due: eslint, prettier, debugs

another fix for filter remaining
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix async error
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix shouldUpdate filter_remaining_enitiy not present in cached mappings
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix remaining days
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

fix remaining_mins not updated on card cleanup comments
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

fix temperatures overlapped on smaller devices
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
Due: eslint, prettier, debugs

fix Temp control UI to align with the other controls
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

add dewpoint guard
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_config_flow.py
Due: debugs

fix select platform not being unloaded
  custom_components/ramses_extras/framework/setup/entry.py
Due: debugs

update plan
  docs/TEMP_CONTROL_FEATURE_PLAN.md
Due: prettier, debugs

bump to 0.20.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

add a 30s debounce for temp control preventing too rapid updates
  custom_components/ramses_extras/features/temp_control/automation.py
Due: debugs

bump 0.20.3
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix button showing while temp control not enabled
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
Due: eslint, prettier, debugs

fix card validator
  custom_components/ramses_extras/framework/www/card-validation.js
Due: eslint, prettier, debugs

monkey patch for ramses_rf 719
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/helpers/ramses_tx_patches.py
Due: debugs

bump to 0.20.3
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

clean up log entries
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_coverage.py
Due: debugs

cache created for config manager downgraded logs in config/core.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
Due: debugs

fix co2 control add threshold and other options to card and config step remove more log spam
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/config_flow.py
  custom_components/ramses_extras/features/co2_control/const.py
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/helpers/common/utils.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/co2_control/test_co2_control_const.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: eslint, prettier, debugs

bump to 0.20.5
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs
