Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

sensor source ph 2-5
  README.md
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  docs/SENSOR_SOURCES_ROADMAP.md
Due: eslint, prettier, debugs

sensor control: move const from resolver to const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
Due: debugs

fix sensor control flow add existing mapped entities overview on sensor config flow fix hvac card listening to mapped co2 sensor
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  docs/todo.md
Due: eslint, prettier, debugs

sensor control: simplify co2 devices from list to map refactor devices to their own device_types/fan.py steps etc for improved architecture
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/device_types/__init__.py
  custom_components/ramses_extras/features/sensor_control/device_types/co2.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  docs/todo.md
Due: prettier, debugs

sensor control: fix some issues, integrate with default, humid control and hvac features update Architecture and read me
  README.md
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/todo.md
Due: prettier, debugs

bump to 0.10.2
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

hvac card: move mappings to settings render add sources for mapped entities
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

clean up improve test coverage
  custom_components/ramses_extras/framework/helpers/entities.py
  docs/SENSOR_SOURCES_ROADMAP.md
  docs/todo.md
  pyproject.toml
  requirements_test.txt
  scripts/local-ci.sh
  tests/framework/base_classes/test_base_card_manager.py
  tests/framework/base_classes/test_base_classes_init.py
  tests/framework/base_classes/test_base_entity.py
  tests/framework/base_classes/test_platform_entities.py
  tests/helpers/framework/test_device_core.py
  tests/helpers/framework/test_entities.py
  tests/helpers/framework/test_entity_core.py
  tests/helpers/service/test_core.py
  tests/helpers/service/test_service_init.py
  tests/platforms/test_number.py
  tests/platforms/test_switch.py
  tests/test_config_flow.py
  tests/test_init.py
  tests/test_sensor.py
Due: prettier, debugs

more tests
  conftest.py
  custom_components/ramses_extras/framework/helpers/service/registration.py
  tests/framework/base_classes/test_base_automation.py
  tests/framework/helpers/service/test_registration.py
  tests/framework/helpers/service/test_validation.py
  tests/framework/helpers/test_websocket_base.py
  tests/test_config_flow.py
Due: debugs

even more tests
  .gitignore
  config/.eslintignore
  config/eslint.config.js
  config/package-lock.json
  config/package.json
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  tests/edge_cases/test_error_handling.py
  tests/features/default/test_default_init.py
  tests/features/hello_world/test_hello_world_init.py
  tests/features/hvac_fan_card/test_hvac_fan_card_init.py
  tests/features/sensor_control/test_resolver.py
  tests/framework/helpers/config/test_core.py
  tests/framework/helpers/config/test_schema.py
  tests/framework/helpers/config/test_validation.py
  tests/framework/helpers/device/test_device_core.py
  tests/framework/helpers/entity/test_entity_core.py
  tests/framework/helpers/service/test_service_core.py
  tests/framework/helpers/service/test_service_validation.py
  tests/helpers/framework/test_device_core.py
  tests/helpers/framework/test_entity_core.py
  tests/helpers/service/test_helpers_service_core.py
  tests/integration/test_framework_integration.py
  tests/test_main_init.py
Due: eslint, prettier, debugs

tests
  custom_components/ramses_extras/framework/helpers/config/validation.py
  tests/features/hello_world/test_hello_world_automation.py
  tests/features/humidity_control/test_humidity_control_init.py
  tests/framework/helpers/config/test_validation.py
  tests/platforms/test_binary_sensor.py
  tests/platforms/test_sensor_platform.py
Due: debugs

tests
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/websocket_integration.py
  tests/framework/test_platform.py
  tests/test_websocket_integration.py
Due: debugs

create entities under devices clean up devices when orphanaged added tests
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/websocket_integration.py
  docs/todo.md
  tests/framework/helpers/test_websocket_base.py
  tests/framework/test_platform.py
  tests/test_config_flow.py
  tests/test_orphaned_device_cleanup.py
  tests/test_websocket_integration.py
Due: prettier, debugs

updated cleanup todo some cleanup add tests
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/framework/helpers/platform.py
  docs/todo.md
  tests/framework/test_platform.py
Due: prettier, debugs

clean up & add test for init
  custom_components/ramses_extras/__init__.py
  tests/test_main_init.py
Due: debugs

cleanup websocket registration add tests add plan to refactor how we load cards
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/websocket_integration.py
  docs/REFACTOR CARD REGISTRATION PLAN.md
  docs/todo.md
  tests/features/hello_world/test_websocket_commands.py
  tests/helpers/test_registry_websocket.py
  tests/test_websocket_integration.py
Due: prettier, debugs

remove double import of websocket commands
  custom_components/ramses_extras/__init__.py
  docs/todo.md
Due: prettier, debugs

fix case problems for lowercase params
  custom_components/ramses_extras/features/default/services.py
Due: debugs

extras_registry now sole registrar removed dupe _get_required_entities_from_feature added some tests
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/automation/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/core.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/platform.py
  docs/mytodo.md
  docs/todo.md
  tests/framework/base_classes/test_base_automation.py
  tests/startup/test_startup_flow.py
Due: prettier, debugs

fix sensor_control flow step
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

todos
  docs/mytodo.md
  docs/todo.md
Due: prettier, debugs

fix generic step not saving enabled devices fix websocket tests for config_flow
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/hello_world/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/websocket_integration.py
  docs/mytodo.md
  docs/todo.md
  tests/features/hello_world/test_websocket_commands.py
  tests/startup/test_startup_flow.py
  tests/test_config_flow.py
Due: prettier, debugs

fix dupes in platform, cleanup platform tests
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/framework/helpers/platform.py
  tests/framework/test_platform.py
Due: debugs

fix websockets not loading
  custom_components/ramses_extras/extras_registry.py
  docs/todo.txt
Due: debugs

fix default entities now use FAN slug fix default import sensor platform
  custom_components/ramses_extras/features/default/__init__.py
  custom_components/ramses_extras/features/default/commands.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  tests/features/default/test_default_init.py
Due: debugs

test default sensor platform
  custom_components/ramses_extras/features/default/platforms/sensor.py
  tests/features/default/test_default_sensor_platform_merged.py
Due: debugs

reduce log noise fix device_feature_matrix fix config_entry.options
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  docs/todo.txt
  tests/config_flow/test_config_flow_integration.py
Due: eslint, prettier, debugs

websocket now only register when a feature is enabled
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/websocket_integration.py
  docs/todo.txt
  tests/test_websocket_integration.py
Due: debugs

fix deprecation warning `async_track_state_change` updated test
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  docs/todo.txt
  tests/framework/base_classes/test_base_automation.py
Due: debugs

handle newly found devices (or ones that were missed on startup) avoid race conditions on startup by asyncio.Lock
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  docs/todo.txt
  tests/test_main_init.py
Due: debugs

fix ha safety error
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

remove unused helpers from platform.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

unify const and extras_registry
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  docs/todo.txt
Due: debugs

bump to 0.10.3
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  docs/todo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

add hacs.json
  hacs.json
Due: prettier, debugs

fix readme
  README.md
Due: prettier, debugs

CodeCov action
  .github/workflows/tests.yml
  pyproject.toml
Due: debugs

update readme with 2 screenshots
  README.md
  docs/hvac_fan_card_1.png
  docs/hvac_fan_card_2.png
Due: prettier, debugs

implement MutationObserver loader for minimal .js - no disabled cards are loaded in browser versioning on the deployed folders
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/card-validation.js
  custom_components/ramses_extras/framework/www/main.js
  custom_components/ramses_extras/framework/www/paths.js
  docs/mytodo.txt
  docs/todo.txt
  tests/framework/helpers/test_card_registry.py
  tests/startup/test_startup_flow.py
  tests/test_card_deployment.py
  tests/test_main_init.py
Due: eslint, prettier, debugs

update doc fix configuration error when adding a card: missing device_id
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: eslint, prettier, debugs
