Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

fix empty strings for id's without alias in traffic analyzer
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

bump 0.15.2
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

reduce log entries
  custom_components/ramses_extras/features/humidity_control/automation.py
Due: debugs

bump to 0.15.4
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

reduced log spam by lvl
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
Due: debugs

bump 0.15.5
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

cleanup on integration removal: Stops humidity_control automation gracefully Unloads services Unloads platforms Clears hass.data
  custom_components/ramses_extras/framework/setup/entry.py
Due: debugs

fix scroll when using zoom on certain systems - z-index fix
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
Due: eslint, prettier, debugs

bump 0.15.6
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

more style fixes
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
Due: eslint, prettier, debugs

bump 0.15.7
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

css fix: more specific pre selectors to fix search zoom scroll issue
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
Due: eslint, prettier, debugs

bump 0.15.8
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix path warning in config flow
  custom_components/ramses_extras/config_flow.py
Due: debugs

bypass ramses_cc servicelayer for packet sending (don't want to rely on RF configuration) use _cc_coordinator instead of old broker
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  tests/framework/helpers/test_ramses_commands.py
  tests/helpers/test_ramses_commands.py
Due: debugs

fix css: debugger scrollbars
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
Due: eslint, prettier, debugs

per device locking for update_fan_params to prevent overflowing _rf
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
Due: debugs

bump to 0.15.9
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

Remove WIP note from README
  README.md
Due: prettier, debugs

fix possible event loop blocking
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
Due: debugs

add console debug logging to track WS calls
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

add console logs for 31DA, 10D0
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
Due: eslint, prettier, debugs

bump to 0.15.10 pre-release
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

add fallback for missing 31DA event messages update wiki/readme for ramses cc config requirements
  README.md
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

bump 0.16.0
  custom_components/ramses_extras/manifest.json
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix possible blocking call in async_remove_entry
  custom_components/ramses_extras/framework/setup/entry.py
  docs/mytodo.txt
Due: debugs

Fix abs humidity sensors missing ramses_cc temperature sensors after namechange
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

fix blocking call scandir #49
  custom_components/ramses_extras/framework/setup/cards.py
Due: debugs

fix hvac fan card z-index issue 47
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
Due: eslint, prettier, debugs

Sensor Control - add translations
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/__init__.py
  custom_components/ramses_extras/features/sensor_control/device_types/co2.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
Due: prettier, debugs

bump to 0.16.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix translations for sensor control
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/translations/en.json
  custom_components/ramses_extras/features/sensor_control/translations/nl.json
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
Due: prettier, debugs

refactor entity helper for the new ramses_cc id format
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/entity_id_fallbacks.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
Due: debugs

fix humidity control automation to work with the new naming convention
  custom_components/ramses_extras/features/humidity_control/automation.py
Due: debugs

add tests for the entity id fallback
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/entity/test_entity_id_fallbacks.py
Due: none

fix dependabit security issues update to prek update required HA version
  .github/workflows/check-lint.yml
  .github/workflows/hacs-validate.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  config/.pre-commit-config.yaml
  config/package-lock.json
  config/package.json
  pyproject.toml
  requirements_dev.txt
  scripts/activate_dev.sh
  setup.py
Due: prettier, debugs

fix HA version
  .pre-commit-config.yaml
Due: none

fix linting error
  .github/workflows/check-lint.yml
  .github/workflows/tests.yml
Due: debugs

fix and update requirement versions
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  pyproject.toml
  requirements_dev.txt
  requirements_test.txt
  scripts/local-ci.sh
  setup.py
Due: debugs

fix hassfest issue fix remaining entity id compatibility and fallbacks
  .github/workflows/hassfest.yml
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  tests/features/default/test_default_websocket_commands.py
  tests/features/sensor_control/test_resolver.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
