Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

Fix ruff and mypy errors for zones export/import features
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/helpers/config/zones_yaml.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

move yaml inport/export to advanced Settings fix add zone (error variable)
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

Fix import error in main config_flow
  custom_components/ramses_extras/config_flow.py
Due: debugs

fix export yaml
  custom_components/ramses_extras/config_flow.py
Due: debugs

fix zone config
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

Fix ruff and mypy errors in sensor_control config_flow
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
Due: debugs

fix save zone
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/helpers/config/model.py
Due: debugs

fix save zone
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  tests/framework/helpers/config/test_model.py
Due: debugs

fix delete zone
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

add tests
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/features/sensor_control/test_sensor_control_config_flow_zones_simple.py
Due: debugs

add tests
  tests/features/co2_control/test_co2_control_config_flow.py
  tests/features/co2_control/test_co2_control_entities.py
  tests/features/co2_control/test_co2_control_services.py
  tests/features/co2_control/test_co2_control_websocket_commands.py
  tests/features/hello_world/test_hello_world_number_platform.py
  tests/features/humidity_control/test_humidity_platforms.py
  tests/features/ramses_debugger/test_ramses_debugger_config_flow.py
Due: none

add WebSocket Config Export Endpoint add Debugger Config Diagnostics Endpoint
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
Due: debugs

add import yaml to advance config step
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/import_full.py
Due: debugs

validate imports
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/import_full.py
  custom_components/ramses_extras/framework/helpers/config/import_validation.py
  docs/CONFIGURATION_STRATEGY.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/config/test_import_validation.py
Due: prettier, debugs

add yaml in/export per feature fix tests
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/import_full.py
  custom_components/ramses_extras/framework/helpers/config/import_validation.py
  custom_components/ramses_extras/framework/helpers/config/migration.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  custom_components/ramses_extras/framework/helpers/zones.py
  tests/framework/helpers/config/test_export.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/config/test_import_validation.py
  tests/framework/helpers/config/test_migration.py
  tests/framework/helpers/config/test_structured_core.py
Due: debugs

yaml in/export + validation moved and implemented in their features
  custom_components/ramses_extras/features/co2_control/co2_control_yaml.py
  custom_components/ramses_extras/features/co2_control/const.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/default_yaml.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/hello_world_yaml.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/humidity_control_yaml.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/hvac_fan_card_yaml.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/ramses_debugger_yaml.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/remote_binding_yaml.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/features/sensor_control/zones_yaml.py
  custom_components/ramses_extras/framework/helpers/config/import_full.py
  test_exceptions.py
  tests/framework/helpers/config/conftest.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/config/test_import_validation.py
Due: debugs

fix tests
  custom_components/ramses_extras/features/sensor_control/remote_binding_yaml.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  docs/notepad.txt
  tests/framework/helpers/config/test_import_full.py
Due: debugs

update docs
  docs/CONFIGURATION_STRATEGY.md
  docs/FAN_CONFIGURATION_SCHEMA_DRAFT.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

add tests
  docs/notepad.txt
  tests/framework/helpers/config/test_feature_yaml_validation.py
Due: debugs

add tests
  .vscode/settings.json
  tests/features/co2_control/test_co2_control_const.py
  tests/features/hello_world/test_hello_world_const.py
  tests/features/humidity_control/test_humidity_control_const.py
  tests/features/hvac_fan_card/test_hvac_fan_card_const.py
  tests/features/ramses_debugger/test_ramses_debugger_const.py
  tests/features/ramses_debugger/test_websocket_commands.py
  tests/features/sensor_control/test_sensor_control_const.py
  tests/framework/helpers/config/test_feature_yaml_validation.py
  tests/test_config_flow.py
Due: debugs

fix tests
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
Due: debugs

update plan docs
  docs/CONFIGURATION_STRATEGY.md
  docs/FAN_CONFIGURATION_SCHEMA_DRAFT.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

option b2, multiple cards/feature
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  tests/features/hvac_fan_card/test_hvac_fan_card_const.py
  tests/test_registry.py
Due: debugs

Zones Phase 5a Implementation Complete ✅ All components implemented for demand-driven min/max actuation
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  custom_components/ramses_extras/framework/helpers/zone_demand.py
  tests/framework/helpers/test_zone_coordinator.py
  tests/framework/helpers/test_zone_demand.py
Due: debugs

Phase 5b Complete ✅
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
  tests/framework/helpers/test_zone_coordinator.py
Due: prettier, debugs

refactor zone_id to drop-down-selectbox in area config step
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

add service calls for hardware testing
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/services.yaml
Due: prettier, debugs

add test
  tests/features/default/test_default_services.py
Due: none

fix zone coordinator
  custom_components/ramses_extras/features/sensor_control/zones_yaml.py
  custom_components/ramses_extras/framework/helpers/config/migration.py
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  custom_components/ramses_extras/framework/helpers/zones.py
  custom_components/ramses_extras/framework/setup/entry.py
  tests/framework/helpers/test_zone_coordinator.py
  tests/framework/helpers/test_zones.py
Due: debugs

add frontend automations and buttons to control and test the valves add backend services for valve control update hvac card status with calibrating
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
  custom_components/ramses_extras/framework/helpers/zone_demand.py
  docs/notepad.txt
  docs/zone_testing_package.yaml
  tests/features/default/test_default_services.py
Due: eslint, prettier, debugs

zones implementation 5b
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/setup/entry.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

add unavailable protection
  custom_components/ramses_extras/features/default/services.py
  docs/REMOTE_BINDING_EXAMPLES.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

loads of config improvements
  config/package.json
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/remote_binding_yaml.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  docs/REMOTE_BINDING_EXAMPLES.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
  docs/notepad.txt
  tests/features/default/test_default_websocket_commands.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/framework/helpers/config/test_feature_yaml_validation.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/test_remote_binding.py
Due: prettier, debugs

move items into internal fan sub-step rename sensor config -> FAN Configuration (partly done) make REM config consistent with Zone config
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/__init__.py
  custom_components/ramses_extras/features/sensor_control/device_types/co2.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  tests/features/sensor_control/device_types/test_fan.py
  tests/features/sensor_control/test_device_types.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: prettier, debugs

update docs
  custom_components/ramses_extras/translations/en.json
  docs/CONFIGURATION_STRATEGY.md
  docs/DOCUMENTATION_PLAN.md
  docs/FAN_CONFIGURATION_SCHEMA_DRAFT.md
  docs/FAN_CONFIGURATION_USER_GUIDE.md
  docs/TROUBLESHOOTING.md
Due: prettier, debugs

remove 'role' for REM's add info text to config steps add spike control for internal (mapped) humidity sensor update requirements HA to 2026.3.0
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/remote_binding_yaml.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  docs/FAN_CONFIGURATION_USER_GUIDE.md
  docs/REMOTE_BINDING_EXAMPLES.md
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  pyproject.toml
  requirements_dev.txt
  requirements_test.txt
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/config/test_feature_yaml_validation.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/test_remote_binding.py
Due: prettier, debugs

fix internal fan sensors: Entity None is neither a valid entity ID nor a valid UUID aiodns -> 4.0.0 pycares -> 5.0.1
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  requirements_dev.txt
  requirements_test.txt
Due: debugs

custom REM: add note this is future implementation
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

translate all config steps make area_id and zone_id editable
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/translations/en.json
  custom_components/ramses_extras/features/sensor_control/translations/nl.json
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/translations.py
  docs/notepad.txt
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/features/sensor_control/test_sensor_control_config_flow_zones_simple.py
Due: prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
