Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

add fallback in devices.py
  custom_components/ramses_extras/framework/setup/devices.py
  tests/framework/test_devices_setup.py
Due: debugs

fix test
  tests/edge_cases/test_error_handling.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/integration/test_framework_integration.py
Due: none

bump 0.17.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix duplicate command being sent simplify automation logic simplify listeners dehumidify -> balance change icon to droplet change text and icon in status
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/docs/HUMIDITY_AUTOMATION_ENTITY_NAMING_FIX.md
  custom_components/ramses_extras/features/humidity_control/docs/Humidity Control Decision Flow Diagram - original.md
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  tests/features/humidity_control/test_humidity_platforms.py
  tests/features/humidity_control/test_humidity_services.py
Due: eslint, prettier, debugs

fix duplicate recalculation (dupe listeners were triggered)
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

make balance(dehumidify) switch state persistent on startup: restore the last balance state
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_platforms.py
Due: debugs

fix tests
  tests/features/humidity_control/test_humidity_automation_mgr.py
Due: none

fix wrong path under ESLint 9 improve test coverage on humidity control feature
  config/package.json
  tests/features/humidity_control/test_humidity_platforms.py
  tests/frontend/test-integration.js
Due: prettier, debugs

humid control extra sensors plan
  custom_components/ramses_extras/features/humidity_control/docs/Humidity Control Spike + Zone Flow Diagram.md
  custom_components/ramses_extras/features/humidity_control/plan.md
Due: prettier, debugs

Add humidity area spike handling
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/default/test_default_websocket_commands.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_platforms.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/frontend/test-hvac-fan-card.js
Due: eslint, prettier, debugs

add tests
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: none

bump 0.17.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

adapt sensor control add sensor step
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: debugs

bump 0.17.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

change hvac fan card layout
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

change hvac fan card layout
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
Due: eslint, prettier, debugs

fix automation allow input number (for testing) allow multiple area sensors (spikes) list triggered area sensors in hvac fan card move from timed spikes to event driven new decision flow (plan.md)
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/docs/Humidity Control Spike + Zone Flow Diagram.md
  custom_components/ramses_extras/features/humidity_control/plan.md
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: eslint, prettier, debugs

fix automation trigger
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
Due: debugs

area sensors now also trigger high when above max humid add an option for this / area sensor
  .gitignore
  .vscode/settings.json
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: debugs

enhance hvac fan card info
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

fix hvac
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix hvac
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

fix hvac design
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
Due: eslint, prettier, debugs

bump 0.17.3
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

grey out disabled area sensors
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

add area sensor options to config window (hvac)
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/resolver.py
Due: eslint, prettier, debugs

fix dependabot alert #17
  config/package-lock.json
  config/package.json
Due: prettier, debugs

bump 0.17.4
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

new feature plan: CO2 control
  docs/CO2_CONTROL_DESIGN.md
  features/co2_control/IMPLEMENTATION_PLAN.md
Due: prettier, debugs

files
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/co2_control/IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/features/co2_control/README.md
  custom_components/ramses_extras/features/co2_control/__init__.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/config.py
  custom_components/ramses_extras/features/co2_control/config_flow.py
  custom_components/ramses_extras/features/co2_control/const.py
  custom_components/ramses_extras/features/co2_control/docs/USER_GUIDE.md
  custom_components/ramses_extras/features/co2_control/entities.py
  custom_components/ramses_extras/features/co2_control/platforms/__init__.py
  custom_components/ramses_extras/features/co2_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/switch.py
  custom_components/ramses_extras/features/co2_control/services.py
  custom_components/ramses_extras/features/co2_control/translations/en.json
  custom_components/ramses_extras/features/co2_control/translations/nl.json
  custom_components/ramses_extras/features/co2_control/websocket_commands.py
  custom_components/ramses_extras/features/co2_control/zone_manager.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/services.yaml
  tests/test_co2_control.py
Due: prettier, debugs

fix missing label in config for co2 feature fix missing async_step_feature in main config_flow.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/hello_world/config.py
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
Due: prettier, debugs

fix platform setup not creating entities
  custom_components/ramses_extras/features/co2_control/__init__.py
  custom_components/ramses_extras/features/co2_control/platforms/__init__.py
  custom_components/ramses_extras/features/co2_control/platforms/switch.py
Due: debugs

add missing sensors
  custom_components/ramses_extras/features/co2_control/platforms/__init__.py
  custom_components/ramses_extras/features/co2_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
Due: debugs

fix plan implementations
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/framework/www/card-validation.js
  features/co2_control/IMPLEMENTATION_PLAN.md
Due: eslint, prettier, debugs

adjust hvac fan card: co2 info, config sensor control
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
Due: eslint, prettier, debugs

fix hvac design
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix hvac fan card implement co2 automation add hvac fan card highlighting on triggering sensors add tests
  custom_components/ramses_extras/features/co2_control/__init__.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/config.py
  custom_components/ramses_extras/features/co2_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: eslint, prettier, debugs

more tests
  tests/features/co2_control/test_co2_feature_factory.py
  tests/features/co2_control/test_co2_platform_entities.py
Due: none

fix automation
  custom_components/ramses_extras/features/co2_control/automation.py
  tests/features/co2_control/test_co2_automation_manager.py
Due: debugs
