Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

test: simplify R86 recipe after gateway.py race condition fix
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test: fix R68/R85/R86 recipe flakiness under MQTT instability
  docs/Issue 1013: the fixes are fighting each.md
  docs/Issue 1019: HGI is accidentally polled.md
  docs/Issue 639 post-0.60 roadmap analysis.md
  docs/issue1013_log_analysis.md
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
  tools/ha_sim_test/recipes/r85_000a_zone_config_min_max_temp_issue_1102.py
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
  wiki_upgrade_analysis_056_to_060.md
Due: prettier, debugs

test: add force_update + MQTT stabilisation to R68/R86 recipes
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test: fix R86 _find_ctl_climate to require climate.ctl_ prefix
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test: increase R86 force_update wait from 3s to 10s
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test: add transport wait + force_update to R85 before/after 000A inject
  tools/ha_sim_test/recipes/r85_000a_zone_config_min_max_temp_issue_1102.py
Due: debugs

test: restart ha-sim at start of R85/R86 to clear duplicate entities
  tools/ha_sim_test/recipes/r85_000a_zone_config_min_max_temp_issue_1102.py
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test: update R69 to verify 30C9 zone_idx='00' for CTL zones (issue 929)
  tools/ha_sim_test/recipes/r69_faked_thm_03x_30c9_decoder_issue_929.py
Due: debugs

feat: add spike_ignore_outdoor option for indoor humidity spike detection
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/websocket_commands.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_const.py
Due: eslint, prettier, debugs

docs: update HA_SIM_TEST_TOOL.md with missing recipes and reports info
  docs/HA_SIM_TEST_TOOL.md
Due: prettier, debugs

feat: add per-area spike_ignore_outdoor toggle for area spike detection
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/websocket_commands.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_const.py
Due: eslint, prettier, debugs

fix(r83): inject once and wait for climate entity to settle after reload
  AGENTS.md
  notepad.txt
  tools/ha_sim_test/recipes/r83_representative_trv_sensor_persistence_issue_1013.py
Due: prettier, debugs

test: update recipes for foreign HGI blocking and passive scan migration
  tools/ha_sim_test/recipes/r28_unknown_hgi_0004_zone_names_not_blocked_issue_822.py
  tools/ha_sim_test/recipes/r81_config_entry_migration_v2_to_v3.py
  tools/ha_sim_test/recipes/r82_config_entry_migration_v1_to_v3.py
  tools/ha_sim_test/recipes/r87_foreign_hgi_blocked_by_block_list_issue_1020.py
Due: debugs

fix(r78,r68): fix pre-existing test failures for stable release
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
  tools/ha_sim_test/recipes/r78_orphaned_dismissed_no_re_notify_issue_988.py
Due: debugs

fix(r81,r82,r50): fix Python 2 except syntax causing silent crashes
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
  tools/ha_sim_test/recipes/r81_config_entry_migration_v2_to_v3.py
  tools/ha_sim_test/recipes/r82_config_entry_migration_v1_to_v3.py
Due: debugs

fix(r68): retry 2411 inject and skip on transport down
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

fix(r07,r15): reload mixed profile if FAN missing from schema
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r15_verify_storageramses_cc_has_hvac_schema_key.py
Due: debugs

fix(r06): retry 000C inject if zone not created
  tools/ha_sim_test/recipes/r06_zone_binding_via_inject_message.py
Due: debugs

fix(r87): increase block_list log search window to 2000 lines
  tools/ha_sim_test/recipes/r87_foreign_hgi_blocked_by_block_list_issue_1020.py
Due: debugs

bump to 0.21.3
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: remove non-functional "Derived (calculated)" temperature option
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
Due: debugs

fix: remove obsolete "Known devices only" filter from Messages Viewer
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
Due: eslint, prettier, debugs

fix: prepare for HA 2026.9 device registry API changes
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/setup/devices.py
  custom_components/ramses_extras/framework/setup/entry.py
  docs/HA_SIM_TEST_TOOL.md
  tests/test_main_init.py
  tests/test_orphaned_device_cleanup.py
  tools/ha_sim_test/recipes/r67_hvac_via_device_grouping_6d.py
Due: prettier, debugs

fix: conditionally disable _inject_inbound_to_stream when ramses_rf fix present
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  tools/ha_sim_test/recipes/r88_callback_transport_tx_echo_suppression_issue_1041.py
Due: debugs

test: add ha_sim_test recipe R89 for BDR active state (issue 1042)
  tools/ha_sim_test/recipes/r89_bdr_active_state_realtime_update_issue_1042.py
Due: debugs

docs: fix misleading comment about 3EF1 RP validator rejection
  tools/ha_sim_test/recipes/r89_bdr_active_state_realtime_update_issue_1042.py
Due: debugs

bump to 0.21.4
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: include payload in R88 duplicate detection key
  tools/ha_sim_test/recipes/r88_callback_transport_tx_echo_suppression_issue_1041.py
Due: debugs

test: add DHW BDR (0008 FA) fallback test to R89
  tools/ha_sim_test/recipes/r89_bdr_active_state_realtime_update_issue_1042.py
Due: debugs

test: add R90 recipe for FAN sensor degradation under load (issue 1040)
  tools/ha_sim_test/recipes/r89_bdr_active_state_realtime_update_issue_1042.py
  tools/ha_sim_test/recipes/r90_fan_sensor_update_degradation_issue_1040.py
Due: debugs

debug: add logging to abs humidity calculation path
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

bump to 0.21.5
  custom_components/ramses_extras/manifest.json
  notepad.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: provide abs humidity entity IDs to HVAC fan card
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: debugs

bump to 0.21.6
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: use entry.runtime_data instead of stale hass.data["ramses_cc"]
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/rf_config_validation.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/features/device_simulator/test_profile_loader.py
  tests/features/device_simulator/test_websocket.py
Due: debugs

debug: log websocket overlay abs humidity entity IDs
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: debugs

bump to 0.21.7
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
