Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

Add CI/CD configuration and development setup
  .gitattributes
  .github/workflows/tests.yml
  mypy.ini
  setup.py
Due: debugs

fix test suite
  Makefile
  mypy.ini
  package-lock.json
  package.json
  scripts/local-ci.sh
  tests/frontend/setup.js
  tests/frontend/test-hvac-fan-card.js
  tests/frontend/test-integration.js
  tests/frontend/test-template-helpers.js
Due: prettier, debugs

package.json fix
  package.json
Due: prettier, debugs

more fixes
  .github/workflows/tests.yml
  README.md
  README_DEV.md
  mypy.ini
  pyproject.toml
  setup.py
Due: prettier, debugs

bump version to 0.4.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

hvac-card display fixes
  custom_components/ramses_extras/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

hvac card 2411 additions websocket: ws_get_2411_schema
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/websocket_api.py
  custom_components/ramses_extras/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/card-templates.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/top-section.js
  mypy.ini
Due: eslint, prettier, debugs

2411 param fixes
  custom_components/ramses_extras/websocket_api.py
  custom_components/ramses_extras/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

small 2411 fix
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix hvac 2411 entity descriptions use update button instead of on change for 2411 set_fan_param
  custom_components/ramses_extras/websocket_api.py
  custom_components/ramses_extras/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

set_fan_param fix
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

Allow mypy failures in CI due to HA version conflicts
  .github/workflows/tests.yml
  .pre-commit-config.yaml
Due: debugs

Fix pre-commit config for mypy and JS tools
  .pre-commit-config.yaml
Due: none

Fix mypy args format in pre-commit config
  .pre-commit-config.yaml
Due: none

Fix JS tools to use npx instead of direct paths
  .pre-commit-config.yaml
Due: none

Add types-all dependency for mypy
  .pre-commit-config.yaml
Due: none

Fix mypy dependencies - use specific type packages instead of types-all
  .pre-commit-config.yaml
Due: none

Add missing type stubs and test dependencies to requirements files
  .pre-commit-config.yaml
  requirements_dev.txt
  requirements_test.txt
Due: debugs

Update GitHub workflow and mypy config for better type checking
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  mypy.ini
Due: debugs

Configure mypy to ignore missing imports for external packages
  .github/workflows/tests.yml
  mypy.ini
Due: debugs

Fix ESLint dependencies in GitHub workflow
  .github/workflows/tests.yml
Due: debugs

Fix pre-commit hooks - remove invalid env key and use npm scripts
  .pre-commit-config.yaml
Due: none

Remove custom_components from ESLint ignore list and fix pre-commit ESLint
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/check-lint.yml
  .github/workflows/check-test.yml
  .github/workflows/check-type.yml
  .github/workflows/hassfest.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  DEHUMIDIFY_PLAN.md
  DEHUMIDIFY_TODOS.md
  README.md
  README_DEV.md
  eslint.config.js
  package.json
  tests/frontend/README.md
  tests/frontend/setup.js
  tests/frontend/test-hvac-fan-card.js
  tests/frontend/test-integration.js
  tests/frontend/test-template-helpers.js
Due: eslint, prettier, debugs

eslint fixes
  .eslintrc.json
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

parameter-edit fixes
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

fix min/max/step on parameter-edit
  custom_components/ramses_extras/websocket_api.py
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

fix rounding on params in parameter-edit.js
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

fix card translations
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

fix hassfest problems
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

requirements updates
  requirements_dev.txt
  scripts/local-ci.sh
Due: debugs

fixed hassfest moved translations to parameter-edit (for now)
  .eslintrc.json
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  custom_components/ramses_extras/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

implement js card translations move docs
  custom
  custom_components/ramses_extras/www/helpers/card-translations.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/translations/nl.json
  docs/DEHUMIDIFY_PLAN.md
  docs/DEHUMIDIFY_TODOS.md
Due: eslint, prettier, debugs

changes to airflow-diagram.js arrows bypass
  custom_components/ramses_extras/www/hvac_fan_card/airflow-diagrams.js
  custom_components/ramses_extras/www/hvac_fan_card/test.svg
Due: eslint, prettier, debugs

language fixes hvac fan card fixes
  custom_components/ramses_extras/www/FINAL_S
  custom_components/ramses_extras/www/IMPORT_PATH_FIX.md
  custom_components/ramses_extras/www/README_LOCALIZATION.md
  custom_components/ramses_extras/www/h
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

bypass fixes
  custom_components/ramses_extras/www/README_LOCALIZATION.md
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix translation path
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/www/hvac_fan_card/translations/en.json
Due: eslint, prettier, debugs

type workflow fix
  .github/workflows/check-type.yml
Due: debugs

remove obsolete files
  custom_components/ramses_extras/www/FINAL_S
  custom_components/ramses_extras/www/h
Due: debugs

refactor reusable js functions to helpers
  custom_components/ramses_extras/www/IMPORT_PATH_FIX.md
  custom_components/ramses_extras/www/helpers/card-commands.js
  custom_components/ramses_extras/www/helpers/card-services.js
  custom_components/ramses_extras/www/helpers/card-translations.js
  custom_components/ramses_extras/www/helpers/card-validation.js
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

register helpers folder
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
