Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

new scenario: auto answer set this as a startup scenario fix hvac_only
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  docs/notepad.txt
Due: debugs

fix translation errors fix stop button not working
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/translations/en.json
Due: eslint, prettier, debugs

fix auto answer persistence fix scenarios keep running while disabled/stopped fix card pill to stay on running
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/comm_endpoint.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

new device DB Audit Tools new dbase
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFG.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/REM.yaml
  docs/notepad.txt
  tools/audit_all.yaml
  tools/audit_all_reviewed.yaml
  tools/audit_device_db.py
  tools/audit_fan.yaml
Due: prettier, debugs

fix errors
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
Due: debugs

randomize responds
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
Due: debugs

add bound rem to profiles
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
Due: debugs

fix remarks in payloads
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  tools/audit_device_db.py
Due: prettier, debugs

fix fan/heat schema
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/system_config.py
Due: prettier, debugs

fix bound rem added to schemas
  custom_components/ramses_extras/features/device_simulator/system_config.py
Due: debugs

fix bound_rem not found when trying to set fan_param too early config persistence no longer blocks the ha event loop
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/comm_endpoint.py
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
Due: debugs

move scenarios to their own file
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/__init__.py
  custom_components/ramses_extras/features/device_simulator/scenarios/base.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_suite.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_unavailability.py
  custom_components/ramses_extras/features/device_simulator/scenarios/discovery_test.py
  custom_components/ramses_extras/features/device_simulator/scenarios/flooding_test.py
  custom_components/ramses_extras/features/device_simulator/scenarios/hvac_device_loss.py
  custom_components/ramses_extras/features/device_simulator/scenarios/timeout_test.py
  custom_components/ramses_extras/features/device_simulator/services.py
  docs/notepad.txt
Due: prettier, debugs

more work on the scenarios
  custom_components/ramses_extras/features/device_simulator/scenarios/base.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_suite.py
  custom_components/ramses_extras/features/device_simulator/scenarios/discovery_test.py
  custom_components/ramses_extras/features/device_simulator/scenarios/flooding_test.py
  custom_components/ramses_extras/features/device_simulator/scenarios/timeout_test.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  www/device-simulator-card.js
Due: eslint, prettier, debugs

add tests
  tests/features/default/test_services_additional.py
  tests/features/device_simulator/test_periodic_emitter.py
  tests/features/device_simulator/test_response_engine.py
  tests/features/device_simulator/test_system_config.py
Due: none

more fixes on the scenarios
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  scripts/annotate_device_db.py
  tools/audit_device_db.py
Due: eslint, prettier, debugs

adjust card renedring and treat autonomous_emissions as active whenever emitters running
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

Fire events when devices are activated/changed Add a WebSocket subscription for real-time updates Update the frontend card to listen for these events
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

remove entry.options["schema"] from the profiles limit the flooding of msgs.
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
Due: debugs

Fixed the card’s live subscription to use hass.connection.subscribeMessage
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

fix HGI presence packet on heat-only profiles fix Event subscription crash fix RQ to inactive heating devices timeouts
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
Due: debugs

update plan
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  docs/notepad.txt
Due: prettier, debugs

add tests
  tests/features/device_simulator/test_comm_endpoint.py
  tests/features/device_simulator/test_services.py
Due: none

add tests
  tests/features/device_simulator/test_device_db.py
  tests/features/device_simulator/test_periodic_emitter.py
  tests/features/device_simulator/test_response_engine.py
Due: none

add tests
  tests/features/device_simulator/test_sensor.py
Due: none

scenarios fixes profile: load ramses RF profiles and persist them, also add a remove option
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/__init__.py
  custom_components/ramses_extras/features/device_simulator/scenarios/base.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_unavailability.py
  custom_components/ramses_extras/features/device_simulator/scenarios/hvac_device_loss.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

add tests
  tests/features/device_simulator/test_scenario_engine.py
  tests/features/device_simulator/test_websocket.py
Due: none

add tests
  tests/features/device_simulator/test_init.py
  tests/features/device_simulator/test_profile_loader.py
  tests/features/device_simulator/test_services.py
Due: none

support zones, etc
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_unavailability.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix zones on devices tab fix flooding msg emittor global speed setting adjust built-in profiles
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

check 2411 support before sending msgs
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  docs/notepad.txt
  tests/framework/helpers/test_ramses_commands.py
Due: debugs

no longer auto start scenarios on profile change/restat
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  tests/features/device_simulator/test_profile_loader.py
Due: debugs

Implement persistence + restore logic for gateway topic and integrate with simulator enable/disable flow
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/setup/features.py
  tests/features/device_simulator/test_init.py
Due: debugs

add extra cleaning to the devices when changing profiles
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  docs/notepad.txt
Due: debugs

profiles: add options for schema-preload, RF-cahce reset + wipe HA storage + ramses.db remove obsolete per-profile speed selectors add option to remove the dbase add msg logs to devices
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
  tests/features/device_simulator/test_profile_loader.py
Due: eslint, prettier, debugs

security: bump pytest to 9.03
  requirements_test.txt
Due: debugs

fix tests
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  tests/features/device_simulator/test_profile_loader.py
  tests/features/device_simulator/test_scenario_engine.py
Due: debugs

revert update pytest to 9.0.0 (HA requires this, we need to wait for an update) The vulnarability is minor (local only)
  docs/notepad.txt
  requirements_test.txt
Due: debugs

improve deployment flow: - update docker-compose.yml - update makefile - update deployment instructions
  deployments/README.md
  deployments/ha-sim/README.md
  deployments/ha-sim/docker-compose.yml
  docs/notepad.txt
Due: prettier, debugs

bump 0.19.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

rel notes
  RELEASE_NOTES_0.19.2.md
  docs/notepad.txt
Due: prettier, debugs
