Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

implement entity naming optimization plan fix pre-commit errors
  ENTITY_NAMING_OPTIMIZATION_IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  docs/ENTITY_NAMING_OPTIMIZATION_PLAN.md
  tests/helpers/test_entity_naming_simple.py
Due: prettier, debugs

move abs humid sensors to default feature
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
Due: debugs

use entity generate helpers in service
  custom_components/ramses_extras/features/humidity_control/services.py
Due: debugs

fix js-yaml upgrade
  config/package-lock.json
  config/package.json
Due: prettier, debugs

fix automation not starting
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
Due: debugs

fix dehumidifying_active
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
Due: debugs

add ramses_commands.py enable automation to use real speed msgsg
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
Due: debugs

bump versoin to 0.8.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

removed obsolete _register_with_automation & _retry_registration
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
Due: debugs

remove some hardcoded feature code from framework
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/common/__init__.py
  custom_components/ramses_extras/framework/helpers/common/validation.py
Due: debugs

remove get_device_capabilities, filter from core helper file
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/device/__init__.py
  custom_components/ramses_extras/framework/helpers/device/core.py
Due: debugs

clean up the docs
  ENTITY_NAMING_OPTIMIZATION_IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  docs/CONST_FILE_CLEANUP.md
  docs/DOCUMENTATION_VALIDATION_REPORT.md
  docs/ENHANCED_DEVICE_DISCOVERY_ARCHITECTURE.md
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITY_NAMING_OPTIMIZATION_PLAN.md
  docs/JS_FEATURE_REORGANIZATION.md
  docs/JS_MESSAGE_LISTENER.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/WEBSOCKET_API_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

split base automation into base_automation (under base_classes) and core (helper)
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/__init__.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/core.py
  docs/FRAMEWORK_REORGANIZATION_PLAN.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

rm obsolete files
  custom_components/ramses_extras/features/humidity_control/platform
  docs/FRAMEWORK_REORGANIZATION_PLAN.md
Due: prettier, debugs

architecture doc update
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

more doc
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

Simplify README with wiki integration
  README.md
Due: prettier, debugs

update docs
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

rm readme_dev.md
  README_DEV.md
Due: prettier, debugs

quick ref
  docs/Quick-Reference.md
Due: prettier, debugs

update readme
  README.md
Due: prettier, debugs

feature: move some const from init to const
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/const.py
Due: debugs

reuse code plan phase 1
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/schema.py
  custom_components/ramses_extras/framework/helpers/config/templates.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
Due: debugs

reuse code plan pahse 1.2
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

reuse code plan phase 1complete
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

reuse code plan phase 2
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/helpers/brand_customization/__init__.py
  custom_components/ramses_extras/framework/helpers/brand_customization/core.py
  custom_components/ramses_extras/framework/helpers/brand_customization/detection.py
  custom_components/ramses_extras/framework/helpers/brand_customization/entities.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  custom_components/ramses_extras/framework/helpers/entity/lifecycle.py
  custom_components/ramses_extras/framework/helpers/entity/registry.py
  custom_components/ramses_extras/framework/helpers/service/__init__.py
  custom_components/ramses_extras/framework/helpers/service/core.py
  custom_components/ramses_extras/framework/helpers/service/registration.py
  custom_components/ramses_extras/framework/helpers/service/validation.py
Due: debugs

update arch doc
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

bumb 0.9.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix TOC
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

remove backward comp code add log warning to detect use of backward compatible code
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/core.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  tests/helpers/test_entity_naming_simple.py
Due: debugs

improve docs
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

create and implement commands registry create send (fan) command helper with queue
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/default/commands.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/commands/__init__.py
  custom_components/ramses_extras/framework/helpers/commands/registry.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/service/core.py
  custom_components/ramses_extras/framework/www/card-commands.js
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/websocket_integration.py
Due: eslint, prettier, debugs

move send command queue from js to py add queue interval time const to main update Architecture.md
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: eslint, prettier, debugs

fix mypy version conflic and errors
  config/.pre-commit-config.yaml
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/websocket_integration.py
  requirements_dev.txt
Due: prettier, debugs

bump 0.9.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

bump to version 0.9.2 (we forgot to push before publishing 0.9.1)
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

added a plan for a hello world feature template
  docs/HELLO_WORLD_TEMPLATE_FEATURE.md
Due: prettier, debugs

plan: added coding guidlines
  docs/HELLO_WORLD_TEMPLATE_FEATURE.md
Due: prettier, debugs

create hello world template feature move device discovery command from hvac card to default feature update architecture import section
  config/.eslintrc.json
  config/package-lock.json
  config/package.json
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/const.py
  custom_components/ramses_extras/features/hello_world_card/entities.py
  custom_components/ramses_extras/features/hello_world_card/platforms/__init__.py
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/number.py
  custom_components/ramses_extras/features/hello_world_card/platforms/sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card-editor.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/translations/en.json
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/translations/nl.json
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/www/card-services.js
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: eslint, prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
