Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

fix floating error
  custom_components/ramses_extras/sensor.py
Due: debugs

fixes on automation
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/services/fan_services.py
  custom_components/ramses_extras/switch.py
Due: prettier, debugs

fixes on automation: dehumidifying Active
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/services.yaml
  custom_components/ramses_extras/services/dehumidify_services.py
Due: prettier, debugs

more fixes on dehumid active
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/services.yaml
  custom_components/ramses_extras/services/dehumidify_services.py
Due: prettier, debugs

fixed/created diagram about the desicion flow for the humidify automations adapted automations to this
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/automations/humidity_decision_flow.md
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/services/dehumidify_services.py
Due: prettier, debugs

last attempt to get automation fixed...fails also next: hardcode the automation
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/managers/automation_manager.py
Due: prettier, debugs

refactor automation to hardcoded py
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/automations/humidity_automation_design.md
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/managers/automation_manager.py
Due: prettier, debugs

fix entity names get them dynamically from const add testfiles for new automation
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/services/dehumidify_services.py
  custom_components/ramses_extras/switch.py
  docs/HUMIDITY_AUTOMATION_ENTITY_NAMING_FIX.md
  tests/managers/test_humidity_automation.py
Due: prettier, debugs

trying to fix automation
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/switch.py
  docs/humidity_automation_flow.md
Due: prettier, debugs

make service registration and imports dynamic defined in const add testfile for this
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/helpers/device.py
  tests/helpers/test_service_registration.py
Due: debugs

fix some errors added a test
  custom_components/ramses_extras/__init__.py
  tests/helpers/test_service_registration.py
Due: debugs

fix error
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

fix humidify active indicator, was not set to OFF when switch was turned off
  custom_components/ramses_extras/switch.py
Due: debugs

fixing automation: testing entities
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

fix min/max/offset listeners
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

BIG refactor automation to use more const.py definitions
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  docs/entity_naming_improvements.md
  tests/helpers/test_entity_naming.py
  tests/helpers/test_entity_naming_simple.py
  tests/managers/test_humidity_automation.py
Due: prettier, debugs

remove some logs
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

fix listeners no longer check creation every 30 secs
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

move some reusable entity code to entity.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/helpers/entity.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
Due: debugs

move more entity methods
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/helpers/device.py
Due: debugs

clean up hardcoded entity mappings
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/helpers/device.py
Due: debugs

fix pytest
  tests/managers/test_humidity_automation.py
Due: none

move entity methods from device to entity.py EntityHelpers refactor RamsesBaseEntity to ExtrasBaseEntity
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/helpers/entity.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  tests/helpers/test_entity_naming.py
Due: debugs

removed obsolete _periodic_entity_check
  custom_components/ramses_extras/automations/humidity_automation.py
Due: debugs

bump to 0.6.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

move cleanup_orpaned_entities from platforms to single method in entity.py
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/helpers/entity.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/switch.py
Due: debugs

move entity methods to platform make more code reusable add a test for entity creation
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/helpers/entity.py
  custom_components/ramses_extras/helpers/platform.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  tests/helpers/test_platform.py
Due: debugs

fix humid control condition: when active but the rel humid drops between range, we should set speed to LOW
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/automations/humidity_decision_flow.md
  docs/humidity_automation_flow.md
Due: prettier, debugs

commented out a lot of logs
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/helpers/platform.py
  custom_components/ramses_extras/switch.py
Due: debugs

entity.py clean up obsolete code
  custom_components/ramses_extras/helpers/entity.py
Due: debugs

device.py clean up adjust tests fix importlib.import_module() blocking event loop (init.py) updated tests
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/helpers/device.py
  tests/helpers/test_device.py
  tests/helpers/test_service_registration.py
Due: debugs

optimize find_ramses_device: cache broker remove obsolete attempts to find broker
  custom_components/ramses_extras/helpers/device.py
  tests/helpers/test_device.py
  tests/helpers/test_service_registration.py
Due: debugs

move broker methods to broker.py helper
  custom_components/ramses_extras/helpers/__init__.py
  custom_components/ramses_extras/helpers/broker.py
  custom_components/ramses_extras/helpers/device.py
  tests/helpers/test_device.py
  tests/helpers/test_service_registration.py
Due: debugs

move entity methods from device to entity.py helper
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/helpers/entity.py
Due: debugs

refactor entity_mappings refactor get_feature_entity_mappings to use dynamic mappings
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/helpers/device.py
  custom_components/ramses_extras/helpers/entity.py
Due: debugs

bump versions to 0.6.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

create ExtrasBaseAutomation class inherit HumidityAutomationManager
  AUTOMATION_REFACTORING_PLAN.md
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/helpers/automation.py
Due: prettier, debugs

cleanup plan
  =0.13.0
  CLEANUP_PLAN.md
  docs/LEGACY_FILES_AUDIT.md
Due: prettier, debugs

Stage 3: Remove legacy automations directory
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/automations/README.md
  custom_components/ramses_extras/automations/humidity_automation.py
  custom_components/ramses_extras/automations/humidity_automation_design.md
  custom_components/ramses_extras/automations/humidity_control_template.yaml
  custom_components/ramses_extras/automations/humidity_decision_flow.md
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/framework/features/__init__.py
  custom_components/ramses_extras/framework/features/fan_control.py
  custom_components/ramses_extras/framework/features/humidity_control.py
  custom_components/ramses_extras/framework/features/sensor_management.py
  custom_components/ramses_extras/framework/features/websocket_handler.py
  docs/CLEANUP_PROGRESS.md
  tests/managers/test_humidity_automation.py
Due: prettier, debugs
