Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

test(ha_sim_test): R118 verify post-settle TX instead of grep for stale timeouts
  tools/ha_sim_test/recipes/r118_txrx_after_switch.py
Due: debugs

docs+test(ha_sim_test): document startup-wrap-up fix, add R128
  docs/multi-hgi-phase2-3-followup-issue.md
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r128_startup_running_state.py
Due: prettier, debugs

fix(ha_sim_test): R128 tolerate API-down during container restart
  tools/ha_sim_test/recipes/r128_startup_running_state.py
Due: debugs

test(ha_sim_test): R119 assert sentinel 18:000730 cannot leak into schema
  tools/ha_sim_test/recipes/r119_mqtt_exclusion.py
Due: debugs

fix(transport_monitor): discover pool_status entity by unique_id
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_extended.py
Due: debugs

test: stop test_service_registration leaking homeassistant sys.modules mocks
  tests/helpers/test_service_registration.py
  tests/test_config_flow.py
Due: none

docs: update multi-hgi follow-up issue for 2026-09-18 state
  docs/multi-hgi-phase2-3-followup-issue.md
Due: prettier, debugs

fix(transport_monitor): follow runtime pool entity renames
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_extended.py
Due: debugs

fix(transport_monitor): rebind msg handler after entry reloads
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_extended.py
Due: debugs

docs
  docs/multi-hgi-phase2-3-followup-issue.md
  notepad.txt
Due: prettier, debugs

feat(transport_monitor): consume ramses_cc per-device status entities
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_extended.py
Due: debugs

feat(device_status_card): fleet overview card for device status + RSSI
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/device_status_card/__init__.py
  custom_components/ramses_extras/features/device_status_card/const.py
  custom_components/ramses_extras/features/device_status_card/websocket_commands.py
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/card-styles.js
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/device-status-card.js
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/translations/en.json
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/translations/nl.json
  custom_components/ramses_extras/framework/www/main.js
  tests/features/device_status_card/__init__.py
  tests/features/device_status_card/test_device_status_card_init.py
  tests/features/device_status_card/test_websocket_commands.py
Due: eslint, prettier, debugs

feat(device_status_card): show offline pool HGIs + clipboard export
  custom_components/ramses_extras/features/device_status_card/websocket_commands.py
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/card-styles.js
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/device-status-card.js
  tests/features/device_status_card/test_websocket_commands.py
Due: eslint, prettier, debugs

feat(device_status_card): topology grouping, owner filter, last-known RSSI
  custom_components/ramses_extras/features/device_status_card/websocket_commands.py
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/card-styles.js
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/device-status-card.js
  tests/features/device_status_card/test_websocket_commands.py
Due: eslint, prettier, debugs

feat(device_status_card): "By" column showing best-hearing HGI
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/device-status-card.js
Due: eslint, prettier, debugs

feat(device_status_card): rename display title to "Ramses Device Status"
  custom_components/ramses_extras/features/device_status_card/const.py
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/device-status-card.js
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/translations/en.json
  custom_components/ramses_extras/features/device_status_card/www/device_status_card/translations/nl.json
Due: eslint, prettier, debugs

chore(device_status_card): rename registry entry to "Ramses Device Status Card"
  custom_components/ramses_extras/const.py
Due: debugs

bump to 0.22.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

test(ha_sim): allow is_echo in R40 PacketDTO field whitelist
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
Due: debugs

test(ha_sim): FanStub exposes public strategy accessors
  tools/ha_sim_test/recipes/r101_orcon_co2_binding_ventilation_demand.py
Due: debugs

fix(R101): add model attr to FanStub for cached-model resolution
  tools/ha_sim_test/recipes/r101_orcon_co2_binding_ventilation_demand.py
Due: debugs

fix(ha_sim_test): resolve R40/R97/R101/R106-R108/R125 failures
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r101_orcon_co2_binding_ventilation_demand.py
  tools/ha_sim_test/recipes/r106_phase2_review_flow.py
  tools/ha_sim_test/recipes/r107_hardware_scenarios.py
  tools/ha_sim_test/recipes/r108_device_firmware.py
  tools/ha_sim_test/recipes/r125_co2_promotion_from_rem.py
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
  tools/ha_sim_test/recipes/r95_hvac_strategy_command_wiring.py
  tools/ha_sim_test/recipes/r96_non_faked_2411_display_detection.py
  tools/ha_sim_test/recipes/r97_remote_send_command_strategy_fallback.py
Due: debugs

feat(ha_sim_test): add R129 recipe for remove_device child ids
  tools/ha_sim_test/recipes/r129_remove_device_zone_child_ids_issue_1230.py
Due: debugs

feat(ha_sim_test): add R130 recipe for Orcon 3-byte 31D9 fan_mode
  tools/ha_sim_test/recipes/r130_orcon_31d9_3byte_modes.py
Due: debugs

feat(ha_sim_test): add R131 recipe for system-intent src fallback
  tools/ha_sim_test/recipes/r131_system_intent_src_fallback.py
Due: debugs

feat(ha_sim_test): add R132 recipe for the HVAC model sensor (10E0)
  tools/ha_sim_test/recipes/r132_hvac_model_sensor_10e0.py
Due: debugs

docs: update multi-HGI follow-up — Phase 3 merged, serial failover, pool-only design
  docs/multi-hgi-phase2-3-followup-issue.md
Due: prettier, debugs

feat(device_simulator): add set_echo ws command to suppress TX loopback echo
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
Due: debugs

feat(ha_sim_test): add R133 recipe for cancelled send_cmd (issue 1241)
  tools/ha_sim_test/recipes/r133_tx_survives_cancelled_send_issue_1241.py
Due: debugs

feat(ha_sim_test): add R134 recipe for registry-only orphan removal (issue 1246)
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r134_remove_device_registry_orphans_issue_1246.py
Due: debugs

fix(ha_sim_test): search configured log subdirectories
  tools/ha_sim_test/helpers.py
Due: debugs

feat(ha_sim_test): add R132 recipe for bind_device supplicant handshake
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r132_bind_device_supplicant_handshake.py
Due: debugs

fix(ha_sim_test): rename bind recipe R132 to R135 (id collision)
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r135_bind_device_supplicant_handshake.py
Due: debugs

feat(ha_sim_test): extend R79 with _faked reclassification suppression
  tools/ha_sim_test/recipes/r79_fan_dis_reclassification_contradiction_issue_1000.py
Due: debugs

feat(ha_sim_test): R79 phase 4 also covers non-faked DIS subset rule
  tools/ha_sim_test/recipes/r79_fan_dis_reclassification_contradiction_issue_1000.py
Due: debugs

fix(ha_sim_test): scan ramses_rf_logs dir in log_lines_since
  tools/ha_sim_test/helpers.py
Due: debugs

refactor(sim): drop dead fallbacks in websocket_commands (issue 241, 1.2/1.3)
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
Due: debugs

refactor: remove remaining hass.data["ramses_cc"] coordinator fallbacks
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/rf_config_validation.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/setup/devices.py
  tests/features/default/test_binary_sensor_functions.py
  tests/framework/helpers/device/test_device_core.py
  tests/framework/helpers/test_ramses_commands.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/helpers/test_websocket_base.py
  tests/framework/test_rf_config_validation.py
  tests/framework/test_transport_monitor.py
  tests/helpers/test_ramses_commands.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
