Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

bump to 0.11.3
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

css changes to hvac fan card button added to update params update_fan_params servicecall added update fan png
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/services.yaml
  docs/hvac_fan_card_1.png
  docs/mytodo.txt
  tests/features/default/test_default_services.py
Due: eslint, prettier, debugs

create a cleanup todo.md servicecalls are now registered and handled per feature added services_integration.py fix pytests
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/__init__.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/services.py
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/services_integration.py
  tests/features/hello_world/test_hello_world_init.py
  tests/features/hello_world/test_hello_world_services.py
  tests/test_main_init.py
Due: eslint, prettier, debugs

make FEATURE_DEFINITION leading
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/framework/helpers/test_websocket_base.py
Due: prettier, debugs

implement optional entities
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
Due: prettier, debugs

removed {feature}_CONST moved required_entities + entitiy_mappings into FEATURE_DEFINITION
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  docs/mytodo.txt
  tests/features/humidity_control/test_humidity_control_init.py
Due: debugs

add some comments add entitiy_mappings to hello_world
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/humidity_control/const.py
Due: prettier, debugs

hello-world: remove dupe getConfigElement make device support consistent
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

enforce FEATURE_DEFINITION removed legacy/parallel per-feature web/deploy blobs architecture.md updated
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  tests/test_registry.py
Due: prettier, debugs

implement debug options from advanced options extend _expose_feature_config_to_frontend to set debug add _apply_log_level_from_entry
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/hello_world/todo.md
  tests/test_config_flow.py
  tests/test_main_init.py
Due: prettier, debugs

refactor js log system
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-footer.js
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/card-validation.js
  custom_components/ramses_extras/framework/www/logger.js
  custom_components/ramses_extras/framework/www/main.js
  custom_components/ramses_extras/framework/www/paths.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
Due: eslint, prettier, debugs

hello_world more cleanup/simplify
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/__init__.py
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/number.py
  custom_components/ramses_extras/features/hello_world/platforms/sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/services.py
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/hello_world/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/www/main.js
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: eslint, prettier, debugs

hvac-fan-card optimization migrate templates to the shared translation system
  custom_components/ramses_extras/features/hello_world/todo.md
  custom_components/ramses_extras/features/hvac_fan_card/todo.md
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

use more translation keys
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
Due: eslint, prettier, debugs

parameter-edit: move hass.states, entity ids/values to hvac-fan-card
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs

add sensor translations
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
Due: eslint, prettier, debugs

add JSDoc strings to hvac-fan-card
  custom_components/ramses_extras/features/hvac_fan_card/todo.md
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

update jsdoc for hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

optimize default feature
  custom_components/ramses_extras/features/default/config_flow.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/todo.md
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: prettier, debugs

optimize humidity_control feature
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/humidity_control/todo.md
  custom_components/ramses_extras/features/sensor_control/todo.md
Due: prettier, debugs

optimize sensor_control feature
  custom_components/ramses_extras/features/humidity_control/todo.md
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/todo.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

add services tests
  tests/features/humidity_control/test_humidity_services.py
  tests/test_services_integration.py
Due: none

prepare todo's move sensor_control code from the framework to the features (default and sensor_control WS now are unavailable if a feature is disabled.
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/todo.md
  custom_components/ramses_extras/framework/base_classes/todo.md
  custom_components/ramses_extras/framework/helpers/todo.md
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/todo.md
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/todo.md
  custom_components/ramses_extras/todo.md
  tests/framework/helpers/test_websocket_base.py
Due: eslint, prettier, debugs

config/validation: moved HUMIDIITY_CONTROL_VALIDATION_RULES (rm temper_control..._rules) to humitity_control/const updated tests
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  tests/framework/helpers/config/test_config_validation.py
  tests/helpers/test_config_manager.py
Due: debugs

cleanup hello_world
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/features/hello_world/config.py
  custom_components/ramses_extras/features/hello_world/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/todo.md
  custom_components/ramses_extras/framework/todo.md
  custom_components/ramses_extras/framework/www/todo.md
  custom_components/ramses_extras/todo.md
Due: prettier, debugs

framework device helper cleanup
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
Due: debugs

remove unused RamsesSensorEntity from base_entity.py updated tests
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/base_classes/todo.md
  tests/framework/base_classes/test_base_entity.py
Due: prettier, debugs

fix some automation todo's
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/base_classes/base_card_manager.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/base_classes/todo.md
  custom_components/ramses_extras/framework/helpers/todo.md
  custom_components/ramses_extras/todo.md
Due: prettier, debugs

implement feature_utils.py
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/feature_utils.py
  custom_components/ramses_extras/services_integration.py
  custom_components/ramses_extras/todo.md
  custom_components/ramses_extras/websocket_integration.py
  tests/test_services_integration.py
Due: prettier, debugs

clean up init, distribute tasks 1 separate schama and json/dict remove dupe FEATURE_DEFINITION etc logic
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/config.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  tests/features/hello_world/test_hello_world_config.py
  tests/features/humidity_control/test_humidity_config.py
  tests/framework/helpers/config/test_core.py
Due: debugs

cleanup entity mappings
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  docs/mytodo.txt
Due: debugs

more cleanup/refactoring
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  tests/framework/base_classes/test_base_automation.py
Due: debugs

websockets: use centralized helpers
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/framework/helpers/test_websocket_base.py
Due: debugs

bug fix (async) prevent render before we have values
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

www improvements
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

update todo's
  custom_components/ramses_extras/framework/todo.md
  custom_components/ramses_extras/framework/www/todo.md
Due: prettier, debugs

slim down init.py, move code to setup/*.py helper files
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/setup/__init__.py
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/setup/devices.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/framework/setup/utils.py
  custom_components/ramses_extras/framework/setup/yaml.py
  tests/startup/test_default_entities_startup.py
  tests/startup/test_startup_flow.py
  tests/test_card_deployment.py
  tests/test_config_flow.py
  tests/test_main_init.py
  tests/test_orphaned_device_cleanup.py
Due: debugs

update docstrings for the new init/setup system
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/setup/devices.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/framework/setup/utils.py
  custom_components/ramses_extras/framework/setup/yaml.py
Due: debugs

remove ignore: brands from hacs-validate.yml
  .github/workflows/hacs-validate.yml
Due: debugs

bump to 0.12.0
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
