Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

bump to 0.14.3
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

fix css/class conflicts with other cards: add prefixes to all classes
  custom_components/ramses_extras/features/hello_world/www/hello_world/card-styles.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/templates/card-content.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

bump 0.14.4
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

refactor id' s with prefixes remove use of innerHTML updates, use initializeDOM/updateDOM instead
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix line up/down buttons on log explorer search result fix window position on search result (log explorer) refactor innerHTML to updateDOM logic on log explorer
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

eliminate problematic innerHTML usage
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

reduce log spam from hello world no longer warn about duplicate command reg from the same feature
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/commands/registry.py
Due: debugs

fix traffic analyser css
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

packet logging: no more polling, refresh button instead. live update still uses subscription / or polling
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

fix font on device pairs/codes
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
Due: eslint, prettier, debugs

bump 0.14.5
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix versioning/caching conflicts where wrong/old versions of .js were loaded (hvac fan card, log explorer)
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/www/main.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

catch uncaugt not found
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/mytodo.txt
  docs/snippets.txt
Due: eslint, prettier, debugs

bump 0.14.6
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

catch uncaugt not found
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix hvac fan card: some entities were not showing cause of the innerHTML refactoring
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

refactor hvac edit mode - avoid innerHTML rebuilds
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

bump 0.14.7
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

update readme
  README.md
Due: prettier, debugs

throttled + ratelimited no required entities update logs
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix buttons not working caused by class/id prefix/innerHTML changes some css tweaks
  Makefile
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

log explorer zoom search result: add linenumbers and +/- buttons
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: eslint, prettier, debugs

add some debug logs fow WS calls
  custom_components/ramses_extras/framework/www/card-services.js
Due: eslint, prettier, debugs

log explorer zoom tail result: add linenumbers, position and fix +/- buttons
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

bump 0.14.8
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: no longer renders on every hass tick, only on reload/config/connect etc.
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

debugger code optimizations
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/www/helpers/clipboard.js
  custom_components/ramses_extras/framework/www/helpers/device-cache.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/CODE_REVIEW_DEBUGGER_OPTIMIZATION.md
Due: eslint, prettier, debugs

JSDoc 's for basecard and debugger .js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  docs/CODE_REVIEW_DEBUGGER_OPTIMIZATION.md
Due: eslint, prettier, debugs

fix clipboard, device-cache.js deployment
  custom_components/ramses_extras/framework/setup/cards.py
Due: debugs

bump 0.14.9
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

move framework/www/helper files to framework/www
  custom_components/ramses_extras/framework/www/clipboard.js
  custom_components/ramses_extras/framework/www/device-cache.js
Due: eslint, prettier, debugs

add 'warnings' and 'errors' search buttons
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: eslint, prettier, debugs

simplify config_flow main menu
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  tests/test_config_flow.py
Due: prettier, debugs

fix ramses extras is initializing fixed state when disabeling and enableling cards
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix more: ramses extras is initializing fixed state when disabeling and enableling cards
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix 0.0.0 backend issue fix state when re-enableing
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

bump 0.15.0
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

add color to the search buttons
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: eslint, prettier, debugs

bump 0.15.1
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/mytodo.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix scroll on search log entry- zoom
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
Due: eslint, prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
