Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

fix Error setting up switch platform for humidity_control: coroutine raised StopIteration
  custom_components/ramses_extras/framework/helpers/device/core.py
Due: debugs

fix possible loops on automations - guards added
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

fix ramses devices showing up in extras
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

bump 0.20.6
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

multiple fixes
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/platforms/binary_sensor.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
Due: debugs

lower info logs to debug
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/helpers/brand_customization/core.py
  custom_components/ramses_extras/framework/helpers/brand_customization/entities.py
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/helpers/commands/registry.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/websocket_integration.py
  tests/framework/test_simple_entity_manager.py
Due: debugs

reduce redundant processing from RF Packet Batches
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

summarize number of devices not in matrix logs
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

lowered warning log to debug for external area_sensor not mapped to a ramses id lowered warning log to debug for 'transport monitor is already running'
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
Due: debugs

clean up memory on _failed_commands
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
Due: debugs

add tests
  tests/features/humidity_control/test_humidity_automation_mgr.py
Due: none

prevent unneeded diskwrites (flash protection) with listener guard and content comparison safety net
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/setup/entry.py
Due: debugs

protect fire-and-forget-tasks (exception handling)
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

add tests
  tests/features/co2_control/test_co2_control_config_flow.py
  tests/features/device_simulator/test_entity_helpers.py
  tests/features/device_simulator/test_response_templates.py
  tests/features/hello_world/test_hello_world_automation.py
  tests/framework/helpers/test_ramses_tx_patches.py
  tests/platforms/test_select_platform.py
Due: none

more tests
  tests/features/default/test_services_calibrate.py
  tests/features/default/test_services_remote_packets.py
Due: none

bump to 0.20.7
  custom_components/ramses_extras/manifest.json
  docs/notepad.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: parse payload via ramses_rf Message in message stream
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

fix arbiter
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: debugs

add more flow tests
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: none

ci: remove duplicate workflow runs
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/hassfest.yml
Due: debugs

ci: add codeql workflow with branch-filtered triggers
  .github/workflows/codeql.yml
Due: debugs

bump to 0.20.8
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

bump 0.20.9
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: use fnmatch for entity pattern matching to support middle wildcards
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  tests/framework/base_classes/test_base_automation.py
Due: debugs

fix: use RamsesCommands for transport monitoring instead of missing module
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

bump to 0.20.10
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

feat: add supply-air cooling and fix spurious fan commands on startup
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/features/temp_control/test_temp_control_automation.py
Due: debugs

update notepad
  docs/notepad.txt
Due: debugs

fix how we proces ramses_cc_regex_event and compatibility with old ha/RF
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix: temp_control bypass safety net false-positives and stuck bypass
  custom_components/ramses_extras/features/temp_control/automation.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
Due: debugs

fix: refresh-all-parameters button blocked by chicken-and-egg 2411 guard
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  docs/notepad.txt
  tests/framework/helpers/test_ramses_commands.py
Due: debugs

feat: configurable comfort temp source for temp_control
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  docs/notepad.txt
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_config_flow.py
Due: debugs

refactor: move comfort_temp_entity to sensor_control
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/__init__.py
  custom_components/ramses_extras/features/sensor_control/device_types/co2.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  docs/FAN_CONFIGURATION_USER_GUIDE.md
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  docs/notepad.txt
  tests/features/sensor_control/device_types/test_fan.py
  tests/features/sensor_control/test_resolver.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_config_flow.py
Due: prettier, debugs

feat: add comfort temp to card sensor sources + listener registration
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/temp_control/automation.py
Due: eslint, prettier, debugs

fix: comfort temp card indicator + reload on sensor_control change
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/setup/entry.py
Due: eslint, prettier, debugs

fix: remove temp control toggle from edit window + comfort temp card indicator
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fix translations on temp control in hvac card edit window
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
Due: eslint, prettier, debugs

fix: comfort temp card indicator, edit window settings, persistence
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/temp_control/const.py
  custom_components/ramses_extras/features/temp_control/websocket_commands.py
  tests/features/temp_control/test_temp_control_const.py
Due: eslint, prettier, debugs

fix: temp_control edit window, comfort temp display, and reload bug
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/websocket_commands.py
  custom_components/ramses_extras/features/temp_control/const.py
  custom_components/ramses_extras/features/temp_control/websocket_commands.py
  custom_components/ramses_extras/framework/setup/entry.py
  tests/features/sensor_control/test_sensor_control_const.py
  tests/features/temp_control/test_temp_control_const.py
Due: eslint, prettier, debugs

add internal option for comfort entity selector
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  tests/features/sensor_control/device_types/test_fan.py
Due: debugs
