Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

improve discovery conversation
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_discover_all.yaml
  docs/notepad.txt
Due: prettier, debugs

add multiple TRV to CTL
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_discover_all.yaml
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: prettier, debugs

fix test
  tests/features/device_simulator/test_scenarios.py
Due: none

add/update random msg emitter add discover capabilites button via ramses_rf's DiscoveryService update hvac_discover_all conversation update dbase for auto-answer discovery msgs
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/hvac_discover_all.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/DIS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/HUM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/REM.yaml
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
  tests/features/device_simulator/test_websocket.py
Due: eslint, prettier, debugs

improve auto answer for 2411 RP add search box to conversations rename important conversations to group at the top
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/_heat_discover_all.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/_hvac_discover_all.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/_hvac_discover_rem_fan_co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
  tests/features/device_simulator/test_websocket.py
Due: eslint, prettier, debugs

fix RF state save/restore on en/disable the sim or remove _extras fix preserve state:clean start on reload
  custom_components/ramses_extras/features/device_simulator/__init__.py
  docs/notepad.txt
Due: debugs

fix stale websockets on reload (need to refresh page) fix card not always loading correct on reload
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

make running the sim on a normal dev container with real gateway safe: fix save/restore state when enable/disable the sim
  custom_components/ramses_extras/features/device_simulator/__init__.py
  docs/notepad.txt
Due: debugs

bump to 0.19.4 pre
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

update impl plan
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  docs/notepad.txt
Due: prettier, debugs

add tests
  tests/features/device_simulator/test_comm_endpoint.py
  tests/features/device_simulator/test_device_db.py
  tests/features/device_simulator/test_scenarios.py
Due: none

bump 0.19.5
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

bump to 0.19.5
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

plan
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
Due: prettier, debugs

phase A: split .js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/constants.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/styles.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/devices-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/events-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/scenarios-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix deleted lines
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

phase C
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/devices-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/options-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/scenarios-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix stop emission now sets idle instead of silenced
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/scenarios-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

add tests
  tests/features/device_simulator/test_init.py
  tests/features/device_simulator/test_scenario_engine.py
  tests/features/device_simulator/test_websocket.py
Due: none

add tests
  tests/features/device_simulator/test_websocket.py
Due: none

add tests
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  tests/features/default/test_binary_sensor_functions.py
  tests/features/default/test_default_init.py
  tests/features/default/test_default_websocket_commands.py
  tests/features/default/test_default_yaml.py
  tests/features/default/test_sensor_functions.py
  tests/features/default/test_services_additional.py
  tests/features/device_simulator/test_websocket.py
Due: prettier, debugs

add tests
  docs/notepad.txt
  tests/features/hello_world/test_hello_world_websocket_commands.py
  tests/framework/test_ramses_message_stream.py
Due: debugs

add ramses log folders
  custom_components/ramses_extras/features/device_simulator/ramses logs/new/README.md
  custom_components/ramses_extras/features/device_simulator/ramses logs/processed/README.md
Due: prettier, debugs

more tests
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  tests/features/co2_control/test_co2_control_binary_sensor.py
  tests/features/co2_control/test_co2_control_number.py
  tests/features/co2_control/test_co2_control_sensor.py
  tests/features/co2_control/test_co2_control_switch.py
  tests/features/co2_control/test_co2_control_websocket_commands.py
  tests/features/co2_control/test_co2_control_yaml.py
  tests/features/device_simulator/test_response_engine.py
  tests/features/device_simulator/test_response_templates.py
  tests/features/ramses_debugger/test_ramses_debugger_config_flow.py
  tests/features/ramses_debugger/test_websocket_commands.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/features/sensor_control/test_websocket_commands.py
  tests/framework/base_classes/test_platform_entities.py
  tests/framework/helpers/device/test_device_core.py
  tests/framework/helpers/entity/test_entity_core.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/helpers/test_zone_adapters_coverage.py
  tests/framework/helpers/test_zone_demand.py
  tests/framework/helpers/test_zones.py
  tests/framework/setup/test_entry_coverage.py
  tests/framework/test_cards.py
  tests/framework/test_devices_setup.py
  tests/framework/test_features_setup.py
  tests/framework/test_platform.py
  tests/framework/test_ramses_message_stream.py
  tests/test_co2_control.py
  tests/test_const.py
  tests/test_extras_registry.py
  tests/test_services_integration.py
  tests/test_websocket_integration.py
Due: debugs

replace co2, fan with more realistic 31DA values
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
Due: prettier, debugs

updated emitter for better msg flow
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
Due: prettier, debugs

fix issue 81 card showing feature disabled
  custom_components/ramses_extras/framework/setup/cards.py
Due: debugs

bump to 0.19.6
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

sim: add response codes for heat and hvac
  custom_components/ramses_extras/features/device_simulator/DEVICE_PROFILE_AUDIT_SUMMARY.md
  custom_components/ramses_extras/features/device_simulator/HEAT_PROFILES_FIXED.md
  custom_components/ramses_extras/features/device_simulator/HEAT_PROFILE_AUDIT_2026_04_30.md
  custom_components/ramses_extras/features/device_simulator/PROFILE_AUDIT_2026_04_30.md
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/OTB.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/response_templates.py
Due: prettier, debugs

adapt to latest changes on _rf #641 DTO phase 2
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/scenarios/discovery_test.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  docs/notepad.txt
  tests/features/device_simulator/test_scenarios.py
  tests/features/ramses_debugger/test_messages_provider.py
  tests/framework/test_ramses_message_stream.py
Due: debugs

startup fallback hardened Move websocket registration earlier in startup
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix: Device discovery compatibility fix: Log explorer / traffic analyzer packet-log path compatibility
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/framework/setup/devices.py
  docs/notepad.txt
  tests/features/ramses_debugger/test_ramses_debugger_log.py
  tests/framework/test_devices_setup.py
Due: debugs

fix mqtt_ha mode: using mqtt_topic + mqtt_hgi_id for transport routing live feed listener (debug) could miss startup timing/shape changes
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  tests/features/device_simulator/test_init.py
  tests/framework/test_ramses_message_stream.py
Due: debugs

fix traffic analyzer card race condition
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

fix test
  tests/test_main_init.py
Due: none

fix TRV 12B0 payload
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml.backup
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/REM.yaml.backup
Due: prettier, debugs

fix more unquoted payloads
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DTS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JST.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/OTB.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFG.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RND.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
Due: prettier, debugs

fix more heat payloads
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/OTB.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFG.yaml
Due: prettier, debugs

sim: fix resome all idle sim: add resume undiscovered
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/devices-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

fix websockets fix enabled features fix yaml setup fix resume all (full dbase) emitter
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/feature_utils.py
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  custom_components/ramses_extras/framework/setup/yaml.py
  custom_components/ramses_extras/websocket_integration.py
  docs/notepad.txt
Due: eslint, prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
