Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

move feature logic out of root platform
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/switch.py
Due: debugs

refactor root platform files to dynamic call feature logic
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
Due: debugs

more refactor for dynamic features
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
Due: debugs

refactor init methods to use dynamic features
  custom_components/ramses_extras/__init__.py
Due: debugs

plan new device discovery architecture. let features handle discovered devices to check if it needs adaption (on model, disable entities, min max values)
  docs/ENHANCED_DEVICE_DISCOVERY_ARCHITECTURE.md
Due: prettier, debugs

enhanced device discovery: overhaul of discovery system more code is now controlled by the features themselves event added for features to act with final logic just before entities are registered
  config/.pre-commit-config.yaml
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  docs/ARCHITECTURE.md
  docs/ENHANCED_DEVICE_DISCOVERY_ARCHITECTURE.md
  tests/test_enhanced_device_discovery.py
Due: prettier, debugs

make number.absolute_humidity_offset_32_153289 persistent (save state)
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
Due: debugs

bump 0.7.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

rm old entity_registry.py
  custom_components/ramses_extras/framework/entity_registry.py
Due: debugs

rm obsolete feature_manager
  custom_components/ramses_extras/framework/managers/__init__.py
  custom_components/ramses_extras/framework/managers/feature_manager.py
Due: debugs

docs
  docs/ARCHITECTURE.md
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITYMANAGER_FRAMEWORK_INTEGRATION.md
  docs/ENTITYMANAGER_MIGRATION_GUIDE.md
  docs/ENTITY_MANAGEMENT_STRATEGY.md
Due: prettier, debugs

fix entity manager
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
  tests/managers/test_entity_manager.py
  tests/managers/test_entity_manager_integration.py
  tests/performance/test_entity_manager_benchmarks.py
Due: debugs

create separate get broker method create testfile for broker retieval remove obsolete backward compatible test
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  tests/managers/test_broker_retrieval.py
  tests/managers/test_entity_manager_integration.py
Due: debugs

fix const.py
  custom_components/ramses_extras/const.py
Due: debugs

docs
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITY_MANAGEMENT_STRATEGY.md
  tests/managers/TEST_COVERAGE_SUMMARY.md
Due: prettier, debugs

docs: consolidate architecture documentation and remove backward compatibility references
  BLOCKING_IMPORT_FIX.md
  custom_components/ramses_extras/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/www/hvac_fan_card/translations/nl.json
  docs/ARCHITECTURE.md
  docs/ENHANCED_DEVICE_DISCOVERY_ARCHITECTURE.md
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITYMANAGER_FRAMEWORK_INTEGRATION.md
  docs/ENTITYMANAGER_MIGRATION_GUIDE.md
  docs/ENTITY_MANAGEMENT_STRATEGY.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/entity_naming_improvements.md
Due: prettier, debugs

tests
  tests/helpers/test_entity_naming_simple.py
  tests/managers/test_default_feature.py
  tests/managers/test_entity_manager.py
  tests/managers/test_feature_registry.py
  tests/performance/test_entity_manager_benchmarks.py
  tests/startup/test_default_entities_startup.py
  tests/startup/test_startup_flow.py
  tests/test_const_consolidation_verification.py
  tests/test_registry.py
Due: none

loads of entity fixes
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/platform
  custom_components/ramses_extras/features/humidity_control/platforms/__init__.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  custom_components/ramses_extras/framework/helpers/entity_core.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/www/helpers/TODO.txt
  custom_components/ramses_extras/www/hvac_fan_card/hvac-fan-card.js
  docs/CONST_FILE_CLEANUP.md
  tests/managers/test_entity_manager.py
  tests/managers/test_feature_registry.py
  tests/startup/test_default_entities_startup.py
  tests/test_enhanced_device_discovery.py
Due: eslint, prettier, debugs

simplify _import_required_entities add FEATURE_CONST to hvac
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  custom_components/ramses_extras/www/helpers/TODO.txt
Due: debugs

fix in startup
  custom_components/ramses_extras/__init__.py
Due: debugs

hvac_card fix and make feature centric
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/www/helpers/TODO.txt
Due: debugs

fix cards not showing remove feature category code remove old yaml automation code
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  tests/managers/test_entity_manager.py
Due: debugs

some card fixes prepare reorganization cards to their feature folders initial refactoring loads of actual refactoring. see doc files
  .gitignore
  config/.pre-commit-config.yaml
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/airflow-diagrams.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-footer.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-header.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-templates.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/test.svg
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/www/card-commands.js
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/card-validation.js
  custom_components/ramses_extras/framework/www/paths.js
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
  custom_components/ramses_extras/www/README_LOCALIZATION.md
  custom_components/ramses_extras/www/helpers/TODO.txt
  docs/ENVIRONMENT_AWARE_PATHS.md
  docs/JS_FEATURE_REORGANIZATION.md
  docs/PATH_MIGRATION_GUIDE.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  test-path-detection.js
Due: eslint, prettier, debugs

fix .js paths fix eslint, prettier
  HVAC_FAN_CARD_PATH_FIX.md
  cleanup_lovelace_resources.py
  config/.eslintrc.json
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/message-handlers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/card-validation.js
  custom_components/ramses_extras/framework/www/paths.js
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
  deploy_card_fix.sh
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/JS_FEATURE_REORGANIZATION.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  tests/managers/test_entity_manager.py
Due: eslint, prettier, debugs

rm obsolete files
  BLOCKING_IMPORT_FIX.md
  HVAC_FAN_CARD_PATH_FIX.md
  cleanup_lovelace_resources.py
  custom_components/__init__.py
  custom_components/ramses
  deploy_card_fix.sh
  docs/ENVIRONMENT_AWARE_PATHS.md
  docs/FILES_NO_LONGER_NEEDED.md
  docs/PATH_MIGRATION_GUIDE.md
  test-path-detection.js
Due: eslint, prettier, debugs

update architecture file
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

fix absolute humid sensors
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
Due: debugs

websocket api plan
  docs/WEBSOCKET_API_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

fix websocket
  config/.prettierignore
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/__init__.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/websocket_integration.py
  docs/ENTITYMANAGER_API_REFERENCE.md
Due: eslint, prettier, debugs

fix: mv websocket const to their features
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
Due: debugs

move more const from root to their features
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: debugs

move more feature logic to their folders
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/websocket_integration.py
Due: debugs

fix websocket
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/websocket_integration.py
Due: debugs

fix websocket some more
  custom_components/ramses_extras/websocket_integration.py
Due: debugs

fix get schema
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: debugs

fix automations
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  tests/helpers/test_entity_naming_simple.py
  tests/managers/test_humidity_automation.py
Due: debugs

revert part of last commit
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/automation/base.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
Due: debugs

prepare: entitiy naming optimization
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITY_NAMING_OPTIMIZATION_PLAN.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

more docs
  IMPLEMENTATION_SUMMARY.md
  docs/DOCUMENTATION_VALIDATION_REPORT.md
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITY_NAMING_OPTIMIZATION_PLAN.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

more docs
  docs/ENTITYMANAGER_API_REFERENCE.md
  docs/ENTITY_NAMING_OPTIMIZATION_PLAN.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs
