Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

move const settings to humid feature rm obsolete template file
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/features/humidity_control/const.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/templates.py
  docs/todo.md
Due: prettier, debugs

add sphinx to default / sensor move ENTITY_PATTERNS to const
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

clean up hello_world
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/entities.py
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/hello_world_card/services.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
Due: debugs

add doctstring to hello world remove obs managers folder
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/features/hello_world_card/config.py
  custom_components/ramses_extras/features/hello_world_card/const.py
  custom_components/ramses_extras/features/hello_world_card/platforms/__init__.py
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/number.py
  custom_components/ramses_extras/features/hello_world_card/platforms/sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/hello_world_card/services.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
  custom_components/ramses_extras/managers/__init__.py
Due: debugs

create card_manager inherit from card_manager in hello_world_card and hvac_fan_card
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/base_classes/base_card_manager.py
Due: debugs

simplify hello world config
  custom_components/ramses_extras/features/hello_world_card/config.py
  custom_components/ramses_extras/features/hello_world_card/const.py
Due: debugs

added a TODO for config in hello world
  custom_components/ramses_extras/features/hello_world_card/config.py
Due: debugs

services: use helpers and const defs websocket_commands/hello-world - fix status feedback fix binary sensor fix duplicate logic in automation and other places
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/hello_world_card/services.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/translations/en.json
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/translations/nl.json
Due: eslint, prettier, debugs

refactor html to a html = {} and a css file like we did on hvac_fan_card
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/card-styles.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/templates/card-content.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/templates/card-templates.js
Due: eslint, prettier, debugs

websocket get_entity_mappings implemented to be used by frontend -> dynamic loading of entity_id's
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/features/hello_world_card/const.py
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/websocket_integration.py
Due: eslint, prettier, debugs

introduce skip_automation_setup to prevent double loading update binary_sensor_update base_automation: set_binary_sensor_state, toggle_binary_sensor_state
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

small config fix for hvac-fan-card
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

cleanup hello world automation.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
Due: debugs

cleanup logs, remove timeout, siplify event handling refactor hello_world_card -> hello_world
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/default/config_flow.py
  custom_components/ramses_extras/features/hello_world/__init__.py
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/features/hello_world/config.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/platforms/__init__.py
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/number.py
  custom_components/ramses_extras/features/hello_world/platforms/sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/services.py
  custom_components/ramses_extras/features/hello_world/translations/en.json
  custom_components/ramses_extras/features/hello_world/translations/nl.json
  custom_components/ramses_extras/features/hello_world/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/www/hello_world/card-styles.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/templates/card-content.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/templates/card-templates.js
  custom_components/ramses_extras/features/hello_world/www/hello_world/translations/en.json
  custom_components/ramses_extras/features/hello_world/www/hello_world/translations/nl.json
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: eslint, prettier, debugs

on restart we will now deploy the cards first some more refactoring hello_world_card -> hello_world fix card path
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/framework/helpers/paths.py
Due: debugs

use custom:card-name for types refactor card registry and config validation
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

card registration fixes
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/__init__.py
  custom_components/ramses_extras/features/hello_world/__init__.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  tests/config_flow/test_config_flow_integration.py
Due: eslint, prettier, debugs

fix enable card (websocket) fix custom:card-name
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix/rm missing websocket handlers
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/card-services.js
  docs/todo.md
Due: eslint, prettier, debugs

fix default feature not saving enabled devices
  custom_components/ramses_extras/config_flow.py
Due: debugs

fix card editor
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
Due: eslint, prettier, debugs

fix automation flow for hello world add renderHassInitializing to RamsesBaseCard + backend fire event mechanism when features automations are fully loaded
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

remove obsolete debugs in .js conditional logging in ramses-base-card
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

bump: 10.0.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix init msg for cards without automation add get_feature_ready & get_cards_enabled websockets
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/automation.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

some small fixes on the cards
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

cleanup and move some more code to base-card
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

move some render code to base render feature is disabled
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

add entity mappings to hvac const
  custom_components/ramses_extras/features/hvac_fan_card/const.py
Due: debugs

fix websocket not finding entities
  custom_components/ramses_extras/framework/helpers/websocket_base.py
Due: debugs

update docs
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

use card_registry
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/todo.md
Due: eslint, prettier, debugs

hvac card refactor to new entity mappings
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  docs/todo.md
Due: eslint, prettier, debugs

card fixes
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/www/hello_world/hello-world-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card-editor.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/test.svg
  custom_components/ramses_extras/framework/www/card-services.js
Due: eslint, prettier, debugs

version fix 10.0.0 -> 0.10.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

doc: sensor sources
  docs/SENSOR_SOURCES_ROADMAP.md
Due: prettier, debugs

add boxes to roadmap
  docs/SENSOR_SOURCES_ROADMAP.md
Due: prettier, debugs

sensor sources ph 0
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/sensor_control/__init__.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/translations/en.json
  custom_components/ramses_extras/features/sensor_control/translations/nl.json
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  docs/SENSOR_SOURCES_ROADMAP.md
Due: prettier, debugs

sensor source ph 1
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
Due: debugs
