Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

bump to 0.11.0
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

todo
  docs/todo.txt
Due: debugs

add icons
  icons/icon (copy).png
  icons/icon.png
  icons/icon@2x (copy).png
  icons/icon@2x.png
Due: debugs

codcov.yml
  codecov.yml
Due: prettier, debugs

fix automation logic humid control add tests for humid control
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  docs/mytodo.txt
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_config.py
  tests/features/humidity_control/test_humidity_entities.py
  tests/features/humidity_control/test_humidity_platforms.py
  tests/features/humidity_control/test_humidity_services.py
  tests/managers/test_humidity_automation.py
Due: debugs

tests: features
  docs/mytodo.txt
  tests/features/default/test_default_commands.py
  tests/features/default/test_default_config_flow.py
  tests/features/default/test_default_services.py
  tests/features/default/test_default_websocket_commands.py
  tests/features/hello_world/test_hello_world_config.py
  tests/features/hello_world/test_hello_world_platforms.py
  tests/features/hello_world/test_hello_world_services.py
  tests/features/hello_world/test_hello_world_websocket_commands.py
  tests/features/sensor_control/test_device_types.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: debugs

Big clean up helpers folder
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/automation/__init__.py
  custom_components/ramses_extras/framework/helpers/automation/core.py
  custom_components/ramses_extras/framework/helpers/common/__init__.py
  custom_components/ramses_extras/framework/helpers/common/utils.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/schema.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/service/__init__.py
  custom_components/ramses_extras/framework/helpers/service/core.py
  custom_components/ramses_extras/framework/helpers/service/registration.py
  custom_components/ramses_extras/framework/helpers/service/validation.py
  docs/todo.txt
  tests/edge_cases/test_error_handling.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/common/test_utils.py
  tests/framework/helpers/config/test_schema.py
  tests/framework/helpers/service/test_registration.py
  tests/framework/helpers/service/test_service_core.py
  tests/framework/helpers/service/test_service_validation.py
  tests/helpers/framework/test_entities.py
  tests/helpers/service/test_helpers_service_core.py
  tests/helpers/service/test_service_init.py
  tests/integration/test_framework_integration.py
Due: debugs

add more helper tests
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  docs/todo.txt
  tests/framework/helpers/common/test_common_validation.py
  tests/framework/helpers/config/test_config_validation.py
  tests/framework/helpers/device/test_device_filter.py
  tests/framework/helpers/test_config_flow_helper.py
  tests/framework/helpers/test_ramses_commands.py
  tests/framework/helpers/test_websocket_base.py
  tests/helpers/test_device_filter.py
Due: debugs

generate coverage.xml file on tests
  .github/workflows/tests.yml
Due: debugs

fix linter error
  tests/framework/helpers/test_config_flow_helper.py
Due: none

readme
  README.md
Due: prettier, debugs

test_config_flow.py add tests
  tests/test_config_flow.py
Due: none

add tests to root
  custom_components/ramses_extras/__init__.py
  tests/test_main_init.py
  tests/test_registry.py
  tests/test_websocket_integration.py
Due: debugs

add helper tests
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/automation/__init__.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
  tests/__init__.py
  tests/config_flow/__init__.py
  tests/edge_cases/__init__.py
  tests/features/__init__.py
  tests/features/default/__init__.py
  tests/features/hello_world/__init__.py
  tests/features/humidity_control/__init__.py
  tests/features/hvac_fan_card/__init__.py
  tests/features/sensor_control/__init__.py
  tests/framework/__init__.py
  tests/framework/base_classes/__init__.py
  tests/framework/helpers/__init__.py
  tests/framework/helpers/common/__init__.py
  tests/framework/helpers/config/__init__.py
  tests/framework/helpers/device/__init__.py
  tests/framework/helpers/entity/__init__.py
  tests/frontend/__init__.py
  tests/helpers/__init__.py
  tests/helpers/framework/__init__.py
  tests/helpers/test_common_utils.py
  tests/helpers/test_common_validation.py
  tests/helpers/test_config_manager.py
  tests/helpers/test_device_helpers.py
  tests/helpers/test_paths.py
  tests/helpers/test_ramses_commands.py
  tests/integration/__init__.py
  tests/managers/__init__.py
  tests/platforms/__init__.py
  tests/startup/__init__.py
  tests/unit/__init__.py
Due: debugs

sensor_control cleanup dead code features: add tests
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/features/hvac_fan_card/test_hvac_fan_card_init.py
  tests/features/sensor_control/device_types/__init__.py
  tests/features/sensor_control/device_types/test_co2.py
  tests/features/sensor_control/device_types/test_fan.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/framework/helpers/test_config_flow_helper.py
Due: debugs

Add LICENCE.md to icon folder
  icons/LICENCE.md
Due: prettier, debugs

more tests for the framework
  custom_components/ramses_extras/framework/helpers/brand_customization/detection.py
  custom_components/ramses_extras/framework/helpers/brand_customization/entities.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  docs/mytodo.txt
  tests/framework/helpers/brand_customization/test_core.py
  tests/framework/helpers/brand_customization/test_detection.py
  tests/framework/helpers/brand_customization/test_entities.py
  tests/framework/helpers/brand_customization/test_models.py
  tests/framework/helpers/test_websocket_base.py
Due: debugs

bump 0.11.1
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

fix coverage range: 70...80
  codecov.yml
Due: prettier, debugs

codecov revert
  codecov.yml
Due: prettier, debugs

fix hacs.json
  hacs.json
Due: prettier, debugs

fix hacs
  hacs.json
Due: prettier, debugs

fix hacs
  custom_components/ramses_extras/manifest.json
Due: prettier, debugs

bump to 0.11.2
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

fix hacs....
  hacs.json
Due: prettier, debugs

chore: align manifest and hacs.json with HACS requirements for v0.11.2
  custom_components/ramses_extras/manifest.json
Due: prettier, debugs

add hacs-validate to workflows
  .github/workflows/hacs-validate.yml
Due: debugs

ci: ignore brands check in HACS Action validation
  .github/workflows/hacs-validate.yml
Due: debugs

revert ignore brands
  .github/workflows/hacs-validate.yml
Due: debugs

fix icon licence small other fixes
  .github/workflows/hacs-validate.yml
  docs/mytodo.txt
  icons/CC-BY-NC-SA-4.0.txt
  icons/LICENCE.md
Due: prettier, debugs

fix linter in hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

cards: fix 404 when in-between versions
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/helpers/card_registry.py
Due: debugs

remove feature specific/legacy code from root/init fix pytest fails
  custom_components/ramses_extras/__init__.py
  tests/framework/helpers/test_card_registry.py
  tests/test_card_deployment.py
  tests/test_main_init.py
Due: debugs

add ignore: brands for now
  .github/workflows/hacs-validate.yml
Due: debugs

add note to mytodo.txt
  docs/mytodo.txt
Due: debugs

hvac: restyle hvac: add supply/exhaust speeds
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

fix humid icons
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

make number.absolute_humidity_offset_* editable in hvac card
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
Due: eslint, prettier, debugs
