Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

debug: log entity_id in async_added_to_hass and state write
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

debug: log entity_id at creation, websocket response, and card config
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/features/ramses_debugger/test_messages_provider.py
Due: eslint, prettier, debugs

debug: verify entity exists in state machine and registry
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

fix: restore parentheses on except tuple syntax
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

bump to 0.21.8
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: cache-bust dynamic imports of ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: eslint, prettier, debugs

bump to 0.21.9
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

bump to 0.21.9
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

fix: look up abs humidity entity_id from registry (issue 191)
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: debugs

test: add tests for abs humidity registry lookup
  tests/features/default/test_default_websocket_commands.py
Due: none

fix: move entity_registry import to module level for testability
  custom_components/ramses_extras/features/default/websocket_commands.py
  tests/features/default/test_default_websocket_commands.py
Due: debugs

fix: generate correct entity_id for abs humidity sensors (issue 191)
  custom_components/ramses_extras/features/default/platforms/sensor.py
Due: debugs

bump to 0.21.10
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix(ha_sim_test): harden recipes against parallel load failures
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r25_phase_3c_fix_mismatch_notification_dismissed.py
  tools/ha_sim_test/recipes/r32_battery_1060_cache_restore_stale_1060_must_survive.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
  tools/ha_sim_test/recipes/r63_zone_name_survives_messagestore_prune_issue_919.py
  tools/ha_sim_test/recipes/r64_no_repeated_discovery_notifications_issue_917.py
  tools/ha_sim_test/recipes/r77_hgi_not_re_discovered_issue_987.py
  tools/ha_sim_test/recipes/r88_callback_transport_tx_echo_suppression_issue_1041.py
Due: debugs

fix r91
  tools/ha_sim_test/recipes/r91_orcon_31d9_bogus_fan_speed.py
Due: debugs

test: add R92 ha_sim_test recipe for set_temperature builder roundtrip
  tools/ha_sim_test/recipes/r92_set_temperature_builder_roundtrip.py
Due: debugs

fix(ci): bump ramses_rf to 0.60.1, fix lint and test isolation
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  requirements_dev.txt
  requirements_test.txt
  tests/features/device_simulator/test_system_config.py
  tests/framework/helpers/test_ramses_tx_patches.py
Due: eslint, prettier, debugs

fix(ha_sim_test): auto-refresh token on auth_invalid in ws_send and call_service
  tools/ha_sim_test/helpers.py
Due: debugs

test(r88): use time-based filter for duplicate RQ detection
  tools/ha_sim_test/recipes/r88_callback_transport_tx_echo_suppression_issue_1041.py
Due: debugs

test(r88): raise duplicate threshold to 10 for parallel load
  tools/ha_sim_test/recipes/r88_callback_transport_tx_echo_suppression_issue_1041.py
Due: debugs

test(ha_sim): fix R81 timeout + R50 scan state reset
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
  tools/ha_sim_test/recipes/r81_config_entry_migration_v2_to_v3.py
Due: debugs

test(r07/r15): wait for FAN in client_state schema before force_update
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r15_verify_storageramses_cc_has_hvac_schema_key.py
Due: debugs

test(ha_sim): make R07/R15/R36 more robust under parallel load
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r15_verify_storageramses_cc_has_hvac_schema_key.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
Due: debugs

test(r92): increase zone climate entity timeout + nudge entity creation
  tools/ha_sim_test/recipes/r92_set_temperature_builder_roundtrip.py
Due: debugs

test(r92): retry profile load on WebSocket timeout + increase timeouts
  tools/ha_sim_test/recipes/r92_set_temperature_builder_roundtrip.py
Due: debugs

test: cover HVAC strategy command wiring
  tools/ha_sim_test/recipes/r93_hvac_strategy_selection_and_command_wiring.py
Due: debugs

test: split HVAC strategy coverage by roadmap step
  tools/ha_sim_test/recipes/r93_hvac_strategy_extraction.py
  tools/ha_sim_test/recipes/r94_hvac_strategy_selection.py
  tools/ha_sim_test/recipes/r95_hvac_strategy_command_wiring.py
Due: debugs

test: remove redundant R95 readiness wait
  tools/ha_sim_test/recipes/r95_hvac_strategy_command_wiring.py
Due: debugs

test: cover physical HVAC display detection
  tools/ha_sim_test/recipes/r96_non_faked_2411_display_detection.py
Due: debugs

test: assert DIS evidence event from R96
  tools/ha_sim_test/recipes/r96_non_faked_2411_display_detection.py
Due: debugs

test: cover ClimaRad scheme fan command
  tools/ha_sim_test/recipes/r95_hvac_strategy_command_wiring.py
Due: debugs

test: filter sim-artifact weak-signal warning
  tools/ha_sim_test/log_monitor.py
Due: debugs

test: throttle re-injection in R35/R36 polling callbacks
  tools/ha_sim_test/recipes/r35_water_heater_dhw_cqrs_hydration_issue_843.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
Due: debugs

docs: fix R68 + phase4_plan — scan engine catches RQ 22F1, not RP
  docs/phase4_plan.md
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: prettier, debugs

test: add R96 recipe for remote.send_command strategy fallback
  tools/ha_sim_test/recipes/r96_remote_send_command_strategy_fallback.py
Due: debugs

chore: deprecate ramses_tx FSM patches (ramses-rf/ramses_rf#1174)
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/helpers/ramses_tx_patches.py
  tests/framework/helpers/test_ramses_tx_patches.py
  tools/ha_sim_test/log_monitor.py
Due: debugs

fix: migrate async_send_cmd to async_send_raw_command + strategy fan modes
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  tests/framework/helpers/test_ramses_commands.py
  tests/helpers/test_ramses_commands.py
Due: debugs

test: update R40 for protocol FSM deletion (PR 1174)
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
Due: debugs

bump to 0.20.11
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

test: add R98 PooledTransport recipe, fix R96 ID conflict
  tools/ha_sim_test/recipes/r97_remote_send_command_strategy_fallback.py
  tools/ha_sim_test/recipes/r98_pooled_transport_dedup.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
