Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

bump 0.20.11
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix device id formats (stopping automations
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/temp_control/automation.py
  docs/notepad.txt
Due: debugs

add RF config validators
  custom_components/ramses_extras/framework/helpers/rf_config_validation.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/setup/validation.py
  docs/notepad.txt
  tests/framework/test_rf_config_validation.py
Due: debugs

fix device sim disable
  custom_components/ramses_extras/features/device_simulator/__init__.py
  docs/notepad.txt
Due: debugs

fix auto mode for packet log explorer
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix sim card not enabled (but is)
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

bump 0.20.12
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix sim card not enabled
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

fix: update test for enabled_features=None when no config entry
  tests/features/default/test_default_websocket_commands.py
Due: none

_DEVICE_ID_RE check
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: debugs

add clear discovery toggle to profiles (sim)
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: eslint, prettier, debugs

fix simulator don't wipe schema on restart
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

Fix 2: response_templates.py — FAN/22F8 missing response
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  custom_components/ramses_extras/features/device_simulator/response_templates.py
Due: debugs

Fix simulator payload validation warnings
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
Due: prettier, debugs

Match zone_idx in RP responses for zone-specific codes
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
Due: debugs

fix profile loader wipe
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

Fix simulator 000C responses referencing foreign device IDs
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  custom_components/ramses_extras/features/device_simulator/response_templates.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
Due: debugs

Add ha_sim_test.py integration test tool
  tools/ha_sim_test.py
Due: debugs

ha sim test
  README.md
  docs/HA_SIM_TEST_TOOL.md
  docs/notepad.txt
  testing.md
Due: prettier, debugs

fix: transport monitor marks devices online on any received message
  .pre-commit-config.yaml
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  docs/DOCUMENTATION_PLAN.md
  docs/Here's the PR 764 status overview:
  docs/notepad.txt
  docs/schema_architecture.md
  docs/schema_upgrade_guide.md
Due: prettier, debugs

fix: ha_sim_test retry logic + expected warnings
  tools/ha_sim_test.py
Due: debugs

test: add device_comments + main_tcs persistence checks to sim test
  tools/ha_sim_test.py
Due: debugs

Revert "test: add device_comments + main_tcs persistence checks to sim test"
  tools/ha_sim_test.py
Due: debugs

fix mypy
  config/mypy.ini
Due: debugs

test: add main_tcs persistence check to sim test
  tools/ha_sim_test.py
Due: debugs

bump to 0.20.13
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix unload guard
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

update ha-sim test
  tools/ha_sim_test.py
Due: debugs

bump 0.20.14
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fixes
  custom_components/ramses_extras/features/device_simulator/response_templates.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  tests/features/device_simulator/test_response_templates.py
Due: debugs

fix profile loader
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

fix profile
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: debugs

docs: mark Step 4 (SIGNAL_UPDATE wiring) as done via issue 794
  docs/schema_architecture.md
Due: prettier, debugs

Update schema_architecture.md: _faked/_bound/_scheme now implemented
  docs/schema_architecture.md
Due: prettier, debugs

Implement ha_sim_test Recipe 18: add_faked_rem end-to-end
  tools/ha_sim_test.py
Due: debugs

Update schema_architecture.md: mark Phase 2 traits as implemented
  docs/schema_architecture.md
Due: prettier, debugs

Add ha_sim_test recipe 20: SSOT Phase 2 migration test
  tools/ha_sim_test.py
Due: debugs

Fix ha_sim_test recipe 18: use collect() instead of nonexistent refresh()
  tools/ha_sim_test.py
Due: debugs

Fix ha_sim_test recipes 18+20: timing and device IDs
  tools/ha_sim_test.py
Due: debugs

Fix recipe 18: read schema from .storage instead of API
  tools/ha_sim_test.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
