Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

fix(ha_sim_test): mqtt_setup.py Python 3.12 syntax and port type
  tools/ha_sim_test/mqtt_setup.py
Due: debugs

fix(ha-sim): refactor R71 and R72 validation to use docker_exec_python (#148)
  custom_components/ramses_extras/features/co2_control/IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  docs/PR_929_TEST_FIXES.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/REMOTE_BINDING_EXAMPLES.md
  docs/TROUBLESHOOTING.md
  docs/ha_sim_test_recipe_proposals.md
  docs/issue_signal_update_event_coupling.md
  docs/parallelization_plan.md
  docs/phase3_plan.md
  docs/phase3b_fan_commands_design.md
  docs/phase3d_design.md
  docs/phase4_plan_archive.md
  docs/schema_architecture.md
  docs/schema_architecture.part2.md
  docs/signal_update_flow.md
  tools/ha_sim_test/recipes/r71_1260_dhw_temp_value_accuracy.py
  tools/ha_sim_test/recipes/r72_3150_heat_demand_value_accuracy.py
Due: prettier, debugs

fix(ha_sim_test): mqtt_setup.py Python 3.12 syntax and port type (#150)
  tools/ha_sim_test/mqtt_setup.py
Due: debugs

perf(ha_sim_test): progress counter, config profiles, debugger JS fix
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  tools/ha_sim_test/dashboard.py
  tools/ha_sim_test/ha_configs/configuration.full.yaml
  tools/ha_sim_test/ha_configs/configuration.minimal.yaml
  tools/ha_sim_test/ha_configs/core.config_entries.full.json
  tools/ha_sim_test/ha_configs/core.config_entries.minimal.json
  tools/ha_sim_test/ha_configs/switch_ha_config.sh
  tools/ha_sim_test/ha_configs/zone_testing_package.yaml
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/parallel.py
  tools/ha_sim_test/profile.py
  tools/ha_sim_test/recipes/r19_zone_binding_from_broadcast_traffic_passive_scan_a.py
  tools/ha_sim_test/runner.py
Due: eslint, prettier, debugs

perf(ha_sim_test): reduce wait times, fix R36 race and R63 alias isolation
  tools/ha_sim_test/profile.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r29_bdr_broadcasting_3b003ef0_appliance_control_issue_.py
  tools/ha_sim_test/recipes/r32_battery_1060_cache_restore_stale_1060_must_survive.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r37_bdr_hotwater_valve_misclassified_as_appliance_control_issue_834.py
  tools/ha_sim_test/recipes/r60_send_packet_cmddto_filter_issue_864.py
  tools/ha_sim_test/recipes/r63_zone_name_survives_messagestore_prune_issue_919.py
  tools/ha_sim_test/recipes/r64_no_repeated_discovery_notifications_issue_917.py
  tools/ha_sim_test/recipes/r65_hvac_belongs_to_from_traffic.py
  tools/ha_sim_test/recipes/r69_faked_thm_03x_30c9_decoder_issue_929.py
Due: debugs

perf(ha_sim_test): reduce floor times in helpers.py
  tools/ha_sim_test/helpers.py
Due: debugs

bump to 0.21.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

test: add R75 recipe for zone class + BDR hotwater_valve fallback (issue 947)
  tools/ha_sim_test/recipes/r75_zone_class_and_bdr_fallback_issue_947.py
Due: debugs

fix(ha_sim_test): progress counter not updating in TTY mode
  tools/ha_sim_test/parallel.py
Due: debugs

fix(ha_sim_test): R63 device registry refresh + R36 re-inject every poll
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r63_zone_name_survives_messagestore_prune_issue_919.py
Due: debugs

test: add R76 recipe for 0004 zone name polling + mismatch notification
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r76_zone_name_0004_polling_issue_947.py
Due: debugs

fix(R76): load own profile instead of relying on mixed profile from setup
  tools/ha_sim_test/recipes/r76_zone_name_0004_polling_issue_947.py
Due: debugs

r76
  tools/ha_sim_test/recipes/r76_zone_name_0004_polling_issue_947.py
Due: debugs

refactor(ha_sim_test): merge related recipes to reduce count and improve reliability
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/parallel.py
  tools/ha_sim_test/recipes/r02_remove_device_remove_a_trv.py
  tools/ha_sim_test/recipes/r03_remove_device_hgi_rejection.py
  tools/ha_sim_test/recipes/r04_remove_device_ctl_main_tcs_removal.py
  tools/ha_sim_test/recipes/r05_no_resurrection_after_restart.py
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r08_hvac_schema_caching_merge_union_on_reload.py
  tools/ha_sim_test/recipes/r18_add_faked_rem_service_creates_faked_rem_bound_to_f.py
  tools/ha_sim_test/recipes/r19_zone_binding_from_broadcast_traffic_passive_scan_a.py
  tools/ha_sim_test/recipes/r19b_invalid_zone_indices_are_rejected_a.py
  tools/ha_sim_test/recipes/r19c_18_hgi_devices_tracked_but_no_zone_bindings_a.py
  tools/ha_sim_test/recipes/r20_ssot_phase_2_migration_known_list_traits_to_schema.py
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r25_phase_3c_fix_mismatch_notification_dismissed.py
  tools/ha_sim_test/recipes/r26_phase_3c_missing__class_detection.py
  tools/ha_sim_test/recipes/r29_bdr_broadcasting_3b003ef0_appliance_control_issue_.py
  tools/ha_sim_test/recipes/r37_bdr_hotwater_valve_misclassified_as_appliance_control_issue_834.py
  tools/ha_sim_test/recipes/r41_hvac_topology_roundtrip_load_fan_issue_767.py
  tools/ha_sim_test/recipes/r42_hvac_topology_binding_rules_issue_767.py
  tools/ha_sim_test/recipes/r43_co2_dual_role_device_issue_767.py
  tools/ha_sim_test/recipes/r58_phase4_known_list_removal_enforce_always_on.py
  tools/ha_sim_test/recipes/r59_phase4_cleanup_stale_known_list.py
  tools/ha_sim_test/recipes/r60_send_packet_cmddto_filter_issue_864.py
  tools/ha_sim_test/recipes/r69_faked_thm_03x_30c9_decoder_issue_929.py
  tools/ha_sim_test/recipes/r71_1260_dhw_temp_value_accuracy.py
  tools/ha_sim_test/recipes/r72_3150_heat_demand_value_accuracy.py
  tools/ha_sim_test/recipes/r73_authoritative_domain_id_from_000c_issue_931.py
  tools/ha_sim_test/recipes/r74_manual_placement_preserved_comment_staleness_issue_931.py
  tools/ha_sim_test/recipes/r75_zone_class_and_bdr_fallback_issue_947.py
Due: debugs

Revert "Merge pull request #155 from wimpie70/fix/ha-sim-test-recipe-merges"
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/parallel.py
  tools/ha_sim_test/recipes/r02_remove_device_remove_a_trv.py
  tools/ha_sim_test/recipes/r03_remove_device_hgi_rejection.py
  tools/ha_sim_test/recipes/r04_remove_device_ctl_main_tcs_removal.py
  tools/ha_sim_test/recipes/r05_no_resurrection_after_restart.py
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r08_hvac_schema_caching_merge_union_on_reload.py
  tools/ha_sim_test/recipes/r18_add_faked_rem_service_creates_faked_rem_bound_to_f.py
  tools/ha_sim_test/recipes/r19_zone_binding_from_broadcast_traffic_passive_scan_a.py
  tools/ha_sim_test/recipes/r19b_invalid_zone_indices_are_rejected_a.py
  tools/ha_sim_test/recipes/r19c_18_hgi_devices_tracked_but_no_zone_bindings_a.py
  tools/ha_sim_test/recipes/r20_ssot_phase_2_migration_known_list_traits_to_schema.py
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r25_phase_3c_fix_mismatch_notification_dismissed.py
  tools/ha_sim_test/recipes/r26_phase_3c_missing__class_detection.py
  tools/ha_sim_test/recipes/r29_bdr_broadcasting_3b003ef0_appliance_control_issue_.py
  tools/ha_sim_test/recipes/r37_bdr_hotwater_valve_misclassified_as_appliance_control_issue_834.py
  tools/ha_sim_test/recipes/r41_hvac_topology_roundtrip_load_fan_issue_767.py
  tools/ha_sim_test/recipes/r42_hvac_topology_binding_rules_issue_767.py
  tools/ha_sim_test/recipes/r43_co2_dual_role_device_issue_767.py
  tools/ha_sim_test/recipes/r58_phase4_known_list_removal_enforce_always_on.py
  tools/ha_sim_test/recipes/r59_phase4_cleanup_stale_known_list.py
  tools/ha_sim_test/recipes/r60_send_packet_cmddto_filter_issue_864.py
  tools/ha_sim_test/recipes/r69_faked_thm_03x_30c9_decoder_issue_929.py
  tools/ha_sim_test/recipes/r73_authoritative_domain_id_from_000c_issue_931.py
  tools/ha_sim_test/recipes/r74_manual_placement_preserved_comment_staleness_issue_931.py
  tools/ha_sim_test/recipes/r75_zone_class_and_bdr_fallback_issue_947.py
Due: debugs

fix(ha_sim_test): add wait_for_transport_ready to 27 recipes + fix dashboard P/F counters
  Makefile
  tools/ha_sim_test/dashboard.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r11_full_lifecycle_discover_accept_remove.py
  tools/ha_sim_test/recipes/r17_discovery_service_lifecycle_a.py
  tools/ha_sim_test/recipes/r19_zone_binding_from_broadcast_traffic_passive_scan_a.py
  tools/ha_sim_test/recipes/r21_ctl_01_does_not_get_zone_idx_from_000a_packets.py
  tools/ha_sim_test/recipes/r22_thm_22_zone_binding_via_000a.py
  tools/ha_sim_test/recipes/r23_0004_zone_name_propagation_parser_0004_zone_idx_fi.py
  tools/ha_sim_test/recipes/r26_phase_3c_missing__class_detection.py
  tools/ha_sim_test/recipes/r28_foreign_hgi_0004_zone_names_not_blocked_by_block_l.py
  tools/ha_sim_test/recipes/r29_bdr_broadcasting_3b003ef0_appliance_control_issue_.py
  tools/ha_sim_test/recipes/r32_battery_1060_cache_restore_stale_1060_must_survive.py
  tools/ha_sim_test/recipes/r35_water_heater_dhw_cqrs_hydration_issue_843.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
  tools/ha_sim_test/recipes/r42_hvac_topology_binding_rules_issue_767.py
  tools/ha_sim_test/recipes/r43_co2_dual_role_device_issue_767.py
  tools/ha_sim_test/recipes/r47_eavesdrop_false_unknown_devices_tracked_issue_767.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
  tools/ha_sim_test/recipes/r62_topology_event_driven_schema_sync_step5.py
  tools/ha_sim_test/recipes/r63_zone_name_survives_messagestore_prune_issue_919.py
  tools/ha_sim_test/recipes/r65_hvac_belongs_to_from_traffic.py
  tools/ha_sim_test/recipes/r66_hvac_dual_role_co2_rem_6c.py
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
  tools/ha_sim_test/recipes/r69_faked_thm_03x_30c9_decoder_issue_929.py
  tools/ha_sim_test/recipes/r70_3ef0_9byte_otb_payload_decode.py
  tools/ha_sim_test/recipes/r71_1260_dhw_temp_value_accuracy.py
  tools/ha_sim_test/recipes/r72_3150_heat_demand_value_accuracy.py
  tools/ha_sim_test/recipes/r76_zone_name_0004_polling_issue_947.py
Due: debugs

refactor(ha_sim_test): remove 4 camouflaged recipes, merge R58 HGI check into R60
  tools/ha_sim_test/recipes/r41_hvac_topology_roundtrip_load_fan_issue_767.py
  tools/ha_sim_test/recipes/r58_phase4_known_list_removal_enforce_always_on.py
  tools/ha_sim_test/recipes/r59_phase4_cleanup_stale_known_list.py
  tools/ha_sim_test/recipes/r60_send_packet_cmddto_filter_issue_864.py
  tools/ha_sim_test/recipes/r61_fan_2411_param_entities_issue_851.py
Due: debugs

docs: update phase4 plan with Phase 6 closure + PR 953 + issue 1027
  docs/phase4_plan.md
  docs/phase4_plan_archive.md
Due: prettier, debugs

fix(R07b): retry profile reload after docker restart
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
Due: debugs

fix(R75,R60): add wait_for_transport_ready, fix HGI known_list check
  tools/ha_sim_test/recipes/r60_send_packet_cmddto_filter_issue_864.py
  tools/ha_sim_test/recipes/r75_zone_class_and_bdr_fallback_issue_947.py
Due: debugs

fix(ha_sim_test): timing/race fixes for R19/R22/R26/R30/R36/R50
  docs/issue_954_analysis.md
  tools/ha_sim_test/recipes/r19_zone_binding_from_broadcast_traffic_passive_scan_a.py
  tools/ha_sim_test/recipes/r22_thm_22_zone_binding_via_000a.py
  tools/ha_sim_test/recipes/r26_phase_3c_missing__class_detection.py
  tools/ha_sim_test/recipes/r30_phase_3d4_multirem_fan_with__bound_as_liststr.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: prettier, debugs

docs: update issue 954 analysis — bugs A and C now fixed upstream
  docs/issue_954_analysis.md
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: prettier, debugs

fix: R50 scan_state uses zone_index (renamed in ramses_rf 1039)
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: debugs

fix: R72 uses domain_or_zone_index (renamed in ramses_rf 1039)
  tools/ha_sim_test/recipes/r72_3150_heat_demand_value_accuracy.py
Due: debugs

fix: R50 scan_state uses source_count/destination_count (renamed in ramses_rf 1039)
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: debugs

fix(device_simulator): wait for SETUP_IN_PROGRESS before reload (issue 919)
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

perf(ha_sim_test): parallel container startup + log collection
  tools/ha_sim_test/parallel.py
Due: debugs

test: extend R68 to verify 2411 parameter entities (issue ramses-rf/ramses_cc#851)
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

fix: ramses_tx 0.59.7 compatibility (pkt_rcvd → packet_rcvd)
  custom_components/ramses_extras/framework/helpers/ramses_tx_patches.py
Due: debugs

test: update ramses_tx_patches tests for version-aware logic
  tests/framework/helpers/test_ramses_tx_patches.py
Due: none

fix: ha_sim_test recipe fixes for ramses_rf 0.59.7 renames
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r06_zone_binding_via_inject_message.py
  tools/ha_sim_test/recipes/r23_0004_zone_name_propagation_parser_0004_zone_idx_fi.py
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

Add R77/R78 recipes + fix profile load after restart
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r63_zone_name_survives_messagestore_prune_issue_919.py
  tools/ha_sim_test/recipes/r64_no_repeated_discovery_notifications_issue_917.py
  tools/ha_sim_test/recipes/r77_hgi_not_re_discovered_issue_987.py
  tools/ha_sim_test/recipes/r78_orphaned_dismissed_no_re_notify_issue_988.py
Due: debugs

Update notepad with current open issues
  notepad.txt
Due: debugs

Fix traffic analyser: ramses_tx 0.59.7 compat + coordinator lookup
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

Update phase4 plan with Aug 17 status (0.59.7 + issues 987/988/162)
  docs/phase4_plan.md
  docs/phase4_plan_archive.md
Due: prettier, debugs

Update R07/R07b/R15 recipes for Step 8
  notepad.txt
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r15_verify_storageramses_cc_has_hvac_schema_key.py
Due: debugs

Mark Step 8 as DONE (PR 994)
  docs/phase4_plan.md
Due: prettier, debugs

Stabilise ha_sim_test recipes + fix simulator card log flooding
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r09_user_schema_edits_survive_sync__alias.py
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r29_bdr_broadcasting_3b003ef0_appliance_control_issue_.py
  tools/ha_sim_test/recipes/r33_phase_3d3b_consolidated_stripper_validation_ma.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
  tools/ha_sim_test/recipes/r74_manual_placement_preserved_comment_staleness_issue_931.py
Due: eslint, prettier, debugs

Fix 6 recipe failures in full suite (R06, R16, R31, R33, R50)
  tools/ha_sim_test/recipes/r06_zone_binding_via_inject_message.py
  tools/ha_sim_test/recipes/r16_concurrencystress_test_rapid_addremove_inject.py
  tools/ha_sim_test/recipes/r31_phase_3d6__commands_override_precedence_e2e.py
  tools/ha_sim_test/recipes/r33_phase_3d3b_consolidated_stripper_validation_ma.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
