Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

Optimize debugger todo.md
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/mytodo.txt
Due: prettier, debugs

Shared backend cache
  custom_components/ramses_extras/features/ramses_debugger/__init__.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/ramses_debugger/debugger_cache.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
Due: prettier, debugs

Log source improvements (tail/search) Traffic collector: cap flows
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/__init__.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
Due: prettier, debugs

on prev commit: Add debugger options
  custom_components/ramses_extras/features/ramses_debugger/todo.md
Due: prettier, debugs

Log source improvements (tail/search) Config flow (Advanced settings)
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/translations/en.json
Due: prettier, debugs

Frontend: reduce redundant polling across multiple instances
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/setup/entry.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/mytodo.txt
Due: eslint, prettier, debugs

test fixes
  tests/features/default/test_default_websocket_commands.py
Due: none

create new config step move debugger options to it's feature (from advanced) fix horizontal divider on search results
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/config_flow.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/translations/en.json
  tests/test_config_flow.py
Due: eslint, prettier, debugs

debugger: add docstrings to backend and frontend
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/card-services.js
Due: eslint, prettier, debugs

fix and add pytests
  tests/framework/test_cards.py
  tests/framework/test_platform.py
  tests/framework/test_yaml_setup.py
Due: none

bump 0.13.1
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

more tests
  tests/framework/test_cards.py
  tests/framework/test_devices_setup.py
  tests/framework/test_features_setup.py
  tests/framework/test_ramses_commands.py
  tests/framework/test_simple_entity_manager.py
Due: none

more tests
  tests/framework/test_cards.py
  tests/framework/test_devices_setup.py
  tests/framework/test_ramses_commands.py
Due: none

more tests
  tests/framework/test_devices_setup.py
  tests/framework/test_features_setup.py
  tests/framework/test_ramses_commands.py
Due: none

more tests
  tests/features/hello_world/test_hello_world.py
  tests/features/humidity_control/test_humidity_control.py
  tests/framework/test_devices_setup.py
  tests/framework/test_ramses_commands.py
  tests/framework/test_simple_entity_manager.py
Due: none

more more tests
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/framework/helpers/test_ramses_commands.py
  tests/framework/helpers/test_websocket_base.py
  tests/framework/test_cards.py
  tests/framework/test_devices_setup.py
  tests/framework/test_simple_entity_manager.py
  tests/platforms/test_number_platform.py
  tests/platforms/test_switch_platform.py
  tests/test_main_init.py
Due: debugs

add codeql badge to readme and workflow
  .github/workflows/codeql.yml
  README.md
Due: prettier, debugs

more tests (default)
  tests/features/default/test_default_const.py
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/default/test_default_websocket_commands.py
Due: none

reorganize wiki docs, part 1
  docs/wiki/API-Reference.md
  docs/wiki/Debugging-and-Troubleshooting.md
  docs/wiki/Development-Guide.md
  docs/wiki/Device-Feature-Management.md
  docs/wiki/Entity-Management.md
  docs/wiki/Feature-System.md
  docs/wiki/Framework-Foundation.md
  docs/wiki/Frontend-Architecture.md
  docs/wiki/Getting-Started-Devs.md
  docs/wiki/Getting-Started-Users.md
  docs/wiki/Home-Assistant-Integration.md
  docs/wiki/Home.md
  docs/wiki/Implementation-Details.md
  docs/wiki/Overview.md
  docs/wiki/System-Architecture.md
  docs/wiki/assets/.gitkeep
  docs/wiki/todo.md
Due: prettier, debugs

update debugger todo.md
  custom_components/ramses_extras/features/ramses_debugger/todo.md
Due: prettier, debugs

reorganize wiki docs, part 3
  docs/wiki/Feature-System.md
  docs/wiki/Framework-Foundation.md
  docs/wiki/Getting-Started-Devs.md
  docs/wiki/Getting-Started-Users.md
  docs/wiki/Overview.md
  docs/wiki/System-Architecture.md
  docs/wiki/todo.md
Due: prettier, debugs

reorganize wiki docs, part 3-2
  docs/wiki/Device-Feature-Management.md
  docs/wiki/Entity-Management.md
  docs/wiki/Home-Assistant-Integration.md
  docs/wiki/todo.md
Due: prettier, debugs

reorganize wiki docs, part 3-finis
  docs/wiki/API-Reference.md
  docs/wiki/Debugging-and-Troubleshooting.md
  docs/wiki/Development-Guide.md
  docs/wiki/Frontend-Architecture.md
  docs/wiki/Implementation-Details.md
  docs/wiki/todo.md
Due: prettier, debugs

reorganize wiki docs, part 4-1
  docs/wiki/Framework-Foundation.md
  docs/wiki/Frontend-Architecture.md
  docs/wiki/Getting-Started-Devs.md
  docs/wiki/Getting-Started-Users.md
  docs/wiki/Implementation-Details.md
  docs/wiki/Overview.md
  docs/wiki/System-Architecture.md
  docs/wiki/todo.md
Due: prettier, debugs

reorganize wiki docs, part 4-finish 5-1, 6-1
  docs/wiki/Feature-Catalog.md
  docs/wiki/Home.md
  docs/wiki/todo.md
Due: prettier, debugs

reorganize wiki docs, part 6-finish
  docs/wiki/API-Reference.md
  docs/wiki/Development-Guide.md
  docs/wiki/Frontend-Architecture.md
  docs/wiki/Getting-Started-Devs.md
  docs/wiki/Implementation-Details.md
  docs/wiki/todo.md
Due: prettier, debugs

rm wiki files (moved to wiki repo) update README.md
  README.md
  docs/wiki/API-Reference.md
  docs/wiki/Debugging-and-Troubleshooting.md
  docs/wiki/Development-Guide.md
  docs/wiki/Device-Feature-Management.md
  docs/wiki/Entity-Management.md
  docs/wiki/Feature-Catalog.md
  docs/wiki/Feature-System.md
  docs/wiki/Framework-Foundation.md
  docs/wiki/Frontend-Architecture.md
  docs/wiki/Getting-Started-Devs.md
  docs/wiki/Getting-Started-Users.md
  docs/wiki/Home-Assistant-Integration.md
  docs/wiki/Home.md
  docs/wiki/Implementation-Details.md
  docs/wiki/Overview.md
  docs/wiki/System-Architecture.md
  docs/wiki/assets/.gitkeep
  docs/wiki/todo.md
Due: prettier, debugs

fix codeql badge
  README.md
Due: prettier, debugs

fix codeql
  .github/workflows/codeql.yml
  .github/workflows/hacs-validate.yml
Due: debugs

add comment to test workflows
  custom_components/ramses_extras/features/default/const.py
Due: debugs

try fix codeql again
  .github/workflows/codeql.yml
  README.md
Due: prettier, debugs

rm old docs rm obsolete Parsed values toggle
  INITIALIZATION_FIXES.md
  custom_components/ramses_extras/features/ramses_debugger/FIXES_SUMMARY.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  docs/FILES_NO_LONGER_NEEDED.md
  docs/REFACTOR CARD REGISTRATION PLAN.md
  docs/mytodo.txt
  wiki_page_on_cc.md
Due: eslint, prettier, debugs

limit max 25 lines of search result
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
Due: eslint, prettier, debugs

bump to 0.13.2
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: prettier, debugs

limit max 25 lines of search result
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: eslint, prettier, debugs

fix limit max 25 lines of search result
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: eslint, prettier, debugs

fix pytests to the new changes
  tests/framework/base_classes/test_base_automation.py
  tests/framework/helpers/test_card_registry.py
Due: none

fix codeQL warnings
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/hacs-validate.yml
  .github/workflows/hassfest.yml
  .github/workflows/tests.yml
Due: debugs

add tests
  custom_components/ramses_extras/features/ramses_debugger/__init__.py
  custom_components/ramses_extras/features/ramses_debugger/debugger_cache.py
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  tests/features/ramses_debugger/test_debugger_cache.py
  tests/features/ramses_debugger/test_ramses_debugger_init.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: prettier, debugs

fix scroll position on debugger (stat restoration on re-render) fix websocket connection loss without reconnection
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
