Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

Fix R11, R36, R50 failures — real RF timing and attribute issues
  tools/ha_sim_test/recipes/r11_full_lifecycle_discover_accept_remove.py
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r50_device_health_tracking_issue_767.py
Due: debugs

Fix R68 2411 parameter entities under load + R50 syntax fix
  notepad.txt
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

Fix R68: inject 22F1 RQ directly when probe_hvac_binding times out
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

Fix R68: inject 2411 RP from FAN when probe service times out
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

Fix issue 165: resolve 2411 param entity_ids via unique_id lookup
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/entity_id_fallbacks.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/framework/helpers/entity/test_entity_id_fallbacks.py
Due: eslint, prettier, debugs

Fix issue 166: remove deprecated ramses_cc_message bus event usage
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/device_simulator/README.md
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/issue_echo_tx_visibility.md
  tests/features/default/test_services_remote_packets.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/test_ramses_message_stream.py
Due: eslint, prettier, debugs

Fix R68: always inject 2411 RP from FAN (not just on service timeout)
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

Fix issue 166 tests: update for removed bus event listener
  tests/features/default/test_services_additional.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
Due: none

Fix R02/R78: increase timeouts and retry delays for parallel runs
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r02_remove_device_remove_a_trv.py
Due: debugs

Add 'No Recipe Failures' rule to LLM_INSTRUCTIONS.md
  LLM_INSTRUCTIONS.md
Due: prettier, debugs

Fix R78: update coordinator.options before reload to prevent race
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

Fix issue 88: WS message subscription replaces EventEntity hijacking
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/rf_config_validation.py
  custom_components/ramses_extras/framework/www/ramses-message-broker.js
  tests/framework/test_rf_config_validation.py
Due: eslint, prettier, debugs

Make R36 and R78 robust against parallel-load timing issues
  tools/ha_sim_test/recipes/r36_zone_climate_state_hydration_issue_843.py
  tools/ha_sim_test/recipes/r78_orphaned_dismissed_no_re_notify_issue_988.py
Due: debugs

bump to 0.21.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix: debugger 'known devices' filter now uses _owner trait
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/framework/www/device-cache.js
Due: eslint, prettier, debugs

fix: debugger unhashable error, decode, and Python 2 except syntax
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

fix: Python 2 except syntax across 16 files
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/co2_control/zone_manager.py
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/websocket_commands.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
Due: debugs

fix: use Message._from_packet instead of _from_pkt for decode
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
Due: debugs

fix: fan card shows offline due to hass.data vs entry.runtime_data
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/setup/devices.py
Due: debugs

test: update device core tests for entry.runtime_data pattern
  tests/framework/helpers/device/test_device_core.py
Due: none

test: update all tests for entry.runtime_data pattern
  tests/framework/test_devices_setup.py
  tests/helpers/test_device_helpers.py
  tests/test_main_init.py
Due: none

test: update mock to use _from_packet instead of _from_pkt
  tests/features/ramses_debugger/test_messages_provider.py
Due: none

test: add recipe R79 for FAN→DIS reclassification contradiction detection
  tools/ha_sim_test/recipes/r79_fan_dis_reclassification_contradiction_issue_1000.py
Due: debugs

test: add R80 recipe for foreign-owned device notification (issue 1003)
  tools/ha_sim_test/recipes/r80_foreign_owner_no_new_device_notification_issue_1003.py
Due: debugs

docs: update phase4 plan with REM→FAN verification + new PRs
  docs/phase4_plan.md
  docs/phase4_plan_archive.md
Due: prettier, debugs

docs: add Phase 7 + Strategy Pattern plan for issue 639
  docs/phase7_strategy_plan.md
Due: prettier, debugs

docs: split phase7+strategy plan into roadmap-numbered files
  docs/2-phase7_cleanup_plan.md
  docs/5-strategy-pattern_plan.md
Due: prettier, debugs

fix: ha-sim MQTT uses localhost, R24 injects FAN-evidence packets
  AGENTS.md
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  notepad.txt
  tools/ha_sim_test/ha_configs/core.config_entries.full.json
  tools/ha_sim_test/parallel.py
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
  tools/ha_sim_test/recipes/r79_fan_dis_reclassification_contradiction_issue_1000.py
Due: prettier, debugs

fix(ha_sim_test): R79 grep pattern + expected warnings for contradiction test
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r79_fan_dis_reclassification_contradiction_issue_1000.py
Due: debugs

fix: restore Prettier formatting + revert notepad.txt
  notepad.txt
  tools/ha_sim_test/ha_configs/core.config_entries.full.json
Due: prettier, debugs

fix: temp_control/co2_control only iterate matrix-enabled devices
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/temp_control/automation.py
Due: debugs

test: update _iter_candidate_device_ids tests for device_feature_matrix
  tests/features/co2_control/test_co2_automation_helpers.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
Due: none

fix: R68 uses send_packet via transport for 22F1/2411 probing
  tools/ha_sim_test/recipes/r68_hvac_active_probing_6f.py
Due: debugs

test: add R81/R82 config entry migration E2E tests
  tools/ha_sim_test/recipes/r81_config_entry_migration_v2_to_v3.py
  tools/ha_sim_test/recipes/r82_config_entry_migration_v1_to_v3.py
Due: debugs

test: cover representative TRV sensor persistence
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/recipes/r83_representative_trv_sensor_persistence_issue_1013.py
Due: debugs

fix: reduce recipe flakiness in R10 and R16 under parallel load
  tools/ha_sim_test/recipes/r10_invalid_main_tcs_safety_net.py
  tools/ha_sim_test/recipes/r16_concurrencystress_test_rapid_addremove_inject.py
Due: debugs

r84
  tools/ha_sim_test/recipes/r84_multiroom_zone_sensor_learning_issue_1013.py
Due: debugs

chore: add brace-expansion override to root package.json
  package.json
Due: prettier, debugs

test: add R85+R86 recipes for issue 1102 CQRS hydration fixes
  tools/ha_sim_test/recipes/r85_000a_zone_config_min_max_temp_issue_1102.py
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
