Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

enlarge width for sim card: layout_options: grid_columns: 200
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

add log import
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  docs/notepad.txt
Due: prettier, debugs

restructure scenario tab
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_suite.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  tests/features/device_simulator/test_services.py
Due: eslint, prettier, debugs

small fixes
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: debugs

1. View & Edit saved playbacks 2. Skip recorded answers (let Auto Answer reply) fixed a crash when speed is None
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

Playback conversation fixes
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

cards: fresh reload when restarting extras
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: eslint, prettier, debugs

limit result box for found conversations persist saved conversations over restarts/redeploys
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
  tests/features/device_simulator/test_device_db.py
Due: eslint, prettier, debugs

remove obsolete conversation playback (2nd)
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/services.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  scripts/test_device_simulator.py
  tests/features/device_simulator/test_services.py
  tests/features/device_simulator/test_websocket.py
Due: prettier, debugs

add tests
  tests/framework/helpers/config/test_migration.py
  tests/framework/helpers/entity/test_entity_core.py
  tests/framework/helpers/test_card_registry.py
  tests/framework/helpers/test_translations_simple.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/helpers/test_zone_adapters_coverage.py
  tests/framework/helpers/test_zone_demand.py
  tests/framework/setup/test_entry_coverage.py
Due: none

add tests
  scripts/extract_response_pairs.py
  scripts/harvest_ramses_logs.py
  tests/framework/helpers/commands/test_registry.py
  tests/framework/helpers/entity/test_entity_id_fallbacks.py
  tests/framework/helpers/test_remote_binding.py
  tests/framework/helpers/test_websocket_base.py
Due: debugs

add tests
  tests/features/device_simulator/test_scenarios.py
Due: none

auto activate devices on playback (discovery) prevent auto emission on playback update docs & wiki Add fresh_start_allow_unknown_devices profile
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  docs/notepad.txt
Due: prettier, debugs

fix auto emitting on playback fix fan emitting 2411 on playback (this is a hack for finding bound_rem on startup)
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
  docs/notepad.txt
Due: debugs

add clear_message_log option to profiles fix hass warning (guard)
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

fix pytest
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  docs/notepad.txt
Due: debugs

add hvac discovery conversation
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/hvac_discover_rem_fan_co2.yaml
  docs/notepad.txt
Due: prettier, debugs

fix hvac_discover_rem_fan_co2
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/hvac_discover_rem_fan_co2.yaml
  custom_components/ramses_extras/features/device_simulator/system_config.py
Due: prettier, debugs

fix auto answer on playback with skip recorded answers
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  docs/notepad.txt
Due: prettier, debugs

device tab: - add origin column - add colors
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  docs/notepad.txt
Due: eslint, prettier, debugs

update pre-commit
  .pre-commit-config.yaml
Due: none

update notepad
  .pre-commit-config.yaml
  docs/notepad.txt
Due: debugs

add 10e0 answers
  custom_components/ramses_extras/features/device_simulator/IMPLEMENTATION_PLAN.md
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/OTB.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/UFC.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/ctl.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/DIS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/HUM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/RFS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
Due: prettier, debugs

extra answers: (22F1, 2411, 2210, 22E0, 22E5, 22E9, 22F2, 22F4, 22F8, 313E, 3222)
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  docs/notepad.txt
Due: prettier, debugs

more codes fix 2411 answers
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/DIS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
Due: prettier, debugs

more answers
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/DIS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/HUM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/RFS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
  custom_components/ramses_extras/features/device_simulator/response_engine.py
  docs/notepad.txt
Due: prettier, debugs

more unanswered msgs
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/REM.yaml
  docs/notepad.txt
Due: prettier, debugs

update ctl, dhw, dts, trv, rnd
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DTS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RND.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  docs/notepad.txt
Due: prettier, debugs

update THM, JIM, JST, RFG
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JIM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JST.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFG.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml
  docs/notepad.txt
Due: prettier, debugs

add hvac_discover_all, heat_discover_all conversations for discovery testing
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_discover_all.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/hvac_discover_all.yaml
  docs/notepad.txt
Due: prettier, debugs

fix unquoted payloads CTL 2E04 response added
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DTS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JIM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RFG.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/DIS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/REM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
  docs/notepad.txt
Due: prettier, debugs

fix and audit dbase files
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JST.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RND.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/ctl.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/RFS.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/co2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/fan.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/rem.yaml
Due: prettier, debugs

bump to 0.19.3
  RELEASE_NOTES_0.19.2.md
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix tests
  tests/features/device_simulator/test_response_engine.py
Due: none

bump 0.19.3
  RELEASE_NOTES_0.19.2.md
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fix test
  tests/features/device_simulator/test_response_engine.py
Due: none

fix pyproject.toml
  pyproject.toml
Due: debugs
