Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

test: R108 device-specific firmware/HGI type tests
  tools/ha_sim_test/recipes/r108_device_firmware.py
Due: debugs

test: R109 connection loss + R110 schema mutation recipes
  tools/ha_sim_test/recipes/r109_connection_loss.py
  tools/ha_sim_test/recipes/r110_schema_mutation.py
Due: debugs

test: add R111/R112 ha_sim recipes for HGI80+MQTT hybrid pool (issue 1185)
  tools/ha_sim_test/recipes/r111_phase2_hgi80_mqtt_source_patching.py
  tools/ha_sim_test/recipes/r112_mqtt_hgi_id_serial_primary.py
Due: debugs

test: update R109 and add R113/R114 for exclusion reconciliation (issue 1185)
  tools/ha_sim_test/recipes/r109_connection_loss.py
  tools/ha_sim_test/recipes/r113_mqtt_exclusion_reconciliation.py
  tools/ha_sim_test/recipes/r114_pool_display_switching.py
Due: debugs

fix: respect transport_state 'off' in hvac_fan_card instead of climate fallback
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

chore: bump version to 0.21.14 for JS cache invalidation
  custom_components/ramses_extras/manifest.json
Due: prettier, debugs

feat: add second simulator HGI, pool recipes, and --pool flag (issue 1185)
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  tools/ha_sim_test/__main__.py
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/log_monitor.py
  tools/ha_sim_test/multi_hgi_helpers.py
  tools/ha_sim_test/recipes/r114_pool_display_switching.py
  tools/ha_sim_test/recipes/r115_end_to_end_tx_rx.py
  tools/ha_sim_test/recipes/r116_pool_type_switching.py
  tools/ha_sim_test/recipes/r118_txrx_after_switch.py
  tools/ha_sim_test/recipes/r119_mqtt_exclusion.py
  tools/ha_sim_test/recipes/r120_primary_switch.py
  tools/ha_sim_test/recipes/r121_failover.py
  tools/ha_sim_test/recipes/r122_child_disconnect.py
Due: debugs

fix: pool recipe summary assertions use per-recipe failure count
  tools/ha_sim_test/recipes/r116_pool_type_switching.py
  tools/ha_sim_test/recipes/r118_txrx_after_switch.py
  tools/ha_sim_test/recipes/r119_mqtt_exclusion.py
  tools/ha_sim_test/recipes/r120_primary_switch.py
  tools/ha_sim_test/recipes/r121_failover.py
  tools/ha_sim_test/recipes/r122_child_disconnect.py
Due: debugs

fix: replace docker logs subprocess calls with get_docker_logs helper
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/recipes/r10_invalid_main_tcs_safety_net.py
  tools/ha_sim_test/recipes/r11_full_lifecycle_discover_accept_remove.py
  tools/ha_sim_test/recipes/r16_concurrencystress_test_rapid_addremove_inject.py
  tools/ha_sim_test/recipes/r17_discovery_service_lifecycle_a.py
  tools/ha_sim_test/recipes/r22_thm_22_zone_binding_via_000a.py
  tools/ha_sim_test/recipes/r26_phase_3c_missing__class_detection.py
  tools/ha_sim_test/recipes/r31_phase_3d6__commands_override_precedence_e2e.py
  tools/ha_sim_test/recipes/r33_phase_3d3b_consolidated_stripper_validation_ma.py
  tools/ha_sim_test/recipes/r62_topology_event_driven_schema_sync_step5.py
  tools/ha_sim_test/recipes/r76_zone_name_0004_polling_issue_947.py
  tools/ha_sim_test/recipes/r91_orcon_31d9_bogus_fan_speed.py
Due: debugs

fix: wait for transport ready before injecting in R37
  tools/ha_sim_test/recipes/r37_bdr_hotwater_valve_misclassified_as_appliance_control_issue_834.py
Due: debugs

fix: wait for transport ready before injecting in R73
  tools/ha_sim_test/recipes/r73_authoritative_domain_id_from_000c_issue_931.py
Due: debugs

fix: add expected warnings to log_monitor for full suite
  tools/ha_sim_test/log_monitor.py
Due: debugs

test: add R123 recipe for non-primary HGI USB→MQTT switch
  tests/features/device_simulator/test_scenario_engine.py
  tools/ha_sim_test/recipes/r123_non_primary_usb_to_mqtt.py
Due: debugs

docs: update multi-hgi-plan and followup issue with 1171 follow-up
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
Due: prettier, debugs

docs: tick Phase 2 release gates — all verified
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
Due: prettier, debugs

fix: R123 recipe behavioral checks + documentation reconciliation
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
  tools/ha_sim_test/recipes/r123_non_primary_usb_to_mqtt.py
Due: prettier, debugs

fix: R123 behavioral checks, reconcile plan/followup doc contradictions
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
  tools/ha_sim_test/recipes/r123_non_primary_usb_to_mqtt.py
Due: prettier, debugs

fix(ha_sim_test): R77 — check foreign HGI not re-notified, not all notifs
  docs/temp_deep_review_report.md
  tools/ha_sim_test/recipes/r77_hgi_not_re_discovered_issue_987.py
Due: prettier, debugs

docs: add ha_sim_test + hardware test findings to deep review report
  docs/temp_deep_review_report.md
Due: prettier, debugs

docs: update report with !I timeout warning fix
  docs/temp_deep_review_report.md
Due: prettier, debugs

docs: clarify !I warning was from silverailscolo's system, not hass
  docs/temp_deep_review_report.md
Due: prettier, debugs

docs: keep !I warning at WARNING level for user feedback
  docs/temp_deep_review_report.md
Due: prettier, debugs

fix(ha_sim_test): isolate pool recipes and verify fast failover
  docs/temp_deep_review_report.md
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/multi_hgi_helpers.py
  tools/ha_sim_test/recipes/r110_schema_mutation.py
  tools/ha_sim_test/recipes/r115_end_to_end_tx_rx.py
  tools/ha_sim_test/recipes/r121_failover.py
Due: prettier, debugs

fix: create default sensors for newly discovered devices + use ramses_cc pool health entities
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/features/default/test_binary_sensor_functions.py
  tests/features/default/test_default_sensor_platform_merged.py
Due: debugs

docs: update multi-HGI plan with Phase 2 completion and ramses_extras integration
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
Due: prettier, debugs

bump to 0.21.14 + r125
  notepad.txt
  pyproject.toml
  setup.py
  tools/ha_sim_test/recipes/r125_co2_promotion_from_rem.py
Due: debugs

chore(deps): bump js-yaml to patched versions for CVE-2026-84375
  config/package-lock.json
  config/package.json
  package.json
Due: prettier, debugs

docs+test: Phase 3 Zigbee pool status, evidence, recipe R126
  docs/multi-hgi-phase2-3-followup-issue.md
  multi-hgi-plan.md
  tools/ha_sim_test/recipes/r126_phase3_zigbee_pool.py
Due: prettier, debugs

docs: degraded-boot fixes + Zigbee rejoin watcher
  docs/multi-hgi-phase2-3-followup-issue.md
Due: prettier, debugs

test+docs: recipe R127 Zigbee availability tracking, doc status update
  docs/multi-hgi-phase2-3-followup-issue.md
  tools/ha_sim_test/recipes/r127_zigbee_availability.py
Due: prettier, debugs

test(ha_sim_test): per-instance secondary HGI + deterministic pool checks
  tools/ha_sim_test/const.py
  tools/ha_sim_test/multi_hgi_helpers.py
  tools/ha_sim_test/parallel.py
  tools/ha_sim_test/recipes/r102_clean_schema_startup_bind.py
  tools/ha_sim_test/recipes/r116_pool_type_switching.py
  tools/ha_sim_test/recipes/r118_txrx_after_switch.py
  tools/ha_sim_test/recipes/r119_mqtt_exclusion.py
  tools/ha_sim_test/recipes/r120_primary_switch.py
  tools/ha_sim_test/recipes/r121_failover.py
  tools/ha_sim_test/recipes/r122_child_disconnect.py
Due: debugs

test(ha_sim_test): retry R90 docker-logs collection on timeout
  tools/ha_sim_test/recipes/r90_fan_sensor_update_degradation_issue_1040.py
Due: debugs

test(ha_sim_test): scope R64 notification check to the nested DHW
  tools/ha_sim_test/recipes/r64_no_repeated_discovery_notifications_issue_917.py
Due: debugs

test(ha_sim_test): harden multi-HGI recipes against parallel-load timing
  tools/ha_sim_test/multi_hgi_helpers.py
  tools/ha_sim_test/recipes/r115_end_to_end_tx_rx.py
  tools/ha_sim_test/recipes/r116_pool_type_switching.py
  tools/ha_sim_test/recipes/r118_txrx_after_switch.py
  tools/ha_sim_test/recipes/r119_mqtt_exclusion.py
  tools/ha_sim_test/recipes/r120_primary_switch.py
  tools/ha_sim_test/recipes/r121_failover.py
  tools/ha_sim_test/recipes/r122_child_disconnect.py
Due: debugs

fix(ha_sim_test): preserve root _owner across profile loads
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: debugs

docs: record pool entity gating fix (is_pool_enabled schema-driven)
  docs/multi-hgi-phase2-3-followup-issue.md
Due: prettier, debugs

test(ha_sim_test): poll stored client_state in R07b under parallel load
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
Due: debugs

test(ha_sim_test): retry docker-exec + profile load in multi-HGI helper
  tools/ha_sim_test/multi_hgi_helpers.py
Due: debugs

test(ha_sim_test): re-inject R86 demand packets until attributes land
  tools/ha_sim_test/recipes/r86_relay_heat_tpi_demand_hydration_issue_1102.py
Due: debugs

test(ha_sim_test): R24 tolerate foreign-class suggestions on shared broker
  tools/ha_sim_test/recipes/r24_phase_3c_class_mismatch_flagging.py
Due: debugs
