Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

.pre-commit-config.yaml:

repos:
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # MyPy type checker
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        exclude: ^(setup\.py|tests/)

  # JavaScript/TypeScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts)$
          )
        verbose: true
        require_serial: true

      - id: prettier
        name: Prettier
        entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$
        exclude: >-
          (?x)^(
            node_modules/|
            \.venv/|
            venv/|
            tests/|
            \..*\.(js|ts|json|yaml|yml)$
          )
        verbose: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=500]

  # Spell checking
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass
          - --skip="./.*,*.csv,*.json,*.ambr"
          - --quiet-level=2
        exclude_types: [csv, json, html]
        exclude: ^(tests/.+/fixtures|tests/.+/snapshots)/

  # Additional validation hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  # Python-specific checks
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-no-eval
      - id: python-no-log-warn
  - repo: local
    hooks:
      - id: debugs
        name: check for DEBUG flags
        entry: '_DBG_.*=.*True'
        language: pygrep
        args: [-i]
        exclude: (.pre-commit-config.yaml|^tests/.*\.py$)

fix downgrading issue on cards
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/setup/entry.py
Due: debugs

fix fan speed arbiter: filter out 18: causing timeouts
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
Due: debugs

improve fan control, arbitration, monitoring
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  docs/FAN_CONTROL_ARCHITECTURE.md
  docs/FAN_SPEED_ARBITRATION_IMPLEMENTATION_PLAN.md
  docs/TRANSPORT_MONITORING.md
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/default/test_default_const.py
  tests/features/default/test_default_init.py
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/default/test_default_services.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/helpers/test_fan_speed_arbiter.py
  tests/framework/test_transport_monitor.py
  tests/startup/test_default_entities_startup.py
  tests/unit/test_simple_entity_manager.py
Due: prettier, debugs

implement card/backend integration path (partly)
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: eslint, prettier, debugs

add tests
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/hvac_fan_card/test_hvac_fan_card_init.py
  tests/frontend/test-hvac-fan-card.js
Due: debugs

fix test fix hvac fan card status when on manual
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  tests/frontend/test-hvac-fan-card.js
Due: eslint, prettier, debugs

fix hvac card
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: eslint, prettier, debugs

fan card/fix speed indicator
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  tests/frontend/test-hvac-fan-card.js
  tests/frontend/test-integration.js
Due: eslint, prettier, debugs

bump 0.18.5
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: prettier, debugs

fan auto control
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/setup/entry.py
  tests/features/default/test_default_services.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: eslint, prettier, debugs

update arbiter
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: debugs

fix test
  tests/features/default/test_default_sensor_platform_merged.py
Due: none

fix test
  .github/workflows/check-type.yml
Due: debugs

fix tests fix traffic collector to no longer depend on HA bus ramses_cc_message events
  .github/workflows/tests.yml
  custom_components/ramses_extras/features/ramses_debugger/traffic_collector.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: debugs

fix tests
  .github/workflows/tests.yml
Due: debugs

fix tests
  requirements_dev.txt
Due: debugs

fix tests
  requirements_test.txt
Due: debugs

strategy
  docs/CONFIGURATION_STRATEGY.md
  docs/FAN_CONFIGURATION_SCHEMA_DRAFT.md
Due: prettier, debugs

implementing
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/framework/helpers/config/__init__.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/export.py
  custom_components/ramses_extras/framework/helpers/config/migration.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  docs/REMOTE_BINDING_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
  tests/features/co2_control/test_co2_automation_helpers.py
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/framework/helpers/config/test_export.py
  tests/framework/helpers/config/test_migration.py
  tests/framework/helpers/config/test_model.py
  tests/framework/helpers/config/test_structured_core.py
  tests/framework/helpers/config/test_structured_validation.py
  tests/test_config_flow.py
Due: prettier, debugs

Fix minimatch security vulnerability and GitHub workflow
  .github/workflows/tests.yml
  config/package-lock.json
  config/package.json
Due: prettier, debugs

Fix GitHub workflow Node.js deprecation and test coroutine warnings
  .github/workflows/tests.yml
  tests/features/ramses_debugger/test_websocket_commands.py
Due: debugs

Further fix GitHub workflow warnings and coroutine issues
  .github/workflows/tests.yml
  pyproject.toml
Due: debugs

Fix GitHub workflow ESLint and pytest configuration issues
  config/package.json
  eslint.config.js
  pyproject.toml
Due: eslint, prettier, debugs

Fix ESLint config path in GitHub workflow
  config/package.json
Due: prettier, debugs

Remove ESLint references from root package.json
  package.json
Due: prettier, debugs

Fix GitHub workflow working directory for npm commands
  .github/workflows/tests.yml
Due: debugs

Fix check-lint workflow to use config directory
  .github/workflows/check-lint.yml
Due: debugs

Fix GitHub workflows on feature/fan-configuration branch
  .github/workflows/check-lint.yml
  .github/workflows/tests.yml
Due: debugs

finish for now
  .pre-commit-config.yaml
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/todo.md
  docs/CONFIGURATION_STRATEGY.md
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: prettier, debugs

add Shared FAN-scoped model helpers
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  tests/framework/helpers/config/test_model.py
  tests/framework/helpers/config/test_structured_core.py
  tests/framework/helpers/config/test_structured_validation.py
Due: debugs

Remote Binding Implementation (Phase 1)
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  docs/notepad.txt
  tests/features/default/test_default_websocket_commands.py
  tests/framework/helpers/test_remote_binding.py
Due: debugs

phase 2
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  tests/framework/helpers/test_remote_binding.py
Due: debugs

Completed: Phase 2 Remote Binding Diagnostics
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  tests/framework/helpers/test_remote_binding.py
Due: debugs

Completed: Phase 3 Remote Binding - Richer Remote Model
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  tests/framework/helpers/test_remote_binding.py
Due: debugs

Completed: Zones Phase 1 - Normalized Read Model Summary of work done:
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/zones.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
  tests/framework/helpers/test_zones.py
Due: prettier, debugs

phase 2
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
  tests/framework/helpers/test_zone_adapters.py
Due: prettier, debugs

Fix ruff and mypy errors in zone coordinator
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  tests/framework/helpers/test_zone_coordinator.py
Due: debugs

fix test
  tests/framework/helpers/test_zone_coordinator.py
Due: none

Fix ruff and mypy errors in sensor_control config_flow
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  docs/ZONES_IMPLEMENTATION_PLAN.md
Due: prettier, debugs
