Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

add css and services add switch functionality
  custom_components/ramses_extras/features/hello_world_card/__init__.py
  custom_components/ramses_extras/features/hello_world_card/automation.py
  custom_components/ramses_extras/features/hello_world_card/config.py
  custom_components/ramses_extras/features/hello_world_card/const.py
  custom_components/ramses_extras/features/hello_world_card/entities.py
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/hello_world_card/services.py
  custom_components/ramses_extras/features/hello_world_card/websocket_commands.py
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/card-styles.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card-editor.js
  custom_components/ramses_extras/features/hello_world_card/www/hello_world_card/hello-world-card.js
  docs/HELLO_WORLD_TEMPLATE_FEATURE.md
Due: eslint, prettier, debugs

plan lazy entity and optional config flows for features
  LAZY_ENTITY_CREATION_IMPLEMENTATION.md
Due: prettier, debugs

small fix
  custom_components/ramses_extras/framework/helpers/entity/state_reconciliation.py
Due: debugs

Revert "small fix"
  custom_components/ramses_extras/framework/helpers/entity/state_reconciliation.py
Due: debugs

require python >= 3.13.2, <4.0
  config/.pre-commit-config.yaml
  conftest.py
  pyproject.toml
Due: prettier, debugs

rm old entity plan
  LAZY_ENTITY_CREATION_IMPLEMENTATION.md
Due: prettier, debugs

config flow extension plan
  docs/ARCHITECTURE_UPDATE.md
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
Due: prettier, debugs

feat(config): Add device filtering foundation
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
  custom_components/ramses_extras/framework/helpers/entity/device_mapping.py
  tests/helpers/test_device_feature_mapping.py
  tests/helpers/test_device_filter.py
Due: debugs

feat(config): Implement flat menu structure and per-device tracking for Phase 2
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/entity/manager.py
  tests/config_flow/test_config_flow_integration.py
Due: debugs

fix pytest
  conftest.py
  tests/config_flow/test_config_flow_integration.py
Due: debugs

fixes on config_flow
  custom_components/ramses_extras/config_flow.py
Due: debugs

docs
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

config flow doc updates
  docs/1 main menu.md
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

phases 1-2
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
Due: prettier, debugs

fix (partly) config flow problems
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/config_flow.py
  custom_components/ramses_extras/features/default/translations/en.json
  custom_components/ramses_extras/features/default/translations/nl.json
  custom_components/ramses_extras/features/hello_world_card/translations/en.json
  custom_components/ramses_extras/features/hello_world_card/translations/nl.json
  custom_components/ramses_extras/features/humidity_control/translations/en.json
  custom_components/ramses_extras/features/humidity_control/translations/nl.json
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
  tests/config_flow/test_config_flow_integration.py
Due: prettier, debugs

some fixes
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/config_flow.py
Due: debugs

fix menu md
  docs/1 main menu.md
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
Due: prettier, debugs

phase 2 completed
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/features/default/config_flow.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md.bak
  tests/config_flow/test_config_flow_integration.py
  tests/managers/test_entity_manager_integration.py
Due: debugs

phase 3 completed
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
  tests/test_entity_creation_logic.py
  tests/test_entity_creation_logic_fixed.py
Due: prettier, debugs

phase 4 testfile new todo plan to fix last isues
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md.bak
  docs/config-flow todo.md
  tests/test_phase4_integration.py
Due: prettier, debugs

update config-flow todo
  docs/config-flow todo.md
Due: prettier, debugs

remove generate_entity_ids_for_combination from feature remove _generate_entity_ids_for_combination_sync from entity_manager add wrapper to conftest fix pytests
  conftest.py
  custom_components/ramses_extras/features/default/config_flow.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/managers/direct_platform_setup.py
  tests/startup/test_default_entities_startup.py
  tests/startup/test_startup_flow.py
Due: debugs

fix _matrix_entities_to_create not defined for logger
  custom_components/ramses_extras/features/default/config_flow.py
Due: debugs

fix hassfest issue with translations and schema
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/translations/en.json
Due: prettier, debugs

cleanup dirct_platform_setup & platform_reloader files and imports
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/managers/direct_platform_setup.py
  custom_components/ramses_extras/managers/platform_reloader.py
  docs/FILES_NO_LONGER_NEEDED.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  tests/managers/test_platform_reloader.py
  tests/unit/test_direct_platform_setup.py
Due: prettier, debugs

clean up default config flow
  custom_components/ramses_extras/features/default/config_flow.py
  docs/todo.md
Due: prettier, debugs

clean up default config_flow fix generic_step_feature_config
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/config_flow.py
  docs/todo.md
Due: prettier, debugs

enhance humidity control platforms to work with the new matrix default feature: move extract_device_id_as_string to the device helper
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/framework/helpers/device/__init__.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

remove obsolete standalone async_setup_platform method refactor class method to async_create_and_add_platform_entities
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

swap order of async_reload call and remove entities
  custom_components/ramses_extras/config_flow.py
Due: debugs

fix async_create_and_add_platform_entities
  custom_components/ramses_extras/features/hello_world_card/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world_card/platforms/switch.py
  custom_components/ramses_extras/framework/helpers/platform.py
Due: debugs

prep cleanup
  docs/cleanup.md
Due: prettier, debugs

cleanup 1
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/schema.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/helpers/service/registration.py
  custom_components/ramses_extras/framework/helpers/service/validation.py
  custom_components/ramses_extras/number.py
  custom_components/ramses_extras/sensor.py
  custom_components/ramses_extras/switch.py
Due: debugs

more cleanup
  custom_components/ramses_extras/framework/helpers/entity/core.py
  docs/1 main menu.md
  docs/ARCHITECTURE_UPDATE.md
  docs/CONFIG_FLOW_EXTENSION_COMPLETE.md
  docs/CONFIG_FLOW_FIX.md
  docs/HELLO_WORLD_TEMPLATE_FEATURE.md
  docs/cleanup.md
  docs/config-flow todo.md
  tests/helpers/test_service_registration.py
Due: prettier, debugs

update architecture doc
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
Due: prettier, debugs

fix tests: update requirements
  requirements_dev.txt
  requirements_test.txt
Due: debugs

clean up schema.py
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/framework/helpers/config/schema.py
Due: debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
