Repository wimpie70/ramses_extras: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, debugs

eslint:
  name: ESLint
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/eslint --ext .js,.jsx,.ts,.tsx --fix --quiet --color'
  language: system
  verbose: true
  require_serial: true

prettier:
  name: Prettier
  entry: bash -c 'source ~/venvs/extras/bin/activate && ./node_modules/.bin/prettier --write --ignore-unknown'
  language: system
  verbose: true

debugs:
  name: check for DEBUG flags
  entry: _DBG_.*=.*True
  language: pygrep
  args:
  - -i

plan
  docs/FAN_CONFIGURATION_CARD_IMPLEMENTATION_PLAN.md
Due: prettier, debugs

M1 scaffold + registration
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map-editor.js
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
  custom_components/ramses_extras/framework/www/main.js
  docs/FAN_CONFIGURATION_CARD_IMPLEMENTATION_PLAN.md
Due: eslint, prettier, debugs

M2 “enabled + initial data wiring”: done (basic wiring + JSON output)
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
Due: eslint, prettier, debugs

M3 Topology (structured) and Observability (live read-only), fix refresh button
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
Due: eslint, prettier, debugs

M4 implemented: live sensor values + auto updates
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
Due: eslint, prettier, debugs

M5 (A primary + B secondary + live values + live updates): implemented.
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
Due: eslint, prettier, debugs

Test bench UI with an Arm checkbox + confirm() prompts, calling existing services
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
Due: eslint, prettier, debugs

improve design remove source_id from area's fix import/export yaml
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/feature_utils.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/platforms/sensor.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/features/sensor_control/www/sensor_control/ramses-fan-map.js
  custom_components/ramses_extras/framework/helpers/config/import_full.py
  custom_components/ramses_extras/framework/helpers/config/migration.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  docs/notepad.txt
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/default/test_default_sensor_platform_merged.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_platforms.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/features/sensor_control/test_sensor_control_const.py
  tests/framework/helpers/config/test_feature_yaml_validation.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/test_zone_coordinator.py
  tests/test_websocket_integration.py
Due: eslint, prettier, debugs

tests
  docs/notepad.txt
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/helpers/test_zone_adapters_coverage.py
Due: debugs

tests
  tests/framework/helpers/test_ramses_commands_coverage.py
  tests/test_config_flow_advanced.py
  tests/test_config_flow_coverage.py
  tests/test_config_flow_init_coverage.py
Due: none

more tests
  tests/features/test_full_coverage.py
  tests/framework/helpers/test_transport_monitor_extended.py
  tests/framework/setup/test_utils_coverage.py
Due: none

more tests
  tests/features/default/test_binary_sensor_focused.py
  tests/features/default/test_binary_sensor_functions.py
  tests/features/default/test_commands.py
  tests/features/default/test_default_yaml.py
  tests/features/default/test_services_working.py
  tests/features/default/test_websocket_working.py
  tests/features/sensor_control/test_config_flow_direct.py
  tests/features/sensor_control/test_config_flow_working.py
  tests/features/sensor_control/test_websocket_commands.py
  tests/framework/helpers/test_common_utils.py
  tests/framework/helpers/test_translations_simple.py
  tests/framework/helpers/test_validation.py
Due: none

more tests
  tests/features/default/test_sensor_functions.py
  tests/features/sensor_control/test_sensor_control_yaml.py
Due: none

update todo's
  custom_components/ramses_extras/features/co2_control/IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/FAN_CONFIGURATION_CARD_IMPLEMENTATION_PLAN.md
  docs/ZONES_IMPLEMENTATION_PLAN.md
  docs/notepad.txt
  features/co2_control/IMPLEMENTATION_PLAN.md
Due: prettier, debugs

fix online monitor (fan card), also when RF goes disabled
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
Due: debugs

- rename zone_id -> refactor on area and REMs and config and yaml...
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/zones_yaml.py
  tests/framework/helpers/config/test_feature_yaml_validation.py
Due: debugs

- rename zone_id -> refactor on area and REMs and config and yaml...
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: debugs

- rename area_id -> refactor on REMs and config and yaml...
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: debugs

fix tests
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  tests/framework/helpers/config/test_import_full.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/test_transport_monitor.py
  tests/test_config_flow.py
Due: debugs

fix requirements for dependabot
  requirements.txt
Due: debugs

undo fix requirements for dependabot
  requirements.txt
Due: debugs

add Ramses FAN Map.png
  docs/Ramses FAN Map.png
Due: debugs

Add files via upload
  docs/valves.jpg
Due: debugs

fix wrong zone valves position by going to home first (full close 0%)
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  custom_components/ramses_extras/framework/helpers/zone_adapters.py
Due: debugs

fix tests
  tests/features/co2_control/test_co2_automation_manager.py
  tests/managers/test_humidity_automation.py
Due: none

fix docstrings
  custom_components/ramses_extras/framework/helpers/brand_customization/core.py
  custom_components/ramses_extras/framework/helpers/brand_customization/detection.py
  custom_components/ramses_extras/framework/helpers/brand_customization/entities.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/helpers/commands/registry.py
  custom_components/ramses_extras/framework/helpers/common/utils.py
  custom_components/ramses_extras/framework/helpers/common/validation.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/config/import_full.py
  custom_components/ramses_extras/framework/helpers/config/import_validation.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  custom_components/ramses_extras/framework/helpers/config/validation.py
  custom_components/ramses_extras/framework/helpers/config_flow.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/device/filter.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/entity/device_feature_matrix.py
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/remote_binding.py
  custom_components/ramses_extras/framework/helpers/translations.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  custom_components/ramses_extras/framework/helpers/zone_demand.py
  custom_components/ramses_extras/framework/helpers/zones.py
  docs/DOCSTRING_PROGRESS.md
  docs/notepad.txt
Due: prettier, debugs

fix docstrings
  custom_components/ramses_extras/features/co2_control/__init__.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/co2_control_yaml.py
  custom_components/ramses_extras/features/co2_control/config.py
  custom_components/ramses_extras/features/co2_control/config_flow.py
  custom_components/ramses_extras/features/co2_control/entities.py
  custom_components/ramses_extras/features/co2_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/switch.py
  custom_components/ramses_extras/features/co2_control/services.py
  custom_components/ramses_extras/features/co2_control/websocket_commands.py
  custom_components/ramses_extras/features/co2_control/zone_manager.py
  custom_components/ramses_extras/features/default/default_yaml.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/hello_world/hello_world_yaml.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/features/humidity_control/entities.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/hvac_fan_card/__init__.py
  custom_components/ramses_extras/features/hvac_fan_card/hvac_fan_card_yaml.py
  custom_components/ramses_extras/features/ramses_debugger/ramses_debugger_yaml.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/sensor_control/remote_binding_yaml.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/features/sensor_control/zones_yaml.py
  docs/DOCSTRING_PROGRESS.md
Due: prettier, debugs

fix more docstrings
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/base_classes/base_entity.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/websocket_integration.py
  docs/DOCSTRING_PROGRESS.md
Due: prettier, debugs

fix test
  custom_components/ramses_extras/features/hvac_fan_card/hvac_fan_card_yaml.py
Due: debugs

fix: add hassfest retry logic
  .github/workflows/hassfest.yml
Due: debugs

zones/include extra_config in config_flow step
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/zones_yaml.py
Due: debugs

add tests
  tests/test_config_flow_coverage.py
Due: none

add/fix tests
  docs/notepad.txt
  tests/features/default/test_default_config_flow.py
  tests/features/sensor_control/device_types/test_fan.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
  tests/features/sensor_control/test_websocket_commands.py
Due: debugs

security fixes: - picomatch npm update 2.3.2 - brace-expansion update 1.1.13
  config/package-lock.json
  config/package.json
  docs/notepad.txt
  package.json
Due: prettier, debugs

fix linter error
  .github/workflows/check-lint.yml
  .github/workflows/tests.yml
  config/package-lock.json
Due: prettier, debugs

bump 0.19.0
  custom_components/ramses_extras/manifest.json
  docs/notepad.txt
  pyproject.toml
  setup.py
Due: prettier, debugs

release notes
  RELEASE_NOTES_0.19.0.md
Due: prettier, debugs

REM timeout configurable
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

REM timeout 0s -> persist until other demand/auto
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
Due: debugs

clean up old docs
  IMPLEMENTATION_SUMMARY.md
  TESTING_VERSION_MISMATCH.md
  TEST_FIXES_NEEDED.md
  VERSION_BANNER_UPDATE.md
  WEBSOCKET_BLOCKING.md
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  docs/DOCSTRING_PROGRESS.md
  docs/FAN_CONFIGURATION_CARD_IMPLEMENTATION_PLAN.md
  docs/mytodo.txt
  docs/notepad.txt
  features/co2_control/IMPLEMENTATION_PLAN.md
Due: prettier, debugs

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts)$
)
  prettier: any of: \.(js|jsx|ts|tsx|json|md|css|scss|html|yaml|yml|graphql|mdx)$, but not: (?x)^(
  node_modules/|
  \.venv/|
  venv/|
  tests/|
  \..*\.(js|ts|json|yaml|yml)$
)
  debugs: any file but: (.pre-commit-config.yaml|^tests/.*\.py$)
