Repository wimpie70/ramses_extras: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Humidity Control, HVAC Fan Card, Sensor Control, Default Feature, Hello World

chore(deps): bump dev ramses_rf pin to 0.60.8 (issue 241, 1.13)
  requirements.txt
Due: none

refactor: import SZ_SCHEMA from ramses_tx.schemas directly
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  tools/ha_sim_test/recipes/r106_phase2_review_flow.py
Due: none

fix: retry remote listener attach until ramses_cc client is ready
  custom_components/ramses_extras/features/default/services.py
  tests/features/default/test_default_services.py
  tests/features/default/test_services_remote_packets.py
Due: Default Feature

chore: bump brace-expansion to 1.1.21 for dependabot alerts
  config/package-lock.json
  config/package.json
Due: none

test(ha_sim): add R136 regression recipe for dropped-packet liveness
  tools/ha_sim_test/recipes/r136_heartbeat_liveness_issue_1255.py
Due: none

fix: treat externally-originated fan commands as manual overrides
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/features/default/test_services_remote_packets.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: Framework, Default Feature

test(sim): add R136 recipe — schema-orphan notification (issue 1257)
  docs/notepad.txt
  tools/ha_sim_test/recipes/r136_schema_orphan_notification_issue_1257.py
Due: none

test(ha_sim): R137 — real-time new-device notification (issue 1257)
  tools/ha_sim_test/recipes/r137_realtime_new_device_notification_issue_1257.py
Due: none

chore: remove obsolete ramses_tx FSM patch module (issue 241: 1.1)
  custom_components/ramses_extras/__init__.py
  custom_components/ramses_extras/framework/helpers/ramses_tx_patches.py
  tests/framework/helpers/test_ramses_tx_patches.py
Due: Framework

chore(ha_sim): drop Phase-4 compat reads and unused helper params (issue 241: 1.4, 1.10)
  tools/ha_sim_test/helpers.py
  tools/ha_sim_test/multi_hgi_helpers.py
  tools/ha_sim_test/recipes/r121_failover.py
  tools/ha_sim_test/recipes/r122_child_disconnect.py
Due: none

chore: drop dead UI constants and duplicate card_config keys (issue 241: 1.5, 1.9)
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_status_card/const.py
  custom_components/ramses_extras/features/hello_world/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  custom_components/ramses_extras/features/sensor_control/const.py
  tests/features/hello_world/test_hello_world_const.py
  tests/features/hvac_fan_card/test_hvac_fan_card_const.py
  tests/features/ramses_debugger/test_ramses_debugger_const.py
  tests/test_registry.py
Due: HVAC Fan Card, Sensor Control, Hello World

chore: drop dead v1 config and RSSI fallbacks (issue 241: 1.6, 1.8)
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  tests/features/ramses_debugger/test_ramses_debugger_log.py
Due: Framework

feat(debugger): honour since/until dtm filters in traffic buffer (issue 241: 2.1)
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  tests/features/ramses_debugger/test_messages_provider.py
Due: none

refactor(debugger): cache message provider instances per HA instance (issue 241: 2.2)
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  tests/features/ramses_debugger/test_messages_provider.py
Due: none

chore(www): drop dead commented cards_enabled block (issue 241: 2.3)
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  custom_components/ramses_extras/framework/www/todo.md
Due: none

test(frontend): run jest under ESM and import real template-helpers (issue 241: 2.4)
  config/package.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  package.json
  tests/frontend/setup.js
  tests/frontend/test-hvac-fan-card.js
  tests/frontend/test-integration.js
  tests/frontend/test-template-helpers.js
Due: HVAC Fan Card

refactor(websocket): defer enablement check to feature_utils (issue 241: 3.4)
  custom_components/ramses_extras/websocket_integration.py
  tests/test_websocket_integration.py
Due: none

test(websocket): assert declared vs implemented command consistency (issue 241: 3.3)
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/ramses_debugger/const.py
  tests/features/ramses_debugger/test_ramses_debugger_const.py
  tests/test_websocket_registry_consistency.py
Due: Default Feature

refactor(framework): simplify base_automation dispatch, checks, logging (issue 241: 3.10)
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  tests/framework/base_classes/test_base_automation.py
Due: Framework

docs: add Framework API surface section to architecture doc (issue 241: 3.2)
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  docs/todo.txt
Due: none

test: update tests for removed register_default_websocket_commands
  tests/features/default/test_websocket_working.py
  tests/features/test_full_coverage.py
Due: none

fix(sensor_control): emit source_id/label for area sensors; default CO2 zone status to idle
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/co2_control/test_co2_control_sensor.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/sensor_control/test_resolver.py
Due: Humidity Control, HVAC Fan Card, Sensor Control

refactor(entity): deduplicate feature-const introspection in entity core
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/todo.md
  tests/edge_cases/test_error_handling.py
  tests/framework/helpers/entity/test_entity_core.py
Due: Framework

refactor(base_automation): validate the entities automations actually consume
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  tests/framework/base_classes/test_base_automation.py
Due: Framework

refactor(config): remove dead ExtrasConfigManager validation/schema helpers
  custom_components/ramses_extras/features/hello_world/config.py
  custom_components/ramses_extras/features/humidity_control/config.py
  custom_components/ramses_extras/framework/helpers/config/core.py
  custom_components/ramses_extras/framework/helpers/todo.md
  custom_components/ramses_extras/todo.md
  tests/edge_cases/test_error_handling.py
  tests/features/hello_world/test_hello_world_config.py
  tests/features/humidity_control/test_humidity_config.py
  tests/framework/helpers/config/test_core.py
  tests/helpers/test_config_manager.py
Due: Framework, Humidity Control, Hello World

fix(co2_control): report zone status via _attr_native_value
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  tests/features/co2_control/test_co2_control_sensor.py
Due: none

fix(ha_sim_test): drive real save path when polling persisted state
  tools/ha_sim_test/recipes/r07_hvac_schema_caching_verify_fan_in_schema_cache.py
  tools/ha_sim_test/recipes/r07b_restart_and_verify_hvac_survives.py
  tools/ha_sim_test/recipes/r102_clean_schema_startup_bind.py
  tools/ha_sim_test/recipes/r15_verify_storageramses_cc_has_hvac_schema_key.py
  tools/ha_sim_test/recipes/r18_add_faked_rem_service_creates_faked_rem_bound_to_f.py
Due: none

style: apply ruff format (py314) to pending files
  custom_components/ramses_extras/features/co2_control/platforms/number.py
  custom_components/ramses_extras/features/co2_control/zone_manager.py
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/websocket_commands.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  tools/esp_usb_feasibility_test.py
  tools/ha_sim_test/mqtt_setup.py
  tools/ha_sim_test/recipes/r67_hvac_via_device_grouping_6d.py
Due: Framework

refactor: consolidate entity-metadata derivation to one authority
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/framework/helpers/entity/__init__.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/todo.md
  tests/framework/helpers/test_websocket_base.py
Due: Framework

refactor: route 22F1 fan commands through ramses_rf strategy layer
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/commands.py
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/services.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/ramses_message_stream.py
  tests/features/co2_control/test_co2_automation_helpers.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/default/test_default_services.py
  tests/features/default/test_default_websocket_commands.py
  tests/features/default/test_services_additional.py
  tests/features/default/test_services_calibrate.py
  tests/features/default/test_services_remote_packets.py
  tests/features/default/test_services_working.py
  tests/features/device_simulator/test_websocket.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_services.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_automation_coverage.py
  tests/framework/helpers/test_fan_speed_arbiter.py
  tests/framework/helpers/test_ramses_commands.py
  tests/framework/test_ramses_commands.py
  tests/framework/test_ramses_message_stream.py
  tests/helpers/test_ramses_commands.py
Due: Framework, Humidity Control, Default Feature

test(ha_sim): adapt recipe mocks to _persist_options_no_reload + wait for primary _owner
  tools/ha_sim_test/recipes/r102_clean_schema_startup_bind.py
  tools/ha_sim_test/recipes/r106_phase2_review_flow.py
  tools/ha_sim_test/recipes/r107_hardware_scenarios.py
  tools/ha_sim_test/recipes/r108_device_firmware.py
  tools/ha_sim_test/recipes/r109_connection_loss.py
  tools/ha_sim_test/recipes/r110_schema_mutation.py
Due: none

fix: ignore echoes of our own commands in the remote-packet observer
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  tests/framework/helpers/test_ramses_commands.py
Due: Framework, Default Feature

docs: link upstream 22F7 builder issue in dispatch comment
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
Due: Framework

refactor: delegate fan params to ramses_cc services (issue 229)
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/services.yaml
  tests/features/default/test_default_services.py
  tests/features/default/test_services_additional.py
  tests/framework/helpers/test_ramses_commands.py
Due: Framework, Default Feature

fix(transport): ignore unavailable pool entities, not an outage
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/helpers/test_transport_monitor_extended.py
Due: Framework

test(ha-sim): recipe R138 for fan-param service delegation (issue 229)
  tools/ha_sim_test/recipes/r138_fan_param_service_delegation_issue_229.py
Due: none

chore: prefer coordinator.get_device() with _get_device fallback
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  tests/framework/helpers/device/test_device_core.py
  tests/framework/helpers/test_ramses_commands.py
  tests/helpers/test_device_helpers.py
  tests/helpers/test_ramses_commands.py
Due: Framework

chore: prefer coordinator.derive_known_list_from_schema()
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: none

Path conditions:
  Framework: any of: custom_components/ramses_extras/framework/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Humidity Control: any of: custom_components/ramses_extras/features/humidity_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  HVAC Fan Card: any of: custom_components/ramses_extras/features/hvac_fan_card/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Sensor Control: any of: custom_components/ramses_extras/features/sensor_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Default Feature: any of: custom_components/ramses_extras/features/default/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Hello World: any of: custom_components/ramses_extras/features/hello_world/**, but not: tests/, custom_components/ramses_extras/framework/www/
