Repository wimpie70/ramses_extras: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Humidity Control, HVAC Fan Card, Sensor Control, Default Feature, Hello World

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 1%
    patch:
      default:
        target: 60%
        threshold: 1%

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: false

component_management:
  individual_components:
    - component_id: framework
      name: Framework
      paths:
        - custom_components/ramses_extras/framework/**
    - component_id: humidity_control
      name: Humidity Control
      paths:
        - custom_components/ramses_extras/features/humidity_control/**
    - component_id: hvac_fan_card
      name: HVAC Fan Card
      paths:
        - custom_components/ramses_extras/features/hvac_fan_card/**
    - component_id: sensor_control
      name: Sensor Control
      paths:
        - custom_components/ramses_extras/features/sensor_control/**
    - component_id: default_feature
      name: Default Feature
      paths:
        - custom_components/ramses_extras/features/default/**
    - component_id: hello_world
      name: Hello World
      paths:
        - custom_components/ramses_extras/features/hello_world/**

ignore:
  - 'tests/'
  - 'custom_components/ramses_extras/framework/www/'

chore: prefer coordinator.derive_known_list_from_schema()
  custom_components/ramses_extras/features/device_simulator/scenarios/device_playback.py
Due: none

feat(commands): route fan_bypass_* via SET_BYPASS_POSITION intent
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  requirements.txt
  tests/framework/helpers/test_ramses_commands.py
  tools/ha_sim_test/recipes/r139_fan_bypass_intent_path.py
  tools/ha_sim_test/recipes/r40_packetdto_rx_path_integrity_issue_639.py
Due: Framework

test(commands): mock bypass builder in intent-path tests
  requirements_test.txt
  tests/framework/helpers/test_ramses_commands.py
Due: none

refactor(framework): prefer public upstream attrs; document API surface (issue 241, item 3.8)
  custom_components/ramses_extras/features/default/services.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/helpers/zone_coordinator.py
  custom_components/ramses_extras/framework/setup/devices.py
  custom_components/ramses_extras/framework/todo.md
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  tests/features/default/test_services_calibrate.py
  tests/framework/helpers/device/test_device_core.py
  tests/framework/helpers/test_transport_monitor_coverage.py
  tests/framework/test_transport_monitor.py
  tests/helpers/test_device_helpers.py
  tests/test_main_init.py
Due: Framework, Default Feature

chore(deps): require homeassistant>=2026.10.0, phacc>=0.13.371
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

fix(registry): iterate device_registry.devices instead of .values()
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/device_simulator/entity_helpers.py
  custom_components/ramses_extras/framework/helpers/device/core.py
  custom_components/ramses_extras/framework/setup/devices.py
  custom_components/ramses_extras/framework/setup/entry.py
Due: Framework

test(devices): mock registry.devices as entry list, not .values()
  tests/test_orphaned_device_cleanup.py
Due: none

feat(sensor_control): multi-sensor aggregation + static high-RH triggers
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/const.py
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  custom_components/ramses_extras/features/sensor_control/sensor_control_yaml.py
  custom_components/ramses_extras/framework/helpers/config/model.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_multi_sensor_aggregation.py
  tests/features/sensor_control/test_resolver.py
  tools/ha_sim_test/recipes/r140_multi_sensor_humidity_aggregation.py
Due: Framework, Humidity Control, Sensor Control

fix(humidity_control): fan out unzoned triggers to all zones
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/sensor_control/todo.md
  tests/features/humidity_control/test_multi_sensor_aggregation.py
Due: Humidity Control, Sensor Control

test(ha-sim): extend R140 to two area sensors on one FAN
  tools/ha_sim_test/recipes/r140_multi_sensor_humidity_aggregation.py
Due: none

feat(hvac_fan_card): hover tooltips on all card values (issue 246)
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  tests/frontend/test-top-section-tooltips.js
Due: HVAC Fan Card

fix(cards): cache-bust nested module + translation fetches
  custom_components/ramses_extras/framework/setup/cards.py
  custom_components/ramses_extras/framework/www/card-translations.js
  tests/framework/test_cards.py
Due: Framework

feat(hvac_fan_card): tooltips on CO2 status + control source
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
Due: HVAC Fan Card

chore(release): require Home Assistant 2026.10.0
  README.md
  hacs.json
  setup.py
Due: none

bump to 0.23.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none
