Repository wimpie70/ramses_extras: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Humidity Control, HVAC Fan Card, Sensor Control, Default Feature, Hello World

fix dbase TRV, FAN, CTL
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/JIM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
Due: none

fix test
  tests/features/device_simulator/test_websocket.py
Due: none

fix TRV, FAN
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
Due: none

fix tests
  tests/features/device_simulator/test_init.py
  tests/framework/test_yaml_setup.py
Due: none

fix:profiles start with all boxes selected
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
Due: none

add _validate_schema_format update infer_device_type_from_id move parse_ramses_log to a background thread process packet_log from Peter Nash to dbase
  custom_components/ramses_extras/features/device_simulator/device_db.py
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_dhw_07_050121_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_otb_10_064873_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_rnd_34_058721_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_thm_22_012299_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/DHW.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/OTB.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/RND.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/THM.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/TRV.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/CO2.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/hvac/FAN.yaml
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scripts/extract_response_pairs.py
  custom_components/ramses_extras/features/device_simulator/scripts/harvest_ramses_logs.py
  custom_components/ramses_extras/features/device_simulator/tools/audit_all.yaml
  custom_components/ramses_extras/features/device_simulator/tools/audit_device_db.py
  scripts/generate_synthetic_replies.py
Due: none

fix test
  tests/features/device_simulator/test_profile_loader.py
Due: none

add conversations add more BDR, CTL msgs
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_ctl_01_216136_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034682_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034684_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034690_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034692_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034716_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034720_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034722_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_034726_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_036066_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_036068_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_056673_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_056675_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_056677_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_056679_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_106557_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_208990_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_208992_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_208994_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_208998_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/conversations/heat_trv_04_219929_packet_log(1).yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/BDR.yaml
  custom_components/ramses_extras/features/device_simulator/device_db/heat/CTL.yaml
Due: none

fix profile_loader using asyncio.gather instead of sequential calls
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
Due: none

fix init banner
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: none

use a fixed 10s delay after profile load fix button pressed css
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/styles.js
Due: none

.js sim: change await calls to void to stay responsive limit emitting rate fix tests
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/devices-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
  tests/features/device_simulator/test_websocket.py
  www/device-simulator-card.js
Due: none

add entitiy pills to devices to show value/availability
  custom_components/ramses_extras/features/device_simulator/__init__.py
  custom_components/ramses_extras/features/device_simulator/entity_helpers.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/styles.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/devices-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: none

add heartbeat option for faster entity testing fix YAML not shown when changing profile
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/options-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: none

fix hearbeat option add option for _cc timeout scale
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/options-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: none

remove cc_timeout scale (only for learn) add heat_2
  custom_components/ramses_extras/features/device_simulator/const.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/options-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/card/tabs/profiles-tab.js
  custom_components/ramses_extras/features/device_simulator/www/device_simulator/device-simulator-card.js
Due: none

bump 0.19.7
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

fix tests
  custom_components/ramses_extras/features/device_simulator/entity_helpers.py
Due: none

update makefile
  Makefile
Due: none

fix dependabot #31 - bump pytest >= 9.0.3
  pyproject.toml
  requirements.txt
Due: none

fix dependabot #30 - pytest change hard pins (==) to minimum (>=)
  requirements_test.txt
Due: none

fix dependabot #38 - form-data: CRLF injection in form-data via unescaped multipart field names and filenames
  config/package-lock.json
  config/package.json
Due: none

bump min. HA version to 2026.3.0
  README.md
Due: none

bump to 0.19.8 (pre-release with security fixes)
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

bump python to 3.14
  .github/workflows/check-lint.yml
  .github/workflows/check-type.yml
  .github/workflows/tests.yml
  README.md
  pyproject.toml
  requirements_dev.txt
  requirements_test.txt
  scripts/generate_synthetic_replies.py
Due: none

fix legacy sensor: platform: template -> template: key
  docs/zone_testing_package.yaml
Due: none

fix decode option on debugger fix 3.14 dependencies & introduced errors
  .pre-commit-config.yaml
  config/mypy.ini
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/zone_manager.py
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/device_simulator/message_log.py
  custom_components/ramses_extras/features/device_simulator/profile_loader.py
  custom_components/ramses_extras/features/device_simulator/scenario_engine.py
  custom_components/ramses_extras/features/device_simulator/system_config.py
  custom_components/ramses_extras/features/device_simulator/tools/audit_device_db.py
  custom_components/ramses_extras/features/hello_world/__init__.py
  custom_components/ramses_extras/features/hello_world/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hello_world/platforms/switch.py
  custom_components/ramses_extras/features/hello_world/websocket_commands.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/messages_provider.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/brand_customization/models.py
  custom_components/ramses_extras/framework/helpers/common/validation.py
  custom_components/ramses_extras/framework/helpers/platform.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/translations.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  tests/helpers/test_entity_naming_simple.py
Due: Framework, Humidity Control, Default Feature, Hello World

workflow: bump py 3.14, ha 2026.3.0, mypy, makefile, pre-commit-config
  Makefile
  setup.py
Due: none

fix import issues: Message._from_pkt()
  tests/features/ramses_debugger/test_messages_provider.py
Due: none

bump 0.19.9
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

new feature: Temp Control framework: added select platform hvac fan card: adapt to the new Temp Control feature
  custom_components/ramses_extras/config_flow.py
  custom_components/ramses_extras/const.py
  custom_components/ramses_extras/extras_registry.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/features/temp_control/__init__.py
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  custom_components/ramses_extras/features/temp_control/platforms/__init__.py
  custom_components/ramses_extras/features/temp_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/temp_control/platforms/select.py
  custom_components/ramses_extras/features/temp_control/platforms/sensor.py
  custom_components/ramses_extras/features/temp_control/platforms/switch.py
  custom_components/ramses_extras/framework/base_classes/platform_entities.py
  custom_components/ramses_extras/framework/helpers/entity/core.py
  custom_components/ramses_extras/framework/setup/features.py
  custom_components/ramses_extras/select.py
  custom_components/ramses_extras/translations/en.json
  custom_components/ramses_extras/translations/nl.json
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  scripts/generate_synthetic_replies.py
Due: Framework, HVAC Fan Card

phase 3 done, phase 4 partial
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/temp_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/temp_control/platforms/select.py
  custom_components/ramses_extras/features/temp_control/platforms/sensor.py
  custom_components/ramses_extras/features/temp_control/platforms/switch.py
  custom_components/ramses_extras/framework/www/card-validation.js
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/test_main_init.py
Due: HVAC Fan Card

adapt plan for areas/zones
  docs/TEMP_CONTROL_FEATURE_PLAN.md
Due: none

add tests fix python 2 syntax errors in automation and config.py
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/features/temp_control/__init__.py
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_const.py
Due: none

fix entities being wiped out when enable a feature
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  tests/framework/test_simple_entity_manager.py
Due: Framework

fix entities being wiped (other devices)
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
  tests/framework/test_simple_entity_manager.py
Due: Framework

fix toggle switch temp control not working fix translations fix missing id (top section)
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/en.json
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/translations/nl.json
  custom_components/ramses_extras/features/temp_control/automation.py
  tests/features/temp_control/test_temp_control_automation.py
Due: HVAC Fan Card

fix bug: fan config-internal fan sensors not saving correct
  custom_components/ramses_extras/features/sensor_control/device_types/fan.py
Due: Sensor Control

fix override resolver sensors not showing on hvac card (fan configuration- internal sensors)
  custom_components/ramses_extras/features/default/websocket_commands.py
Due: Default Feature

use outdoor temp/hum instead of supply (to be able to use external sensors/helpers)
  custom_components/ramses_extras/features/temp_control/automation.py
  custom_components/ramses_extras/features/temp_control/config.py
  custom_components/ramses_extras/features/temp_control/config_flow.py
  custom_components/ramses_extras/features/temp_control/const.py
  docs/TEMP_CONTROL_FEATURE_PLAN.md
  tests/features/temp_control/test_temp_control_automation.py
  tests/features/temp_control/test_temp_control_config.py
  tests/features/temp_control/test_temp_control_const.py
Due: none

Path conditions:
  Framework: any of: custom_components/ramses_extras/framework/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Humidity Control: any of: custom_components/ramses_extras/features/humidity_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  HVAC Fan Card: any of: custom_components/ramses_extras/features/hvac_fan_card/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Sensor Control: any of: custom_components/ramses_extras/features/sensor_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Default Feature: any of: custom_components/ramses_extras/features/default/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Hello World: any of: custom_components/ramses_extras/features/hello_world/**, but not: tests/, custom_components/ramses_extras/framework/www/
