Repository wimpie70/ramses_extras: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Humidity Control, HVAC Fan Card, Sensor Control, Default Feature, Hello World

fix scroll position jumps on re-render
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

bump 0.13.3 pre-release
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  requirements.txt
  requirements_test.txt
  setup.py
Due: Framework

fix ha version mismatch
  pyproject.toml
  requirements.txt
  requirements_test.txt
Due: none

more focus fixes
  custom_components/ramses_extras/features/ramses_debugger/todo.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/framework/www/card-translations.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

debugger: fix hight and font styles
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-messages-viewer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
Due: none

bump 0.13.4
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: Framework

fix duplicate feature start: hello world
  custom_components/ramses_extras/features/hello_world/__init__.py
Due: Hello World

add +- buttons, linenumbers in logs and search result
  custom_components/ramses_extras/features/ramses_debugger/log_backend.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
Due: none

fix line numbers in debugger
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/card-styles.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

remove versioned deployment and use stable path fix console spam when WS not found
  custom_components/ramses_extras/framework/helpers/card_registry.py
  custom_components/ramses_extras/framework/helpers/paths.py
  custom_components/ramses_extras/framework/setup/cards.py
Due: Framework

bump 0.13.5 pre-release
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

fix blocking call ws_log_get_tail
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
Due: none

fix tail line number updates
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
Due: none

fix auto scroll on messages-container fix console -> logger
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
Due: none

fix tests
  tests/features/ramses_debugger/test_websocket_commands.py
  tests/framework/helpers/test_card_registry.py
  tests/framework/test_cards.py
  tests/helpers/test_paths.py
  tests/test_card_deployment.py
Due: none

add render debouncing...we re-render too often disrupting user input check version diff between frontend and backend and show banner on mismatch enhance websocket cachinig
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/framework/helpers/websocket_base.py
  custom_components/ramses_extras/framework/www/card-services.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  custom_components/ramses_extras/framework/www/version-banner.js
  docs/CARD_PERFORMANCE_IMPROVEMENTS.md
  docs/mytodo.txt
Due: Framework

bump to 0.13.6 pre-release
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

fix websocket command inheritance fix version injection to compare frontend with backend update tests
  IMPLEMENTATION_SUMMARY.md
  TEST_FIXES_NEEDED.md
  custom_components/ramses_extras/features/default/websocket_commands.py
  custom_components/ramses_extras/features/ramses_debugger/websocket_commands.py
  custom_components/ramses_extras/framework/www/main.js
  tests/features/default/test_default_websocket_commands.py
  tests/features/ramses_debugger/test_ramses_debugger_log.py
  tests/features/ramses_debugger/test_ramses_debugger_traffic.py
  tests/features/ramses_debugger/test_websocket_commands.py
Due: Default Feature

bump to 0.13.7 pre-release
  IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

Move Version mismatch banner to basecard so it works for all our cards Now using DOM manipulation instead of banner so it works the same as 'initialization'
  VERSION_BANNER_UPDATE.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

bump to 0.13.8 pre-release
  IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

bump to 0.13.9 pre-release
  IMPLEMENTATION_SUMMARY.md
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

block WS calls on version mismatch
  WEBSOCKET_BLOCKING.md
  custom_components/ramses_extras/framework/www/card-services.js
Due: none

bump 0.13.10 pre-
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

bump 0.13.11 pre-
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

bump 0.13.12 pre-
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

fix iniitalization bypass (cards stopped on initializatin)
  WEBSOCKET_BLOCKING.md
  custom_components/ramses_extras/framework/www/card-services.js
Due: none

bump 0.13.13 pre-
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

bump 0.14.0
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

more fixes to fix re-renders
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

bump to 0.14.1 pre-release
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

version banner now works for all cards ui state preservation now works for all cards
  BASE_CARD_AUTOMATIC_FEATURES.md
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-packet-log-explorer.js
  custom_components/ramses_extras/features/ramses_debugger/www/ramses_debugger/ramses-traffic-analyser.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: none

bump 0.14.1 pre-
  custom_components/ramses_extras/manifest.json
  docs/RAMSES_EXTRAS_ARCHITECTURE.md
  pyproject.toml
  setup.py
Due: none

prevent retry loop on version mismatch
  WEBSOCKET_BLOCKING.md
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/mytodo.txt
Due: HVAC Fan Card

version fixes for hvac fan card
  TESTING_VERSION_MISMATCH.md
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  docs/mytodo.txt
Due: none

refactor hvac fan card to use <ha-card> instead of <body>
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-footer.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/card-header.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/controls-section.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/parameter-edit.js
  custom_components/ramses_extras/framework/www/ramses-base-card.js
Due: HVAC Fan Card

update HA requirements
  .github/workflows/tests.yml
  README.md
  docs/Quick-Reference.md
  pyproject.toml
  requirements.txt
  requirements_dev.txt
  requirements_test.txt
  setup.py
Due: none

clean up version banner logic
  custom_components/ramses_extras/framework/www/ramses-base-card.js
  custom_components/ramses_extras/framework/www/version-banner.js
  docs/mytodo.txt
Due: none

fix hello world switch update
  custom_components/ramses_extras/features/hello_world/automation.py
Due: Hello World

fix pytest
  tests/features/hello_world/test_hello_world_automation.py
Due: none

Path conditions:
  Framework: any of: custom_components/ramses_extras/framework/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Humidity Control: any of: custom_components/ramses_extras/features/humidity_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  HVAC Fan Card: any of: custom_components/ramses_extras/features/hvac_fan_card/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Sensor Control: any of: custom_components/ramses_extras/features/sensor_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Default Feature: any of: custom_components/ramses_extras/features/default/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Hello World: any of: custom_components/ramses_extras/features/hello_world/**, but not: tests/, custom_components/ramses_extras/framework/www/
