Repository wimpie70/ramses_extras: changes, and which Codecov flags are due for each by the changed paths.
All: Framework, Humidity Control, HVAC Fan Card, Sensor Control, Default Feature, Hello World

fix automation
  custom_components/ramses_extras/features/co2_control/automation.py
  tests/features/co2_control/test_co2_automation_manager.py
Due: none

fix loop causing ha to break
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/co2_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/sensor.py
  custom_components/ramses_extras/features/co2_control/platforms/switch.py
Due: none

fix co2 threshold / area
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/sensor_control/config_flow.py
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/sensor_control/test_resolver.py
  tests/features/sensor_control/test_sensor_control_config_flow.py
Due: Sensor Control

fix co2 threshold / listener
  custom_components/ramses_extras/features/co2_control/automation.py
Due: none

fix co2 threshold / listener improve hvac fan card highlighting
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/sensor_control/test_resolver.py
Due: HVAC Fan Card, Sensor Control

fix highlighting fix speed overrule by humidity control
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
Due: Humidity Control, HVAC Fan Card

plan
  docs/FAN_SPEED_ARBITRATION_IMPLEMENTATION_PLAN.md
Due: none

implement centralized arbiter for fan speed control
  custom_components/ramses_extras/features/co2_control/__init__.py
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/humidity_control/__init__.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/__init__.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/features/co2_control/test_co2_automation_helpers.py
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/co2_control/test_co2_feature_factory.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_brand_customizers.py
  tests/features/humidity_control/test_humidity_control_init.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: Framework, Humidity Control

fix resume_from_co2
  custom_components/ramses_extras/features/humidity_control/automation.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
Due: Humidity Control

fix co2 automation
  custom_components/ramses_extras/features/co2_control/automation.py
  tests/features/co2_control/test_co2_automation_helpers.py
Due: none

fix automation logic
  custom_components/ramses_extras/features/humidity_control/automation.py
  tests/features/co2_control/test_co2_automation_helpers.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
Due: Humidity Control

fix max humidity 66->60%
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
Due: Humidity Control

fix card design
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: HVAC Fan Card

bump 0.18.0
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

fix Prototype Pollution via parse() in NodeJS flatted #25
  config/package-lock.json
Due: none

fix hvac fan card display sensorvalues
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
Due: HVAC Fan Card

harden resolver for missing entities
  custom_components/ramses_extras/features/sensor_control/resolver.py
  tests/features/sensor_control/test_resolver.py
Due: Sensor Control

bump 0.18.1
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

fix humidity control device filter
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/humidity_control/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/platforms/number.py
  custom_components/ramses_extras/features/humidity_control/platforms/switch.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/features/humidity_control/test_humidity_platforms.py
Due: Humidity Control

bump 0.18.2
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

monitor fan communication pause communication when disconnected to fan indicate on/offline status in hvac fan card
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/__init__.py
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/card-styles.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/template-helpers.js
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/templates/top-section.js
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/test_transport_monitor.py
Due: Framework, Humidity Control, HVAC Fan Card, Default Feature

fix binary sensor fix transport monitor
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
  tests/framework/test_transport_monitor.py
Due: Framework, Default Feature

fix binary sensor fix tests
  custom_components/ramses_extras/binary_sensor.py
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
Due: Framework, Default Feature

fix binary sensor
  custom_components/ramses_extras/features/default/const.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
Due: HVAC Fan Card, Default Feature

fix validator partial matrix bug fix id format for binary_sensor.32_153289_transport_state
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/const.py
  custom_components/ramses_extras/framework/helpers/entity/simple_entity_manager.py
Due: Framework, HVAC Fan Card, Default Feature

fix binary sensor
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/hvac_fan_card/www/hvac_fan_card/hvac-fan-card.js
  custom_components/ramses_extras/framework/helpers/entity/core.py
Due: Framework, HVAC Fan Card, Default Feature

fix how we monitor on/offline device status
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/default/platforms/binary_sensor.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/base_classes/base_automation.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  custom_components/ramses_extras/framework/helpers/ramses_commands.py
  custom_components/ramses_extras/framework/helpers/transport_monitor.py
Due: Framework, Humidity Control, Default Feature

update .md update tests
  docs/TRANSPORT_MONITORING.md
  tests/features/co2_control/test_co2_automation_manager.py
  tests/features/default/test_default_const.py
  tests/features/humidity_control/test_humidity_automation_mgr.py
  tests/framework/test_simple_entity_manager.py
  tests/framework/test_transport_monitor.py
  tests/unit/test_simple_entity_manager.py
Due: none

bump 0.18.3
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

fix enable/disable -> auto speed for automations
  custom_components/ramses_extras/features/co2_control/automation.py
  custom_components/ramses_extras/features/humidity_control/automation.py
  custom_components/ramses_extras/framework/helpers/fan_speed_arbiter.py
  tests/framework/helpers/test_fan_speed_arbiter.py
Due: Framework, Humidity Control

fix dependabot issues
  .github/dependabot.yml
  .github/workflows/check-lint.yml
  .github/workflows/hacs-validate.yml
  .github/workflows/hassfest.yml
  .github/workflows/tests.yml
  Makefile
  config/.eslintignore
  config/eslint.config.js
  config/package-lock.json
  config/package.json
  eslint.config.js
  scripts/local-ci.sh
Due: none

workflow fixes
  .github/workflows/check-lint.yml
  .github/workflows/hassfest.yml
  .github/workflows/tests.yml
  package.json
Due: none

workflow fixes
  .github/workflows/hassfest.yml
Due: none

workflow fixes
  config/package.json
Due: none

workflow fixes
  .github/workflows/check-lint.yml
  .github/workflows/tests.yml
  package.json
Due: none

workflow fixes
  package.json
  tests/frontend/test-hvac-fan-card.js
Due: none

bump 0.18.4
  custom_components/ramses_extras/manifest.json
  pyproject.toml
  setup.py
Due: none

Path conditions:
  Framework: any of: custom_components/ramses_extras/framework/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Humidity Control: any of: custom_components/ramses_extras/features/humidity_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  HVAC Fan Card: any of: custom_components/ramses_extras/features/hvac_fan_card/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Sensor Control: any of: custom_components/ramses_extras/features/sensor_control/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Default Feature: any of: custom_components/ramses_extras/features/default/**, but not: tests/, custom_components/ramses_extras/framework/www/
  Hello World: any of: custom_components/ramses_extras/features/hello_world/**, but not: tests/, custom_components/ramses_extras/framework/www/
